<div class="reset-password-container">
  <h2 class="title">Restablecer Contraseña</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card class="reset-password-card">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nueva Contraseña</mat-label>
        <input matInput type="password" formControlName="nuevaContrasena" required />
        <mat-error *ngIf="form.get('nuevaContrasena')?.hasError('required')">Este campo es obligatorio</mat-error>
        <mat-error *ngIf="form.get('nuevaContrasena')?.hasError('minlength')">Mínimo 8 caracteres</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirmar Contraseña</mat-label>
        <input matInput type="password" formControlName="confirmarContrasena" required />
        <mat-error *ngIf="form.get('confirmarContrasena')?.hasError('required')">Este campo es obligatorio</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" class="full-width" [disabled]="cargando">
        Restablecer Contraseña
      </button>

      <div *ngIf="cargando" class="loading-spinner">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </mat-card>
  </form>
</div>
