<div class="buscar-persona-container" *ngIf="!persona">
  <h1>Buscar Persona</h1>
  <mat-form-field appearance="outline">
    <mat-label>Número De Identificación</mat-label>
    <input matInput type="text" [(ngModel)]="n_identificacion" placeholder="Ingrese El Número De Identificación">
  </mat-form-field>
  <button style="color: white;" mat-raised-button color="primary" (click)="buscarPersona()">Buscar</button>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</div>

<div *ngIf="persona" class="perfil-header">
  <div class="header-actions">
    <button mat-icon-button (click)="resetBusqueda()" class="search-again">
      <mat-icon>search</mat-icon>
    </button>
    <span class="search-text">Buscar otra persona</span>
  </div>
  <div class="perfil-foto">
    <img *ngIf="persona?.foto_perfil" [src]="getFotoUrl(persona.foto_perfil)" alt="Foto de Perfil">
    <img *ngIf="!persona?.foto_perfil" [src]="defaultFotoUrl" alt="Foto de Perfil por Defecto">
  </div>
  <div class="perfil-datos">
    <h2>{{ persona?.primer_nombre }} {{ persona?.segundo_nombre }} {{ persona?.tercer_nombre }} {{ persona?.primer_apellido }} {{ persona?.segundo_apellido }}</h2>
    <p><strong>DNI:</strong> {{ persona?.n_identificacion }}</p>
    <p><strong>Teléfono:</strong> {{ persona?.telefono_1 }}</p>
    <p><strong>Correo Principal:</strong> {{ persona?.correo_1 }}</p>
    <p><strong>Género:</strong> {{ persona?.genero || 'No especificado' }}</p>
    <p><strong>Fecha de Nacimiento:</strong> {{ persona?.fecha_nacimiento | date: 'dd MMMM yyyy' }}</p>
  </div>
</div>
