<h2 mat-dialog-title class="dialog-title">Seleccione una opción</h2>

<mat-dialog-content>
  <div *ngIf="dynamicParams.length" class="params-container">
    <div *ngFor="let param of dynamicParams" class="param-item">
      <label>{{ param.label }}</label>
      <input *ngIf="param.type === 'number'" type="number" [(ngModel)]="param.value" class="param-input" />
      <input *ngIf="param.type === 'text'" type="text" [(ngModel)]="param.value" class="param-input" />
      <input *ngIf="param.type === 'date'" type="date" [(ngModel)]="param.value" class="param-input" />
    </div>
  </div>

  <div class="options-container">
    <button
      mat-raised-button
      color="primary"
      class="benefit-button"
      *ngFor="let option of data.options"
      (click)="onOptionClick(option)"
    >
      {{ option }}
    </button>
  </div>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-button class="close-button" (click)="onClose()">Cerrar</button>
</mat-dialog-actions>
