<div class="card">
    <div class="card-header card-header-danger tittle">
        <h4 class="card-title">Datos Bancarios</h4>
        <p class="card-category">Completa la información correspondiente</p>
    </div>
    <div class="card-body">
        <form [formGroup]="form2" (change)="onDatosBancChange()">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="example-full-width; inputs" appearance="outline">
                        <mat-label>Nombre del Banco</mat-label>
                        <select matNativeControl formControlName="nombreBanco">
                            <option *ngFor="let p of Bancos" [value]="p.value">
                                {{p.value}}
                            </option>
                        </select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="example-full-width; inputs" appearance="outline">
                        <mat-label>Número de Cuenta</mat-label>
                        <input matInput formControlName="numeroCuenta">
                        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
</div>