<div class="login-container">
  <mat-card class="login-card">
    <div class="text-center">
      <img src="assets/images/LOGO INPRENET.png" width="320px" height="70px" alt="Descripción de la imagen">
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <h1 style="color:grey; text-align: center;">Inicio de sesión</h1>
      <p class="text-medium-emphasis">Para ingresar a tu cuenta</p>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Correo Electrónico</mat-label>
        <input matInput formControlName="email" placeholder="Correo Electrónico" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Contraseña" />
      </mat-form-field>
      <div *ngIf="!loading; else loadingTemplate" class="button-row">
        <button mat-raised-button color="primary" type="submit" class="general">Ingresar</button>
        <button mat-button color="warn" (click)="redirectOlvidoContrasena()">¿Olvidaste tu contraseña?</button>
      </div>
      <ng-template #loadingTemplate>
        <div class="spinner-container">
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
      </ng-template>
    </form>
  </mat-card>
</div>