<div style="margin: 1% 0% 1% 0%; text-align: center; background-color: white">
  <app-dynamic-form [fields]="myFormFields" titulo="Buscar Causante" subtitulo="Completa la información correspondiente"
    (newDatBenChange)="obtenerDatos($event)"></app-dynamic-form>
  <div class="row" style="text-align: center;  margin: 1%;">
    <div class="col-md-6">
      <button mat-raised-button color="primary" style="color: white; margin: 1% 0 1% 0" [disabled]="form.invalid"
        (click)="previsualizarInfoAfil()">
        Previsualizar información del afiliado
      </button>
    </div>
    <div class="col-md-6" *ngIf="prevAfil">
      <button mat-raised-button color="primary" style="color: white; margin: 1% 0 1% 0" [disabled]="form.invalid "
        (click)="AgregarBeneficiario()">
        Agregar Beneficiario
      </button>
    </div>
  </div>
</div>

<div id="texto" style="text-align: center;" *ngIf="!Afiliado">
  <h2 class="anaranjado desapareciendo">No se encuentra ningún registro</h2>
</div>

<div id="texto" style="text-align: center;" *ngIf="filas.length == 0">
  <h2 class="anaranjado desapareciendo">No se encuentra ningún beneficiario</h2>
</div>

<div *ngIf="Afiliado" style="background-color: white; margin: 1% 0% 1% 0%; padding: 1% 0% 1% 0%">
  <h1 style="text-align: center; font-size: 2rem">Datos Generales Afiliado</h1>
  <div>
    <table>
      <tr style="background-color: #f2f2f2">
        <th>Nombre de afiliado</th>
        <td>{{ Afiliado.nameAfil }}</td>
        <th>genero</th>
        <td>{{ Afiliado.GENERO }}</td>
        <th>Dirección de residencia</th>
        <td>{{ Afiliado.DIRECCION_RESIDENCIA }}</td>
        <th>Estado</th>
        <td>{{ Afiliado.ESTADO }}</td>
        <th>Fecha nacimiento</th>
        <td>{{ convertirFechaInputs(Afiliado.FECHA_NACIMIENTO) }}</td>
        <th>Colegio magisterial</th>
        <td>{{ Afiliado.COLEGIO_MAGISTERIAL }}</td>
      </tr>
      <tr>
        <th>Número de carnet</th>
        <td>{{ Afiliado.NUMERO_CARNET }}</td>
        <th>Profesión</th>
        <td>{{ Afiliado.PROFESION }}</td>
        <th>Teléfono 1</th>
        <td>{{ Afiliado.TELEFONO_1 }}</td>
        <th>Estado civil</th>
        <td>{{ Afiliado.ESTADO_CIVIL }}</td>
      </tr>
    </table>
  </div>

</div>

<div *ngIf="filas.length != 0 " style="background-color: white; border-radius: 10px; padding: 20px">
  <app-dynamic-table style="width: 100%" titulo="Editar Beneficiarios"
    subtitulo="Completa la información correspondiente" [columns]="myColumns" [data]="filas" [getData]="getFilas"
    (ejecutarFuncionAsincronaEvent)="ejecutarFuncionAsincronaDesdeOtroComponente($event)"
    [nombreEncabezadoUno]="'Acciones'" [mostrarBotonUno]="true" [etiquetaBotonUno]="'Editar'"
    (accionBotonUno)="manejarAccionUno($event)" [nombreEncabezadoUno]="'Acciones'" [mostrarBotonDos]="true"
    [etiquetaBotonDos]="'Eliminar'" (accionBotonDos)="manejarAccionDos($event)">
  </app-dynamic-table>
</div>