<app-ver-planillas-activas (getElemSeleccionados)="getElemSeleccionados($event)"></app-ver-planillas-activas>

<div class="basic-container " >
  <div class="card">
    <mat-tab-group>

      <mat-tab label="Cargar Beneficios">
        <div>
          <!-- Botón con confirmación -->
          <button
          *ngIf="tipoPlanilla === 'ORDINARIA DE BENEFICIARIOS'"
          mat-raised-button
          color="primary"
          class="asignar-beneficios-btn"
          (click)="confirmarAsignacionBeneficiarios()">
          Asignar beneficios a planilla ordinaria de Beneficiarios y Afiliados
          </button>

          <!-- Modal de confirmación -->
          <ng-template #confirmarAsignacionBeneficiariosModal>
          <h2 mat-dialog-title>Confirmar asignación</h2>
          <mat-dialog-content>
            <p>¿Estás seguro de asignar los beneficios a la planilla ordinaria de Beneficiarios y Afiliados?</p>
          </mat-dialog-content>
          <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close="cancelar">Cancelar</button>
            <button mat-button color="primary" [mat-dialog-close]="'confirmar'">Confirmar</button>
          </mat-dialog-actions>
          </ng-template>
          <!-- Botón con confirmación -->
          <button *ngIf="tipoPlanilla === 'ORDINARIA DE JUBILADOS Y PENSIONADOS'"
          mat-raised-button
          (click)="confirmarAsignacionBeneficios()"
          color="primary"
          class="asignar-beneficios-btn">
          Asignar beneficios a planilla ordinaria de Jubilados y Pensionados
          </button>

          <!-- Modal de confirmación -->
          <ng-template #confirmarAsignacionModal>
          <h2 mat-dialog-title>Confirmar asignación</h2>
          <mat-dialog-content>
          <p>¿Estás seguro de asignar los beneficios a la planilla ordinaria de Jubilados y Pensionados?</p>
          </mat-dialog-content>
          <mat-dialog-actions align="end">
          <button mat-button mat-dialog-close="cancelar">Cancelar</button>
          <button mat-button color="primary" [mat-dialog-close]="'confirmar'">Confirmar</button>
          </mat-dialog-actions>
          </ng-template>

          <div>
            <!-- Botón con confirmación -->
            <button *ngIf="tipoPlanilla === 'COMPLEMENTARIA DE BENEFICIARIOS'"
            mat-raised-button
            color="primary"
            class="asignar-beneficios-btn"
            (click)="confirmarAsignacionComplementaria()">
            Asignar beneficios a planilla complementaria de Beneficiarios y Afiliados
            </button>

            <!-- Modal de confirmación -->
            <ng-template #confirmarAsignacionComplementariaModal>
            <h2 mat-dialog-title>Confirmar asignación</h2>
            <mat-dialog-content>
            <p>¿Estás seguro de asignar los beneficios a la planilla complementaria de Beneficiarios y Afiliados?</p>
            </mat-dialog-content>
            <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close="cancelar">Cancelar</button>
            <button mat-button color="primary" [mat-dialog-close]="'confirmar'">Confirmar</button>
            </mat-dialog-actions>
            </ng-template>

           <!-- Botón con confirmación -->
            <button *ngIf="tipoPlanilla === 'COMPLEMENTARIA DE JUBILADOS Y PENSIONADOS'"
                    mat-raised-button
                    color="primary"
                    class="asignar-beneficios-btn"
                    (click)="confirmarAsignacionJubilados()">
              Asignar beneficios a planilla complementaria de Jubilados y Pensionados
            </button>

            <!-- Modal de confirmación -->
            <ng-template #confirmarAsignacionJubiladosModal>
              <h2 mat-dialog-title>Confirmar asignación</h2>
              <mat-dialog-content>
                <p>¿Estás seguro de asignar los beneficios a la planilla complementaria de Jubilados y Pensionados?</p>
              </mat-dialog-content>
              <mat-dialog-actions align="end">
                <button mat-button mat-dialog-close="cancelar">Cancelar</button>
                <button mat-button color="primary" [mat-dialog-close]="'confirmar'">Confirmar</button>
              </mat-dialog-actions>
            </ng-template>
          </div>

        </div>
      </mat-tab>

      <mat-tab label="Cargar Deducciones de Terceros" *ngIf="(id_planilla && tipoPlanilla === 'ORDINARIA DE BENEFICIARIOS') || ( id_planilla && tipoPlanilla === 'ORDINARIA DE JUBILADOS Y PENSIONADOS') || ( id_planilla && tipoPlanilla === 'COMPLEMENTARIA DE JUBILADOS Y PENSIONADOS') || ( id_planilla && tipoPlanilla === 'COMPLEMENTARIA DE BENEFICIARIOS')">
        <div>
          <app-asignacion-deducciones [id_planilla]="id_planilla" [idTipoPlanilla]="idTipoPlanilla" [tipo_planilla]="tipoPlanilla"></app-asignacion-deducciones>
        </div>
      </mat-tab>

      <mat-tab label="Cálculo de Planilla" *ngIf="id_planilla">
        <div>
          <button
          mat-raised-button
          color="primary"
          class="asignar-beneficios-btn"
          (click)="confirmarCalculoPlanilla()">
          Cálculo de planilla, Quitar inconsistencias de negativos.
          </button>

          <ng-template #confirmarCalculoPlanillaModal>
          <h2 mat-dialog-title>Confirmar cálculo de planilla</h2>
          <mat-dialog-content>
            <p>¿Estás seguro de ejecutar el procedimiento de calculo de planilla, para quitar valores negativos segun prioridad de las deducciones?</p>
          </mat-dialog-content>
          <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close="cancelar">Cancelar</button>
            <button mat-button color="primary" [mat-dialog-close]="'confirmar'">Confirmar</button>
          </mat-dialog-actions>
          </ng-template>

        </div>
      </mat-tab>

    </mat-tab-group>

  </div>


</div>


<!-- <div class="manual-benefits-section" *ngIf="(id_planilla && tipoPlanilla === 'ORDINARIA DE BENEFICIARIOS') || id_planilla && tipoPlanilla === 'ORDINARIA DE JUBILADOS Y PENSIONADOS'">
  <h3>Asignar Beneficios Manualmente</h3>
  <mat-form-field appearance="outline">
    <mat-label>Buscar por DNI</mat-label>
    <input matInput [(ngModel)]="dni" placeholder="Ingrese el DNI">
    <button mat-raised-button color="primary" (click)="buscarBeneficiosPorDni()">Buscar Beneficios</button>
  </mat-form-field>

  <table mat-table [dataSource]="beneficios" class="mat-elevation-z8" *ngIf="beneficios.length > 0">

    <ng-container matColumnDef="causante">
      <th mat-header-cell *matHeaderCellDef> Causante </th>
      <td mat-cell *matCellDef="let beneficio">
        {{ beneficio?.causante?.nombres }} {{ beneficio?.causante?.apellidos }} - {{ beneficio?.causante?.n_identificacion }}
      </td>
    </ng-container>


    <ng-container matColumnDef="beneficio">
      <th mat-header-cell *matHeaderCellDef> Beneficio </th>
      <td mat-cell *matCellDef="let beneficio">
        {{ beneficio?.beneficio?.nombre_beneficio }}
      </td>
    </ng-container>


    <ng-container matColumnDef="montoPorPeriodo">
      <th mat-header-cell *matHeaderCellDef> Monto por Periodo </th>
      <td mat-cell *matCellDef="let beneficio">
        {{ beneficio?.detalleBeneficio?.monto_por_periodo | currency : "L" : "symbol" : "1.2-2" }}
      </td>
    </ng-container>


    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef> Asignar </th>
      <td mat-cell *matCellDef="let beneficio">
        <button mat-raised-button color="accent" (click)="seleccionarBeneficio(beneficio)">Asignar</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['causante', 'beneficio', 'montoPorPeriodo', 'select']"></tr>=

    <tr mat-row *matRowDef="let row; columns: ['causante', 'beneficio', 'montoPorPeriodo', 'select']"></tr>
  </table>

</div> -->
