<!-- <div id="texto" style="text-align: center;" *ngIf="filasT.length == 0">
    <h2 class="anaranjado desapareciendo">No se encuentra ningún dato bancario</h2>
</div> -->

<button mat-raised-button color="primary" style="color: white; margin: 1% 0 1% 0" (click)="AgregarReferencia()">
    Agregar Referencia
</button>

<div style="background-color: white; border-radius: 10px; padding: 20px">
    <app-dynamic-table style="width: 100%" titulo="Editar Referencias"
        subtitulo="Completa la información correspondiente" [columns]="myColumns" [data]="filasT" [getData]="getFilas"
        (ejecutarFuncionAsincronaEvent)="
            ejecutarFuncionAsincronaDesdeOtroComponente($event)" [mostrarBotonUno]="true"
        [etiquetaBotonUno]="'Eliminar'" (accionBotonUno)="manejarAccionUno($event)">
    </app-dynamic-table>
</div>