<div class="perfil-container">
  <div class="perfil-header">
    <div class="perfil-foto">
      <img *ngIf="persona.foto_perfil" [src]="getFotoUrl(persona.foto_perfil)" alt="Foto de Perfil">
    </div>
    <div class="perfil-datos">
      <h2>{{ persona.primer_nombre }} {{ persona.segundo_nombre }} {{ persona.tercer_nombre }} {{ persona.primer_apellido }} {{ persona.segundo_apellido }}</h2>
      <p><strong>DNI:</strong> {{ persona.dni }}</p>
      <p><strong>Teléfono:</strong> {{ persona.telefono_1 }}</p>
      <p><strong>Correo Principal:</strong> {{ persona.correo_1 }}</p>
      <p><strong>Género:</strong> {{ persona.genero }}</p>
      <p><strong>Fecha de Nacimiento:</strong> {{ convertirFechaInputs(persona.fecha_nacimiento) }}</p>
    </div>
  </div>
  <mat-tab-group *ngIf="persona">
    <mat-tab label="Información General">
      <app-informacion-general [persona]="persona"></app-informacion-general>
    </mat-tab>
    <mat-tab *ngFor="let detalle of detallePersona" [label]="detalle.tipoPersona.tipo_persona">
      <ng-container [ngSwitch]="detalle.tipoPersona.tipo_persona">
        <app-beneficiario *ngSwitchCase="'BENEFICIARIO'" [detalle]="detalle"></app-beneficiario>
        <app-pensionado *ngSwitchCase="'PENSIONADO'" [detalle]="detalle"></app-pensionado>
        <app-voluntario *ngSwitchCase="'VOLUNTARIO'" [detalle]="detalle"></app-voluntario>
        <app-jubilado *ngSwitchCase="'JUBILADO'" [detalle]="detalle"></app-jubilado>
      </ng-container>
    </mat-tab>
  </mat-tab-group>
</div>
