<div class="perfil-container">
  <div class="header-actions">
    <button mat-icon-button (click)="resetBusqueda2()" class="search-again">
      <mat-icon>search</mat-icon>
    </button>
    <span class="search-text">Buscar otra persona</span>
  </div>
  <div class="perfil-header">
    <div class="perfil-foto">
      <img *ngIf="persona.foto_perfil" [src]="getFotoUrl(persona.foto_perfil)" alt="Foto de Perfil">
    </div>
    <div class="perfil-datos">
      <h2>{{ persona.primer_nombre }} {{ persona.segundo_nombre }} {{ persona.tercer_nombre }} {{
        persona.primer_apellido }} {{ persona.segundo_apellido }}</h2>
      <p><strong>DNI:</strong> {{ persona.n_identificacion }}</p>
      <p><strong>Teléfono:</strong> {{ persona.telefono_1 }}</p>
      <p><strong>Correo Principal:</strong> {{ persona.correo_1 }}</p>
      <p><strong>Género:</strong> {{ persona.genero }}</p>
      <p><strong>Fecha de Nacimiento:</strong> {{ formatDate(persona.fecha_nacimiento) }}</p>
    </div>
  </div>
  <mat-tab-group dynamicHeight>
    <mat-tab label="INFORMACIÓN GENERAL">
      <app-informacion-general [persona]="persona"></app-informacion-general>
    </mat-tab>
    <mat-tab *ngFor="let detalle of detallePersonaUnico; trackBy: trackByPerfil"
      [label]="detalle.tipoPersona.tipo_persona">
      <ng-container [ngSwitch]="detalle.tipoPersona.tipo_persona">
        <app-afiliado *ngSwitchCase="'AFILIADO'" [persona]="persona"></app-afiliado>
        <app-beneficiario *ngSwitchCase="'BENEFICIARIO'" [persona]="persona"></app-beneficiario>
        <app-pensionado *ngSwitchCase="'PENSIONADO'" [persona]="persona"></app-pensionado>
        <app-voluntario *ngSwitchCase="'VOLUNTARIO'" [persona]="persona"></app-voluntario>
        <app-jubilado *ngSwitchCase="'JUBILADO'" [persona]="persona"></app-jubilado>
      </ng-container>
    </mat-tab>
  </mat-tab-group>
</div>