<div class="card-container">
  <div class="search-card">
    <app-perfil-header 
      [consultaAlternativa]="otraConsultaOpcional" 
      (personaEncontrada)="handlePersonaEncontrada($event)">
    </app-perfil-header>
  </div>

  <div *ngIf="tipoAfiliado" class="additional-info" [@fadeInOut]>
    <mat-card>
      <mat-card-content>
        <div class="info-section">
          <h3>Información Adicional</h3>
          <p><strong>Dirección:</strong> {{ tipoAfiliado.DIRECCION_RESIDENCIA }}</p>
          <p><strong>Departamento de Residencia:</strong> {{ tipoAfiliado.departamentoResidencia }}</p>
          <p><strong>Tipo de Afiliado:</strong> {{ tipoAfiliado.tipoPersona }}</p>
          <p><strong>Estado de Afiliado:</strong> {{ tipoAfiliado.estadoFallecido }}</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
