<div class="card">
  <div class="card-header card-header-danger tittle">
    <h4 class="card-title">Datos Generales</h4>
    <p class="card-category">Completa la información correspondiente</p>
  </div>
  <div class="card-body">
    <form cForm [formGroup]="form" (change)="onDatosGenChange()">
      <div class="row">
        <div class="col-md-4">
          <mat-form-field class="example-full-width; inputs" appearance="outline">
            <mat-label>Tipo de identificación</mat-label>
            <select matNativeControl formControlName="tipoIdent">
              <option *ngFor="let p of tipoIdent" [value]="p.value">
                {{p.value}}
              </option>
            </select>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width; inputs" appearance="outline">
            <mat-label>Número de Identificación</mat-label>
            <input matInput formControlName="numeroIden">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width; inputs" appearance="outline">
            <mat-label>Archivo de Identificación</mat-label>
            <input matInput formControlName="archIdent">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="example-full-width; inputs" appearance="outline">
            <mat-label>Primer Nombre</mat-label>
            <input matInput formControlName="primerNombre">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="example-full-width; inputs" appearance="outline">
            <mat-label>Segundo Nombre</mat-label>
            <input matInput formControlName="segundoNombre">

          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="example-full-width; inputs" appearance="outline">
            <mat-label>Primer Apellido</mat-label>
            <input matInput formControlName="primerApellido">

          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="example-full-width; inputs" appearance="outline">
            <mat-label>Segundo Apellido</mat-label>
            <input matInput formControlName="segundoApellido">

          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="example-full-width; inputs" appearance="outline">
            <mat-label>Tercer Nombre</mat-label>
            <input matInput formControlName="tercerNombre">

          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width; inputs" appearance="outline">
            <mat-label>Fecha de Nacimiento</mat-label>
            <input matInput formControlName="fechaNacimiento" [matDatepicker]="fechaNac">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="fechaNac"></mat-datepicker-toggle>
            <mat-datepicker #fechaNac></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="example-full-width; inputs" appearance="outline">
            <mat-label type="number">Cantidad de dependientes</mat-label>
            <input matInput type="number" formControlName="cantidadDependientes">

          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width; inputs" appearance="outline">
            <mat-label>Cantidad de hijos</mat-label>
            <input matInput type="number" formControlName="cantidadHijos">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="example-full-width; inputs" appearance="outline">
            <mat-label>Sexo</mat-label>
            <select matNativeControl formControlName="Sexo">
              <option *ngFor="let p of Sexo" [value]="p.value">
                {{p.value}}
              </option>
            </select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width; inputs" appearance="outline">
            <mat-label>Profesión</mat-label>
            <input matInput formControlName="profesion">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="example-full-width; inputs" appearance="outline">
            <mat-label>Estado Civil</mat-label>
            <select matNativeControl formControlName="estadoCivil">
              <option *ngFor="let p of estadoCivil" [value]="p.value">
                {{p.value}}
              </option>
            </select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="example-full-width; inputs" appearance="outline">
            <mat-label>Representación</mat-label>
            <mat-icon matIconSuffix>gavel</mat-icon>
            <input matInput formControlName="representacion">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="example-full-width; inputs" appearance="outline">
            <mat-label>Estado</mat-label>
            <input matInput formControlName="estado">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="example-full-width; inputs" appearance="outline">
            <mat-label>Tipo de Cotizante</mat-label>
            <select matNativeControl formControlName="cotizante">
              <option *ngFor="let p of tipoCotizante" [value]="p.value">
                {{p.value}}
              </option>
            </select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="example-full-width; inputs" appearance="outline">
            <mat-label>Teléfono principal</mat-label>
            <mat-icon matIconSuffix>call</mat-icon>
            <input matInput formControlName="telefono1">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width; inputs" appearance="outline">
            <mat-label>Teléfono secundario</mat-label>
            <mat-icon matIconSuffix>call</mat-icon>
            <input matInput formControlName="telefono2">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="example-full-width; inputs" appearance="outline">
            <mat-label>Correo principal</mat-label>
            <mat-icon matIconSuffix>email</mat-icon>
            <input matInput formControlName="correo1">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width; inputs" appearance="outline">
            <mat-label>Correo secundario</mat-label>
            <input matInput formControlName="correo2">
            <mat-icon matIconSuffix>email</mat-icon>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</div>