<br>
<div class="back-button-container">
    <button mat-raised-button color="primary" class="back-button" routerLink="/home/afiliacion/mantenimiento">
        <mat-icon>arrow_back</mat-icon> Regresar al Menú
    </button>
</div>

<mat-card class="mantenimiento-card">
  <mat-card-header>
    <mat-card-title class="title">Gestión de Discapacidades</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <button mat-raised-button color="primary" class="add-button" (click)="openDialogAgregar()">Agregar Discapacidad</button>

    <app-dynamic-table
      titulo="Listado de Discapacidades"
      subtitulo="Administración de Discapacidades"
      [columns]="myColumns"
      [data]="dataSource"
      [getData]="getData"
      (ejecutarFuncionAsincronaEvent)="ejecutarFuncionAsincronaDesdeOtroComponente($event)"
      [mostrarBotonEditar]="true"
      (editar)="openDialogEditar($event)">
    </app-dynamic-table>

  </mat-card-content>
</mat-card>
