<div class="card dados-generales-centro-card">
  <div class="card-header card-header-danger title" style="background: #229e92; color: white">
    <h4 class="card-title">Datos de la Administración del Centro Educativo</h4>
    <p class="card-category">Completa la información correspondiente</p>
  </div>
  <div class="card-body">
    <form [formGroup]="parentForm" (ngSubmit)="onSubmit()">
      <div class="container">
        <h4>Datos del Propietario(a) / Representante Legal</h4>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Nombre del Propietario(a)</mat-label>
              <input matInput formControlName="propietarioNombre" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Colonia / Localidad</mat-label>
              <input matInput formControlName="propietarioColonia" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Barrio / Avenida</mat-label>
              <input matInput formControlName="propietarioBarrio" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Grupo / Calle</mat-label>
              <input matInput formControlName="propietarioGrupo" />
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>N° de Casa</mat-label>
              <input matInput formControlName="propietarioCasa" />
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Departamento</mat-label>
              <mat-select formControlName="propietarioDepartamento" (selectionChange)="onDepartamentoChange($event)">
                <mat-option *ngFor="let departamento of departamentos" [value]="departamento.id_departamento">
                  {{ departamento.nombre_departamento }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Municipio</mat-label>
              <mat-select formControlName="propietarioMunicipio">
                <mat-option *ngFor="let municipio of municipios" [value]="municipio.value">
                  {{ municipio.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Teléfono de Casa</mat-label>
              <input matInput formControlName="propietarioTelefonoCasa" />
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Celular 1</mat-label>
              <input matInput formControlName="propietarioCelular1" />
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Celular 2</mat-label>
              <input matInput formControlName="propietarioCelular2" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Correo Electrónico 1</mat-label>
              <input matInput formControlName="propietarioCorreo1" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Correo Electrónico 2</mat-label>
              <input matInput formControlName="propietarioCorreo2" />
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Otros Puntos de Referencia</mat-label>
              <textarea matInput formControlName="propietarioReferencia"></textarea>
            </mat-form-field>
          </div>
        </div>

        <h4>Administrador</h4>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Nombre del Administrador(a)</mat-label>
              <input matInput formControlName="administradorNombre" />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Teléfono</mat-label>
              <input matInput formControlName="administradorTelefono" />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Correo Electrónico</mat-label>
              <input matInput formControlName="administradorCorreo" />
            </mat-form-field>
          </div>
        </div>

        <h4>Contador</h4>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Nombre del Contador(a)</mat-label>
              <input matInput formControlName="contadorNombre" />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Teléfono</mat-label>
              <input matInput formControlName="contadorTelefono" />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Correo Electrónico</mat-label>
              <input matInput formControlName="contadorCorreo" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
