<div class="container">
  <h1 class="title">MANTENIMIENTO DE AFILIACIONES</h1>
  <div class="card-container">
    <mat-card class="card" routerLink="discapacidad" >
      <mat-card-header>
        <div mat-card-avatar class="card-icon"><mat-icon>accessibility</mat-icon></div>
        <mat-card-title>Discapacidades</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Gestiona las discapacidades.</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card" routerLink="profesion"  >
      <mat-card-header>
        <div mat-card-avatar class="card-icon"><mat-icon>work</mat-icon></div>
        <mat-card-title>Profesiones</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Gestiona las profesiones.</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card" routerLink="colegio" >
      <mat-card-header>
        <div mat-card-avatar class="card-icon"><mat-icon>school</mat-icon></div>
        <mat-card-title>Colegios Magisteriales</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Gestiona los colegios magisteriales.</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card" routerLink="banco">
      <mat-card-header>
        <div mat-card-avatar class="card-icon"><mat-icon>account_balance</mat-icon></div>
        <mat-card-title>Bancos</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Gestiona los bancos.</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card" routerLink="jornada">
      <mat-card-header>
        <div mat-card-avatar class="card-icon"><mat-icon>schedule</mat-icon></div>
        <mat-card-title>Jornadas</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Gestiona las jornadas.</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card" routerLink="nivel-educativo" >
      <mat-card-header>
        <div mat-card-avatar class="card-icon"><mat-icon>school</mat-icon></div>
        <mat-card-title>Niveles Educativos</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Gestiona los niveles educativos.</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card" routerLink="aldea">
      <mat-card-header>
        <div mat-card-avatar class="card-icon"><mat-icon>map</mat-icon></div>
        <mat-card-title>Aldeas</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Gestiona las aldeas.</p>
      </mat-card-content>
    </mat-card>

    <!-- Nueva tarjeta para Colonias -->
    <mat-card class="card" routerLink="colonia">
      <mat-card-header>
        <div mat-card-avatar class="card-icon"><mat-icon>location_city</mat-icon></div>
        <mat-card-title>Colonias</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Gestiona las colonias.</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
