.mantenimiento-container {
  margin: 20px;
}

.mantenimiento-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.mantenimiento-card {
  flex: 1 1 calc(30% - 20px);
  cursor: pointer;
  transition: transform 0.2s;
}

.mantenimiento-card:hover {
  transform: scale(1.05);
}
