<div class="container">
    <h1 class="title">Gestión de Asistencias</h1>
    <div class="card-container">
      <mat-card class="card" routerLink="ingresar-asistencia">
        <mat-card-header>
          <div mat-card-avatar class="card-icon"><mat-icon>event_available</mat-icon></div>
          <mat-card-title>Ingresar Asistencia</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Registra nuevas asistencias.</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="card" routerLink="modificar-asistencias">
        <mat-card-header>
          <div mat-card-avatar class="card-icon"><mat-icon>edit</mat-icon></div>
          <mat-card-title>Buscar Asistencias</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Ver detalles de asistencias registradas.</p>
        </mat-card-content>
      </mat-card>
  
      <mat-card class="card" routerLink="reporte-asistencias">
        <mat-card-header>
          <div mat-card-avatar class="card-icon"><mat-icon>assignment</mat-icon></div>
          <mat-card-title>Reporte de Asistencias</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Consulta las asistencias ingresadas.</p>
        </mat-card-content>
      </mat-card>
  
      <!-- <mat-card class="card" routerLink="anular-asistencias">
        <mat-card-header>
          <div mat-card-avatar class="card-icon"><mat-icon>cancel</mat-icon></div>
          <mat-card-title>Anular Asistencias</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Elimina registros de asistencia.</p>
        </mat-card-content>
      </mat-card> -->
  
      <mat-card class="card" routerLink="cancelar-asistencias">
        <mat-card-header>
          <div mat-card-avatar class="card-icon"><mat-icon>close</mat-icon></div>
          <mat-card-title>Cancelar Asistencias</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Elimina asistencias de forma definitiva.</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  