<!-- Tabla de Cargos Públicos (PEP) -->
<div *ngIf="filas.length != 0" style="background-color: white; border-radius: 10px; padding: 20px">
  <app-dynamic-table
    style="width: 100%"
    titulo="Editar Cargos Públicos"
    subtitulo="Completa la información correspondiente"
    [columns]="myColumns"
    [data]="filas"
    [getData]="getFilas"
    (ejecutarFuncionAsincronaEvent)="ejecutarFuncionAsincronaDesdeOtroComponentePEPs($event)"
    [nombreEncabezadoUno]="'Editar'"
    [mostrarBotonUno]="true"
    [etiquetaBotonUno]="'Editar'"
    (accionBotonUno)="manejarAccionUno($event)"
    [nombreEncabezadoDos]="'Acciones'"
    [mostrarBotonDos]="true"
    [etiquetaBotonDos]="'Eliminar'"
    (accionBotonDos)="manejarAccionDos($event)">
  </app-dynamic-table>
</div>

<!-- Tabla de Familiares -->
<div *ngIf="familiares.length > 0" style="background-color: white; border-radius: 10px; padding: 20px; margin-top: 20px;">
  <app-dynamic-table
    style="width: 100%"
    titulo="Familiares"
    subtitulo="Listado de familiares asociados"
    [columns]="familiaresColumns"
    [data]="familiares"
    [getData]="getFamiliares"
    (ejecutarFuncionAsincronaEvent)="ejecutarFuncionAsincronaDesdeOtroComponenteFamiliares($event)">
  </app-dynamic-table>
</div>
