<div class="card">
    <div class="card-header card-header-danger tittle" style="background: #229e92">
        <h4 class="card-title">Cuentas</h4>
        <p class="card-category">Completa la información correspondiente</p>
    </div>

    <form [formGroup]="formParent" style="margin: 1%;" (change)="onDatosDatosPuestTrab()">
        <div formArrayName="trabajo">
            <div *ngFor="let skill of getCtrl('trabajo', formParent).controls; index as formChild; let i = index">
                <h4 class="card-title">Cuenta Número: {{i+1}}</h4>

                <div class="row" [formGroupName]="formChild">
                    <div class="col-lg-4 col-md-12">
                        <mat-form-field class="example-full-width; inputs" appearance="outline">
                            <mat-label>Tipo Cuenta</mat-label>
                            <mat-select (selectionChange)="onDatosDatosPuestTrab()" matNativeControl
                                formControlName="tipo_cuenta">
                                <mat-option *ngFor="let p of tipoCuenta" [value]="p.label">
                                    {{p.label}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-error *ngFor="let error of getErrors(i, 'tipo_cuenta')">{{error}}</mat-error>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <mat-form-field class="example-full-width; inputs" appearance="outline">
                            <mat-label>numero cuenta</mat-label>
                            <input matInput formControlName="numero_cuenta">
                        </mat-form-field>
                        <mat-error *ngFor="let error of getErrors(i, 'numero_cuenta')">{{error}}</mat-error>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <mat-form-field class="example-full-width; inputs" appearance="outline">
                            <mat-label>creado_por</mat-label>
                            <input matInput formControlName="creado_por">
                        </mat-form-field>
                        <mat-error *ngFor="let error of getErrors(i, 'creado_por')">{{error}}</mat-error>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="row" style="text-align: center; margin: 1%;">
        <div class="col-md-6">
            <button mat-button color="primary" (click)="agregarTrabajo()"><mat-icon
                    matSuffix>exposure_plus_1</mat-icon>Agregar
                Cuenta</button>
        </div>
        <div class="col-md-6">
            <button mat-button color="warn" (click)="eliminarTrabajo()"><mat-icon
                    matSuffix>exposure_neg_1</mat-icon>Eliminar
                Cuenta</button>
        </div>
    </div>
</div>