<div style="margin: 1% 0% 1% 0%; text-align: center; background-color: white">
  <div *ngIf="loading" class="spinner-container">
    <mat-spinner class="spinner" diameter="50"></mat-spinner>
  </div>

  <div *ngIf="datos && !loading">
    <app-datos-generales
      [initialData]="initialData"
      [indicesSeleccionados]="indicesSeleccionados"
      [discapacidadSeleccionada]="true"
      (newDatosGenerales)="setDatosGenerales($event)"
      (imageCaptured)="onImageCaptured($event)">
    </app-datos-generales>

    <br>
    <mat-form-field class="example-full-width inputs" appearance="outline">
      <mat-label>Dirección Completa</mat-label>
      <textarea matInput [(ngModel)]="direccionCompleta" readonly></textarea>
    </mat-form-field>

    <div class="pdf-preview">
      <h4>Archivo de Identificación</h4>
      <iframe *ngIf="archivoIdentificacionUrl" [src]="archivoIdentificacionUrl" width="100%" height="500px"></iframe>
      <app-botonarchivos labelBoton="Archivo de Identificación" (setArchivo)="getArchivoIdentificacion($event)"></app-botonarchivos>
    </div>

    <form style="margin: 0 0 1.5rem;" [formGroup]="form1">

      <mat-card class="tabla-datos-persona">
        <mat-card-title>Datos de Fallecimiento</mat-card-title>
        <mat-card-content>
          <div class="row" style="margin: 0px 20px 0 20px;">
            <div class="col-lg-4 col-md-12">
              <mat-form-field style="flex-direction: column-reverse;" class="example-full-width inputs" appearance="outline">
                <mat-label>Fallecido</mat-label>
                <mat-select formControlName="fallecido">
                  <mat-option value="NO">NO</mat-option>
                  <mat-option value="SI">SI</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-error *ngFor="let error of getErrors('fallecido')">
                {{ error }}
              </mat-error>
            </div>
            <div class="col-lg-4 col-md-12">
              <mat-form-field style="flex-direction: column-reverse;" class="example-full-width inputs" appearance="outline">
                <mat-label>Causa de Fallecimiento</mat-label>
                <mat-select formControlName="causa_fallecimiento">
                  <mat-option *ngFor="let p of CausaFallecimiento" [value]="p.value">
                    {{ p.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-error *ngFor="let error of getErrors('causa_fallecimiento')">
                {{ error }}
              </mat-error>
            </div>

            <div class="col-lg-4 col-md-12">
              <mat-form-field style="flex-direction: column-reverse;" class="example-full-width inputs" appearance="outline">
                <mat-label>Fecha Defunción</mat-label>
                <mat-datepicker-toggle matSuffix [for]="fechaDef"></mat-datepicker-toggle>
                <mat-datepicker #fechaDef></mat-datepicker>
                <input matInput formControlName="fecha_defuncion" [matDatepicker]="fechaDef" [max]="minDate">
              </mat-form-field>
              <mat-error *ngFor="let error of getErrors('fecha_defuncion')">
                {{ error }}
              </mat-error>
            </div>

            <div class="col-lg-6 col-md-12">
              <mat-form-field style="flex-direction: column-reverse;" class="example-full-width inputs" appearance="outline">
                <mat-label>Departamento De Defunción</mat-label>
                <mat-icon matPrefix>location_city</mat-icon>
                <mat-select formControlName="id_departamento_defuncion" (selectionChange)="onDepartamentoChange($event)">
                  <mat-option *ngFor="let departamento of departamentos" [value]="departamento.value">
                    {{ departamento.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-error *ngFor="let error of getErrors('id_departamento_defuncion')">
                {{ error }}
              </mat-error>
            </div>

            <div class="col-lg-6 col-md-12">
              <mat-form-field style="flex-direction: column-reverse;" class="example-full-width inputs" appearance="outline">
                <mat-label>Municipio De Defunción</mat-label>
                <mat-icon matPrefix>location_city</mat-icon>
                <mat-select formControlName="id_municipio_defuncion">
                  <mat-option *ngFor="let municipio of municipios" [value]="municipio.value">
                    {{ municipio.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-error *ngFor="let error of getErrors('id_municipio_defuncion')">
                {{ error }}
              </mat-error>
            </div>
          </div>
        </mat-card-content>
        <div class="pdf-container">
          <div class="pdf-preview">
            <h4>Certificado de Defunción</h4>
            <iframe *ngIf="certificadoDefuncionUrl" [src]="certificadoDefuncionUrl" width="100%" height="500px"></iframe>
            <app-botonarchivos labelBoton="Certificado de Defuncion" (setArchivo)="getArchivoDef($event)"></app-botonarchivos>
          </div>
        </div>
      </mat-card >

      <mat-card class="tabla-datos-persona">
        <mat-card-title>Estado y Tipo De Persona</mat-card-title>
        <mat-card-content>
          <div class="row" style="margin: 0px 20px 0 20px;">
            <div class="col-md-6">
              <mat-form-field style="flex-direction: column-reverse;" class="example-full-width inputs" appearance="outline">
                <mat-label>Tipo de Persona</mat-label>
                <mat-select formControlName="tipo_persona">
                  <mat-option *ngFor="let tipo of tiposPersona" [value]="tipo.ID_TIPO_PERSONA">
                    {{ tipo.TIPO_PERSONA }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-error *ngFor="let error of getErrors('tipo_persona')">
                {{ error }}
              </mat-error>
              <!-- <mat-form-field appearance="outline" class="example-full-width inputs" class="w-100">
                <mat-label>Observación</mat-label>
                <mat-icon matPrefix>person_outline</mat-icon>
                <input matInput formControlName="observacion">
              </mat-form-field> -->
            </div>

            <div class="col-md-6">
              <mat-form-field style="flex-direction: column-reverse;" class="example-full-width inputs" appearance="outline">
                <mat-label>Estado de Afiliación</mat-label>
                <mat-select formControlName="estado">
                  <mat-option *ngFor="let estado of estado" [value]="estado.value">
                    {{ estado.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-error *ngFor="let error of getErrors('estado')">
                {{ error }}
              </mat-error>
            </div>
            <div class="col-md-6">
              <mat-label style="font-weight: bold;" >Voluntario</mat-label>
              <mat-radio-group formControlName="voluntario" style="display: flex; flex-direction: column-reverse;">
                <mat-radio-button value="SI" style="margin-right: 15px;">Sí</mat-radio-button>
                <mat-radio-button value="NO">No</mat-radio-button>
              </mat-radio-group>
              <mat-error *ngFor="let error of getErrors('voluntario')">
                {{ error }}
              </mat-error>
            </div>

          </div>
        </mat-card-content>
      </mat-card>

    </form>


    <!-- <app-maps></app-maps> -->

    <button
    mat-raised-button
    color="primary"
    style="color: white; margin: 1% 0 1% 0"
    (click)="GuardarInformacion()"
    *ngIf="mostrarBotonGuardar">
    Guardar
  </button>
  </div>
</div>
