body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.inputs {
  width: 100%;
}

.tittle {
  color: white;
  background: #229e92;
}

.example-full-width {
  width: 100%;
}

.mat-error {
  font-size: 8px; /* Reduce el tamaño del texto de error */
  display: flex;
  align-items: center;
}

.error-icon-small {
  font-size: 10px; /* Ajusta el tamaño del ícono de error */
  margin-right: 4px; /* Espacio entre el ícono y el texto */
}


.error-message {
  color: #f44336; /* Color rojo típico para mensajes de error */
  font-size: 12px; /* Tamaño del texto */
  margin-top: 10px; /* Espacio superior */
  display: flex;
  align-items: center; /* Alinea verticalmente el texto e íconos */
  background-color: #fdecea; /* Fondo rojo claro para resaltar el mensaje */
  padding: 8px; /* Añade un poco de padding alrededor del texto */
  border-radius: 4px; /* Bordes redondeados */
  border: 1px solid #f44336; /* Borde rojo para resaltar aún más */
}

.error-message mat-icon {
  font-size: 16px; /* Tamaño del ícono */
  margin-right: 8px; /* Espacio entre el ícono y el texto */
}

.error-message mat-icon.error-icon-small {
  font-size: 14px; /* Ajusta el tamaño del ícono para ser más pequeño */
  margin-right: 6px; /* Ajusta el espacio */
}

/* Contenedor principal con grid */
.grid-container {
  display: grid; /* Cambia a grid */
  grid-template-columns: repeat(2, 1fr); /* Fuerza 2 columnas de igual ancho */
  gap: 10px; /* Espaciado entre filas y columnas */
}

/* Contenedor con borde y estilo */
.discapacidades-container {
  border: 1px solid #ccc; /* Borde para el contenedor */
  padding: 15px; /* Espaciado interno */
  border-radius: 8px; /* Bordes redondeados */
  background-color: #f9f9f9; /* Fondo claro */
}

/* Elementos de cada discapacidad */
.discapacidad-item {
  display: flex;
  align-items: center; /* Alineación vertical centrada */
}




