body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.inputs {
  width: 100%;
}

.tittle {
  color: white;
  background: #229e92;
}

.example-full-width {
  width: 100%;
}

.mat-form-field {
  position: relative;
  margin-bottom: 24px; /* Espacio debajo del mat-form-field */
}

.mat-form-field-flex {
  display: flex;
  flex-direction: column;
}

.mat-error {
  font-size: 12px;
  display: flex;
  align-items: center;
  background-color: #fdecea;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid #f44336;
  color: #f44336;
  width: 100%;
  box-sizing: border-box;
  margin-top: 4px; /* Espacio entre el input y el mensaje de error */
}

.error-icon-small {
  font-size: 14px; /* Tamaño del ícono de error */
  margin-right: 4px; /* Espacio entre el ícono y el texto */
}

.mat-form-field-underline {
  bottom: 0;
  position: absolute;
}

.mat-form-field-infix {
  padding: 0;
}

.mat-form-field-label-wrapper {
  position: absolute;
  top: -1.5em; /* Ajusta el espacio para que el label no interfiera con el input */
  left: 0;
  right: 0;
}

.mat-form-field-wrapper {
  padding-bottom: 0;
}

