<div class="card">
  <div class="card-header card-header-danger tittle" style="background: #229e92;">
    <h4 class="card-title">Beneficiarios</h4>
    <p class="card-category">Llene los campos para continuar con el proceso.</p>
  </div>

  <form [formGroup]="formParent" (change)="onDatosBenChange()">
    <div formArrayName="beneficiario">
      <div *ngFor="let skill of getCtrl('beneficiario', formParent).controls; index as formChild; let i = index">
        <h4 class="card-title" style="margin: 16px;">Beneficiario Número: {{i+1}}</h4>

        <div [formGroupName]="formChild" class="row">
          <app-dat-generales-afiliado groupName="datosBeneficiario"
            (newDatBenChange)="prueba($event, i); onDatosBenChange()"></app-dat-generales-afiliado>

          <!-- componente aparte de Beneficio -->
          <!-- <app-beneficio groupName="porcentaje" style="margin: 16px;"></app-beneficio> -->

        </div>
        <fieldset [formGroupName]="formChild" class="fieldset-container">
          <mat-form-field class="example-full-width; inputs" appearance="outline">
            <mat-label>Porcentaje de beneficio</mat-label>
            <input matInput formControlName="porcentaje" type="number" (input)="actualizarPorcentajes(i, $event)">
          </mat-form-field>
        </fieldset>
      </div>
      <div *ngIf="formParent.get('porcentaje')?.errors?.['sumaNo100'] && formParent.get('porcentaje')?.touched">
        El porcentaje debe ser un valor entre 0 y 100.
      </div>
    </div>
  </form>

  <div class="row" style="text-align: center;  margin: 1%;">
    <div class="col-md-6">
      <button mat-button color="primary" (click)="agregarBen()"><mat-icon matSuffix>exposure_plus_1</mat-icon>Agregar
        Beneficiario</button>
    </div>
    <div class="col-md-6">
      <button mat-button color="warn" (click)="eliminarRefPer()"><mat-icon matSuffix>exposure_neg_1</mat-icon>Eliminar
        Beneficiario</button>
    </div>
  </div>
</div>