<div class="card">
  <div class="card-header card-header-danger tittle" style="background: #229e92;">
    <h4 class="card-title">Beneficiarios</h4>
    <p class="card-category">Llene los campos para continuar con el proceso.</p>
  </div>

  <form [formGroup]="formParent" (change)="onDatosBenChange()">
    <div formArrayName="beneficiario">
      <div *ngFor="let skill of getCtrl('beneficiario', formParent).controls; index as formChild; let i = index">
        <h4 class="card-title" style="margin: 16px;">Beneficiario Número: {{i+1}}</h4>

        <div [formGroupName]="formChild" class="row">
          <app-dat-generales-afiliado groupName="datosBeneficiario"
            (newDatBenChange)="prueba($event, i); onDatosBenChange()"></app-dat-generales-afiliado>
        </div>

        <fieldset [formGroupName]="formChild" class="fieldset-container">
          <mat-form-field class="example-full-width; inputs" appearance="outline">
            <mat-label>Porcentaje de beneficio</mat-label>
            <input matInput formControlName="porcentaje" type="number">
          </mat-form-field>
        </fieldset>
      </div>
    </div>
  </form>

  <div *ngIf="formParent.errors" class="error-message">
    La suma de los porcentajes debe ser exactamente 100.
  </div>


  <div class="row" style="text-align: center;  margin: 1%;">
    <div class="col-md-6">
      <button mat-button color="primary" (click)="agregarBen()"><mat-icon matSuffix>exposure_plus_1</mat-icon>Agregar
        Beneficiario</button>
    </div>
    <div class="col-md-6">
      <button mat-button color="warn" (click)="eliminarRefPer()"><mat-icon matSuffix>exposure_neg_1</mat-icon>Eliminar
        Beneficiario</button>
    </div>
  </div>
</div>