<div class="basic-container">
  <div class="card" style="background-color: white; margin: 1% 0% 1% 0%; padding: 0% 0% 1% 0%; text-align: center;">
    <app-dynamic-form
      [fields]="myFormFields"
      titulo="Detalles de nueva planilla"
      subtitulo="Completa la información correspondiente"
      (newDatBenChange)="obtenerDatos($event)"
      (selectChange)="onSelectChange($event)">
    </app-dynamic-form>

    <div style="text-align: center">
      <button
        color="primary"
        [disabled]="datosForm.invalid"
        (click)="crearPlanilla()"
        mat-raised-button>
        Crear Planilla
      </button>
    </div>
  </div>

  <div class="table-container">
    <h3>Planillas Activas</h3>
    <table mat-table [dataSource]="planillasActivas" class="mat-elevation-z8">
      <ng-container matColumnDef="codigo_planilla">
        <th mat-header-cell *matHeaderCellDef> Código Planilla </th>
        <td mat-cell *matCellDef="let element"> {{element.codigo_planilla}} </td>
      </ng-container>

      <ng-container matColumnDef="nombre_planilla">
        <th mat-header-cell *matHeaderCellDef> Nombre Planilla </th>
        <td mat-cell *matCellDef="let element"> {{element.tipoPlanilla.nombre_planilla}} </td>
      </ng-container>

      <ng-container matColumnDef="fecha_apertura">
        <th mat-header-cell *matHeaderCellDef> Fecha Apertura </th>
        <td mat-cell *matCellDef="let element"> {{element.fecha_apertura}} </td>
      </ng-container>

      <ng-container matColumnDef="periodoInicio">
        <th mat-header-cell *matHeaderCellDef> Periodo Inicio </th>
        <td mat-cell *matCellDef="let element"> {{element.periodoInicio}} </td>
      </ng-container>

      <ng-container matColumnDef="periodoFinalizacion">
        <th mat-header-cell *matHeaderCellDef> Periodo Finalización </th>
        <td mat-cell *matCellDef="let element"> {{element.periodoFinalizacion}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['codigo_planilla', 'nombre_planilla', 'fecha_apertura', 'periodoInicio', 'periodoFinalizacion']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['codigo_planilla', 'nombre_planilla', 'fecha_apertura', 'periodoInicio', 'periodoFinalizacion'];"></tr>
    </table>
  </div>
</div>
