.custom-input-field {
  background-color: white;
}

.mat-mdc-form-field {
  flex-direction: row;
}
.search-container {
  justify-content: flex-end !important;
}

.white-background-input {
  background-color: white;
}

.custom-row:nth-child(even) {
  background-color: #f2f2f2; /* Color para filas pares */
  text-align: center; /* Alineación del texto para filas pares */
}

.custom-row:nth-child(odd) {
  background-color: #ffffff; /* Color para filas impares */
  text-align: center; /* Alineación del texto para filas impares */
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0 10px; /* Añade espacio entre filas */
  margin-bottom: 20px;
}

.custom-header {
  background-color: #229e92;
  color: #ffffff;
  padding: 10px;
  text-align: left;
}

.custom-row {
  border-bottom: 1px solid #ddd;
  border-radius: 0; /* Restablece cualquier radio de borde que se haya aplicado anteriormente */
}

.custom-cell {
  text-align: center;
  padding: 10px;
  border: none;
}

.custom-actions {
  text-align: right;
}

.btn {
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 5px;
}

.btn-primary {
  background-color: #229e92;
  color: #ffffff;
}

.btn-success {
  background-color: #5cb85c;
  color: #ffffff;
}

.btn-danger {
  background-color: #d9534f;
  color: #ffffff;
}

/* Estilos para los botones de editar y eliminar */
.boton-editar mat-icon {
  color: #26a69a; /* Color del ícono de editar */
}

.boton-eliminar mat-icon {
  color: #ff5252; /* Color del ícono de eliminar */
}

.boton-editar,
.boton-eliminar {
  background-color: transparent; /* Fondo transparente */
  border: none; /* Sin borde */
  cursor: pointer; /* Cursor de mano */
}

.boton-editar:hover mat-icon {
  color: #1d7b5f; /* Color del ícono al pasar el ratón por encima */
}

.boton-eliminar:hover mat-icon {
  color: #e04848; /* Color del ícono al pasar el ratón por encima */
}

/* Estilos para filas clickeables */
.clickable-row {
  cursor: pointer; /* Cambia el cursor a una mano para indicar que es clickeable */
}

.clickable-row:hover {
  background-color: #d9edf7; /* Color de fondo cuando se pasa el ratón por encima */
  transition: background-color 0.3s; /* Transición suave del color de fondo */
}
