/* datos-gen-afil.component.scss */
.fila-impar {
  background-color: #f0f0f0; /* Estilo para filas impares */
}

.fila-par {
  background-color: #ffffff; /* Estilo para filas pares */
}

.tittle {
  color:white;
  background: #628780;
}
