<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container style="
    max-width: 400px;
    border-radius: 40px;
    box-shadow: none;
    width: 400px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: var(--login-box-shadow);
    margin: 0 auto;
    background-color: #fff;
  ">

    <!-- Agrega [formGroup]="loginForm" y (ngSubmit)="onLogin()" -->
    <div class="text-white" style="margin: 0 0 5% 0"><img src="../../../../../assets/images/LOGO INPRENET.png"
        width="320px" height="70px" alt="Descripción de la imagen"></div>
    <div>
      <div class="text-center">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <h1 style="color:grey">Inicio de sesión</h1>
          <p class="text-medium-emphasis">Para ingresar a tu cuenta</p>
          <c-input-group class="mb-3">
            <span cInputGroupText>
              <svg cIcon name="cilUser"></svg>
            </span>
            <!-- Agrega formControlName="email" -->
            <input formControlName="email" autoComplete="Correo Electrónico" cFormControl
              placeholder="Correo Electrónico" />
          </c-input-group>
          <c-input-group class="mb-4">
            <span cInputGroupText>
              <svg cIcon name="cilLockLocked"></svg>
            </span>
            <!-- Agrega formControlName="password" -->
            <input formControlName="password" autoComplete="Contraseña" cFormControl placeholder="Contraseña"
              type="password" />
          </c-input-group>
          <c-row>
            <c-col style="padding: 4%;">
              <!-- Agrega type="submit" al botón para enviar el formulario -->
              <button cButton class="px-4 general" style="border: 0;" type="submit">
                Ingresar
              </button>
            </c-col>
            <c-col class="text-right">
              <button cButton class="px-0" color="link">
                ¿Olvidaste tu contraseña?
              </button>
            </c-col>
          </c-row>
        </form>

        <!-- <div>
                    <h2></h2>
                    <p>

                    </p>
                    <button [active]="true" cButton class="mt-3" color="primary" routerLink="/register">

                    </button>
                  </div> -->
      </div>
    </div>

  </c-container>
</div>
