<!-- <form class="example-form" [formGroup]="formGroup" ngNativeValidate>
  <mat-slide-toggle color="primary" formControlName="acceptTerms">¿Desea asignar los beneficios mediante documento de excel?</mat-slide-toggle>
</form> -->

<div style="margin: 1% 0% 1% 0%; text-align: center; background-color: white">
  <app-dynamic-form [fields]="myFormFields" titulo="Buscar Afiliado/Jubilado/Pensionado"
    subtitulo="Completa la información correspondiente" (newDatBenChange)="obtenerDatos($event)"></app-dynamic-form>

  <button mat-raised-button color="primary" style="color: white; margin: 1% 0 1% 0" [disabled]="form.invalid"
    (click)="previsualizarInfoAfil()">
    Mostrar información del afiliado
  </button>
</div>


<!-- Asignación de beneficios uno por uno -->
<div style="background-color: white; margin: 1% 0% 1% 0%; padding: 1% 0% 1% 0%">
  <h1 style="font-size: 2rem">Datos Generales Cliente</h1>
  <div>
    <table>
      <tr style="background-color: #f2f2f2">
        <th>Tipo Persona</th>
        <td>{{ Afiliado.tipo_persona }}</td>
        <th>Fallecido</th>
        <td>{{ Afiliado.fallecido }}</td>
        <th>Estado</th>
        <td>{{ Afiliado.estado_persona }}</td>

        <th>DNI de afiliado</th>
        <td>{{ Afiliado.dni }}</td>
        <th>Nombre de afiliado</th>
        <td>{{ Afiliado.nombreCompleto }}</td>
        <th>Genero</th>
        <td>{{ Afiliado.genero }}</td>
      </tr>
      <tr>
        <th>Fecha nacimiento</th>
        <td>{{ Afiliado.fecha_nacimiento }}</td>
        <th>Dirección de residencia</th>
        <td>{{ Afiliado.direccion_residencia }}</td>
        <th>Teléfono 1</th>
        <td>{{ Afiliado.telefono_1 }}</td>
        <th>Estado civil</th>
        <td>{{ Afiliado.estado_civil }}</td>
      </tr>
    </table>
  </div>

  <div *ngIf="Afiliado.fallecido == 'SI' && (
  Afiliado.tipo_persona == 'AFILIADO' || 
  Afiliado.tipo_persona == 'JUBILADO' || 
  Afiliado.tipo_persona == 'PENSIONADO')"
    style="padding: 1%">
    <app-dynamic-table-prueba 
    titulo="Beneficiarios Del {{Afiliado.tipo_persona}}"
    subtitulo="Haga Click sobre un item de la siguiente tabla"
    [columns]="myColumns" 
    [data]="filas" 
    [getData]="getFilas"
    (ejecutarFuncionAsincronaEvent)="ejecutarFuncionAsincronaDesdeOtroComponente($event)"
    (rowClicked)="manejarRowClick($event)"
    [enableRowClick]="true"
      ></app-dynamic-table-prueba>
  </div>
</div>


<div *ngIf="mostrarB && Afiliado.fallecido == 'SI' && (
  Afiliado.tipo_persona == 'AFILIADO' || 
  Afiliado.tipo_persona == 'JUBILADO' || 
  Afiliado.tipo_persona == 'PENSIONADO')"
  style="margin: 1% 0% 1% 0%; text-align: center; background-color: white">
  <app-dynamic-form 
    [fields]="myFormFields2" 
    titulo="Datos sobre el beneficio" 
    subtitulo="Completa la información correspondiente"
    (selectChange)="prueba($event)" 
    (newDatBenChange)="obtenerDatosFormBen($event)"
  ></app-dynamic-form>
  <button mat-raised-button color="primary" style="color: white; margin: 1% 0 1% 0" [disabled]="FormBen.invalid"
    (click)="guardarNTBenef()">
    Asignar beneficio al beneficiario
  </button>
</div>

<div *ngIf="mostrarDB && Afiliado.fallecido == 'NO' && (
  (Afiliado.tipo_persona == 'AFILIADO' && Afiliado.estado_persona == 'ACTIVO') || 
  Afiliado.tipo_persona == 'JUBILADO' || 
  Afiliado.tipo_persona == 'PENSIONADO')" style="margin: 1% 0% 1% 0%; text-align: center; background-color: white">
  <app-dynamic-form [fields]="myFormFields1" titulo="Datos sobre el beneficio"
    subtitulo="Completa la información correspondiente" (selectChange)="prueba($event)" (newDatBenChange)="obtenerDatos1($event)"></app-dynamic-form>

  <button mat-raised-button color="primary" style="color: white; margin: 1% 0 1% 0" [disabled]="form1.invalid"
    (click)="guardarNTBenef()">
    Asignar Beneficio
  </button>
</div>
