<!-- <form class="example-form" [formGroup]="formGroup" ngNativeValidate>
  <mat-slide-toggle color="primary" formControlName="acceptTerms">¿Desea asignar los beneficios mediante documento de excel?</mat-slide-toggle>
</form> -->
<!-- asignacion de beneficios uno por uno -->
<div style="background-color: white; margin: 1% 0% 1% 0%; padding: 1% 0% 1% 0%">
  <h1 style="text-align: center; font-size: 2rem">Datos Generales Afiliado</h1>
  <div>
    <table>
      <tr style="background-color: #f2f2f2">
        <th>Nombre de afiliado</th>
        <td>{{ Afiliado.nameAfil }}</td>
        <th>Genero</th>
        <td>{{ Afiliado.GENERO }}</td>
        <th>Dirección de residencia</th>
        <td>{{ Afiliado.DIRECCION_RESIDENCIA }}</td>
        <th>Estado</th>
        <td>{{ Afiliado.ESTADO }}</td>
        <th>Fecha nacimiento</th>
        <td>{{ Afiliado.FECHA_NACIMIENTO }}</td>
        <th>Colegio magisterial</th>
        <td>{{ Afiliado.COLEGIO_MAGISTERIAL }}</td>
      </tr>
      <tr>
        <th>Número de carnet</th>
        <td>{{ Afiliado.NUMERO_CARNET }}</td>
        <th>Profesión</th>
        <td>{{ Afiliado.PROFESION }}</td>
        <th>Teléfono 1</th>
        <td>{{ Afiliado.TELEFONO_1 }}</td>
        <th>Salario base</th>
        <td>{{ Afiliado.salario_base }}</td>
        <th>Estado civil</th>
        <td>{{ Afiliado.ESTADO_CIVIL }}</td>
      </tr>
    </table>
  </div>

  <div
    style="background-color: white; padding: 1%"
  >
    <h2>Beneficiarios</h2>
    <app-dynamic-table
      style="width: 10%"
      [columns]="myColumns"
      [data]="filas"
      [getData]="datosTabl"
      (ejecutarFuncionAsincronaEvent)="
        ejecutarFuncionAsincronaDesdeOtroComponente($event)
      "
    ></app-dynamic-table>
  </div>
</div>

<div style="margin: 1% 0% 1% 0%; text-align: center; background-color: white">
  <app-dynamic-form
    [fields]="myFormFields"
    titulo="Buscar Afiliado"
    subtitulo="Completa la información correspondiente"
    (newDatBenChange)="obtenerDatos($event)"
  ></app-dynamic-form>

  <button
    mat-raised-button
    color="primary"
    style="color: white; margin: 1% 0 1% 0"
    [disabled]="form.invalid"
    (click)="previsualizarInfoAfil()"
  >
    Previsualizar información del afiliado
  </button>
</div>

<!-- <div
  style="margin: 1% 0% 1% 0%; text-align: center; background-color: white"

>
  <app-dynamic-form
    [fields]="myFormFields2"
    titulo=""
    subtitulo="Completa la información correspondiente"
    (newDatBenChange)="obtenerDatosFormBen($event)"
  ></app-dynamic-form>
  <button
    mat-raised-button
    color="primary"
    style="color: white; margin: 1% 0 1% 0"
    [disabled]="FormBen.invalid"
    (click)="guardarNTBenef()"
  >
    Asignar beneficio al beneficiario
  </button>
</div> -->

<div
  style="margin: 1% 0% 1% 0%; text-align: center; background-color: white"

>
  <app-dynamic-form
    [fields]="myFormFields1"
    titulo="Datos sobre el beneficio"
    subtitulo="Completa la información correspondiente"
    (newDatBenChange)="obtenerDatos1($event)"
  ></app-dynamic-form>

  <button
    mat-raised-button
    color="primary"
    style="color: white; margin: 1% 0 1% 0"
    [disabled]="form1.invalid"
    (click)="guardarNTBenef()"
  >
    Asignar Beneficio
  </button>
</div>

<!-- <div
  style="background-color: white; padding: 1%"
  *ngIf="Afiliado.estado == 'FALLECIDO'"
>
  <h2>Beneficios</h2>
  <app-dynamic-table
    [columns]="myColumnsBeneficios"
    [data]="filasBeneficios"
    [getData]="datosTablBeneficios"
    (ejecutarFuncionAsincronaEvent)="
      ejecutarFuncionAsincronaDesdeOtroComponentes($event)
    "
    (verOpcEditar)="(false)"
  ></app-dynamic-table>
</div> -->

<!-- Asignacion de Beneficios por medio de un excel -->
<!-- <div *ngIf="!formGroup.invalid">
  <input type="file" (change)="onFileSelect($event)">
</div> -->
<!--
      /*
        Un botón para previsualizar estado del afiliado.
          Si el afiliado es fallecido, que me muestre todos los beneficiarios: dni, nombre, porcentaje, estado
            Si uno o varios beneficiario es fallecido podrá editar el porcentaje de los demás, en la pantalla de edición de beneficiarios.
        Un botón para asignar beneficio Validar que este se active solo cuando le presione el boton de asignar beneficio.
          ¿Qué beneficios puede asignarse a los beneficiarios?
          podrá asignarle el beneficio al afiliado si aún dado caso no ha fallecido.
          si ya ha fallecido podrá asignarle el beneficio a los beneficiarios.
          si el beneficiario cambia algunna informacion tendra que cambiarlo en otra pantalla no aqui.
      */
-->
