<div class="buscar-persona-container" *ngIf="!persona">
  <h1>Buscar Persona</h1>
  <mat-form-field appearance="outline">
    <mat-label>Número De Identificación</mat-label>
    <input matInput type="text" [(ngModel)]="n_identifiacion" placeholder="Ingrese El Número De Identificación">
  </mat-form-field>
  <button style="color: white;" mat-raised-button color="primary" (click)="buscarPersona()">Buscar</button>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</div>

<div *ngIf="persona">
  <app-perfil [persona]="persona" (resetBusqueda)="resetBusqueda()"></app-perfil>
</div>
