<div class="buscar-persona-container">
  <h1>Buscar Persona</h1>
  <mat-form-field appearance="outline">
    <mat-label>NUMERO DE IDENTIFICACION</mat-label>
    <input matInput type="text" [(ngModel)]="n_identifiacion" placeholder="Ingrese NUMERO DE IDENTIFICACION">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="buscarPersona()">Buscar</button>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</div>
<div *ngIf="persona">
  <app-perfil [persona]="persona"></app-perfil>
</div>
