<div class="input-group">
    <input type="search" class="form-control rounded" placeholder="Buscar Deducción" aria-label="Search"
        aria-describedby="search-addon" [formControl]="formsearch">
</div>
<div class="row">
    <div class="col-12">
        <table class="table  table-striped table-bordered table-hover">
            <thead>
                <tr class="text-center">
                    <th>DNI</th>
                    <th>Afiliado</th>
                    <th>Institucion</th>
                    <th>total_deduccion</th>
                    <th>monto_aplicado</th>
                    <th>fecha_aplicado</th>
                    <th style="width: 15%;">Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of searchResults | slice:desde:hasta; let i= index">
                    <td>{{user.DNI}}</td>
                    <td>
                        <div *ngIf="user.isEdit">
                            <input type="text" [(ngModel)]="user.Afiliado" class="form-control" />
                        </div>
                        <div *ngIf="!user.isEdit">
                            {{user.Afiliado}}
                        </div>
                    </td>
                    <td>{{user.institucion}}</td>
                    <td>
                        <div *ngIf="user.isEdit">
                            <input type="text" [(ngModel)]="user.total_deduccion" class="form-control" />
                        </div>
                        <div *ngIf="!user.isEdit">
                            {{user.total_deduccion}}
                        </div>
                    </td>
                    <td>
                        <div *ngIf="user.isEdit">
                            <input type="text" [(ngModel)]="user.monto_aplicado" class="form-control" />
                        </div>
                        <div *ngIf="!user.isEdit">
                            {{user.monto_aplicado}}
                        </div>
                    </td>
                    <td>{{user.fecha_aplicado}}</td>
                    <td style="width: 15%;" class="text-center">
                        <div *ngIf="user.isEdit">
                            <button class="btn btn-sm btn-success">Update</button>
                            <button class="btn btn-sm btn-danger" (click)="user.isEdit = false">Cancel</button>
                        </div>
                        <div *ngIf="!user.isEdit">
                            <button class="btn btn-sm btn-success" (click)="onEdit(user)"
                                style="color: white;">Editar</button>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Paginator -->


<mat-paginator [length]="usersArray.length" [pageSize]="itemsPerPage" [pageSizeOptions]="[itemsPerPage]"
    (page)="onPageChange($event)">
</mat-paginator>