<div class="afiliacion-docentes-container">
  <app-progressbar-dynamic [steps]="steps" (stepChange)="handleStepChange($event)"></app-progressbar-dynamic>

  <div [hidden]="activeStep !== 0">
    <app-dat-generales-afiliado
      [useCamera]="true"
      [formParent]="datosGeneralesForm"
      (newDatosGenerales)="handleDatosGeneralesChange($event)">
    </app-dat-generales-afiliado>
  </div>

  <div [hidden]="activeStep !== 1">
    <app-col-magisteriales [parentForm]="colegioMagisterialForm" (newDataColegioMagisterial)="onColegioMagisterialFormUpdate($event)"></app-col-magisteriales>
  </div>

  <div [hidden]="activeStep !== 2">
    <app-historial-salario [parentForm]="bancosForm" (newDatHistSal)="onBancosFormUpdate($event)"></app-historial-salario>
  </div>

  <div [hidden]="activeStep !== 3">
    <app-dat-puesto-trab (newDatDatosPuestTrab)="handleDatosPuestTrab($event)" (newOtrasFuentesIngreso)="handleOtrasFuentesIngreso($event)"></app-dat-puesto-trab>
  </div>

  <div [hidden]="activeStep !== 4">
    <app-ref-pers (newDatRefPerChange)="handleRefPersData($event)"></app-ref-pers>
  </div>

  <div [hidden]="activeStep !== 5">
    <app-benef [formParent]="benefForm" (newDatBenChange)="handleBenefData($event)"></app-benef>
  </div>

  <div [hidden]="activeStep !== 6">
    <button mat-button color="primary" (click)="gatherAllData()">
      <mat-icon>save</mat-icon> Enviar y Mostrar Datos
    </button>
  </div>
</div>
