<div class="afiliacion-docentes-container">
  <app-progressbar-dynamic [steps]="steps" (stepChange)="handleStepChange($event)"></app-progressbar-dynamic>

  <div [hidden]="activeStep !== 0">
    <app-dat-generales-afiliado
      [useCamera]="true"
      [datos]="datosGeneralesForm"
      (newDatosGenerales)="handleDatosGeneralesChange($event)"
      (imageCaptured)="handleImageCaptured($event)">
    </app-dat-generales-afiliado>
  </div>

  <div [hidden]="activeStep !== 1">
    <app-col-magisteriales [parentForm]="colegioMagisterialForm" (newDataColegioMagisterial)="onColegioMagisterialFormUpdate($event)"></app-col-magisteriales>
  </div>

  <div [hidden]="activeStep !== 2">
    <app-historial-salario [parentForm]="bancosForm" (newDatHistSal)="onBancosFormUpdate($event)"></app-historial-salario>
  </div>

  <div [hidden]="activeStep !== 3">
    <app-dat-puesto-trab (newDatDatosPuestTrab)="handleDatosPuestTrab($event)" (newOtrasFuentesIngreso)="handleOtrasFuentesIngreso($event)"></app-dat-puesto-trab>
  </div>

  <div [hidden]="activeStep !== 4">
    <app-ref-pers (newDatRefPerChange)="handleRefPersData($event)"></app-ref-pers>
  </div>

  <div [hidden]="activeStep !== 5">
    <app-benef [formParent]="benefForm" (newDatBenChange)="handleBenefData($event)"></app-benef>
  </div>

  <div [hidden]="activeStep !== 6">
    <button mat-button color="primary" (click)="gatherAllData()">
      <mat-icon>save</mat-icon> Enviar y Mostrar Datos
    </button>
  </div>
</div>

<!-- <div class="card-body" style="text-align: center;">
  <strong>Datos Generales Del Docente</strong><br>
  <pre>{{ datosGeneralesForm.value | json }}</pre>
  <strong>Status:</strong> {{ datosGeneralesForm.status }}
  <br><br>

  <strong>Familiares</strong><br>
  <pre>{{ familiaresForm.value | json }}</pre>
  <strong>Status:</strong> {{ familiaresForm.status }}
  <br><br>

  <strong>Colegio Magisterial:</strong>
   {{ colegioMagisterialForm.value | json }}
  <strong>Status:</strong> {{ colegioMagisterialForm.status }}
  <br><br>

  <strong>Datos Cuentas Bancarias</strong><br>
  <pre>{{ bancosForm.value | json }}</pre>
  <strong>Status:</strong> {{ bancosForm.status }}
  <br><br>

  <strong>Centros De Trabajo</strong><br>
  <pre>{{ centrosTrabajoForm.value | json }}</pre>
  <strong>Status:</strong> {{ centrosTrabajoForm.status }}
  <br><br>

  <strong>Referencias Personales / Familiares</strong><br>
  <pre>{{ refPersForm.value | json }}</pre>
  <strong>Status:</strong> {{ refPersForm.status }}
  <br><br>

  <strong>Beneficiarios</strong><br>
  <pre>{{ benefForm.value | json }}</pre>
  <strong>Status:</strong> {{ benefForm.status }}
  <br><br>

  <strong>Otras Fuentes de Ingreso</strong><br>
  <pre>{{ otrasFuentesIngresoForm.value | json }}</pre>
  <strong>Status:</strong> {{ otrasFuentesIngresoForm.status }}
</div> -->

