<div *ngIf="formGroup as formGroup" mat-dialog-content>
  <form [formGroup]="formGroup" class="edit-form">
    <div class="form-grid" fxLayout="row wrap" fxLayoutGap="16px">
      <div *ngFor="let campo of data.campos" fxFlex="30%" class="form-cell">
        <ng-container *ngIf="!campo.dependeDe || formGroup.get(campo.dependeDe)?.value === campo.valorDependiente">
          
          <!-- Campo de rango de fecha -->
          <ng-container *ngIf="campo.tipo === 'daterange'">
            <mat-form-field appearance="fill" class="full-width-input" floatLabel="always">
              <mat-label>{{ campo.etiqueta }}</mat-label>
              <mat-date-range-input [rangePicker]="pickerRange" [formGroup]="getRangeFormGroup(campo.nombre)">
                <input matInput matStartDate placeholder="Inicio" formControlName="start" />
                <input matInput matEndDate placeholder="Fin" formControlName="end" />
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="pickerRange"></mat-datepicker-toggle>
              <mat-date-range-picker #pickerRange></mat-date-range-picker>
            </mat-form-field>
          </ng-container>

          <!-- Campo de fecha individual -->
          <ng-container *ngIf="campo.tipo === 'date'">
            <mat-form-field appearance="fill" fxFlex class="full-width-input" floatLabel="always">
              <mat-label>{{ campo.etiqueta }}</mat-label>
              <input matInput  [max]="campo.maxDate" [matDatepicker]="picker" [formControlName]="campo.nombre" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
          
              <!-- Agregar validación solo para fecha_egreso -->
              <mat-error *ngIf="campo.nombre === 'fecha_egreso' && formGroup.get('fecha_egreso')?.hasError('fechaEgresoInvalida')">
                No puede ser menor a la de fecha de ingreso.
              </mat-error>
          
            </mat-form-field>
          </ng-container>

          <!-- Otros tipos de campos -->
          <ng-container *ngIf="campo.tipo === 'text' || campo.tipo === 'number' || campo.tipo === 'list'">
            <mat-form-field appearance="fill" class="full-width-input" floatLabel="always">
              <mat-label>{{ campo.etiqueta }}</mat-label>
              <input *ngIf="campo.tipo === 'text'" matInput [formControlName]="campo.nombre" />
              <input *ngIf="campo.tipo === 'number'" matInput type="number" [formControlName]="campo.nombre" />
              <mat-select *ngIf="campo.tipo === 'list'" [formControlName]="campo.nombre">
                <mat-option *ngFor="let opcion of campo.opciones" [value]="opcion.value">
                  {{ opcion.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>

          <!-- Errores de validación -->
          <mat-error *ngFor="let error of getErrors(campo.nombre)">
            {{ error }}
          </mat-error>

          

        </ng-container>
      </div>
    </div>

    <div mat-dialog-actions>
      <button mat-button (click)="cerrar()">Cancelar</button>
      <button mat-raised-button style="color: white;" color="primary" (click)="guardar()" [disabled]="!formGroup.valid">Guardar</button>
    </div>
  </form>
</div>
