<div class="container">
  <app-dynamic-form [fields]="myFormFields" titulo="Detalles de planilla" subtitulo="Completa la informacion correspondiente" (newDatBenChange)="obtenerDatosForm($event)"></app-dynamic-form>

  <button (click)="getPlanilla()" mat-raised-button class="preview-button">Previsualizar Datos Planilla</button>

  <div class="card-header card-header-danger title" *ngIf="detallePlanilla">
    <div class="card-body" style="padding: 1%">
      <h4 class="card-title">Datos Generales De La Planilla</h4>
      <table>
        <tr>
          <th>Nombre Planilla</th>
          <td>{{detallePlanilla?.nombre_planilla}}</td>
          <th>Fecha Apertura</th>
          <td>{{convertirFecha(detallePlanilla?.fecha_apertura)}}</td>
        </tr>
        <tr>
          <th>Secuencia</th>
          <td>{{detallePlanilla?.secuencia}}</td>
          <th>Estado</th>
          <td>{{detallePlanilla?.estado}}</td>
        </tr>
        <tr>
          <th>Periodo Inicio</th>
          <td>{{detallePlanilla?.periodoInicio}}</td>
          <th>Periodo Finalización</th>
          <td>{{detallePlanilla?.periodoFinalizacion}}</td>
        </tr>
      </table>

      <h4 class="card-title">Asignación De Beneficios Y Deducciones A La Planilla</h4>
      <div>
        <app-dynamic-table
        [verOpcEditar]="false"
        [columns]="myColumnsDed"
        [data]="datosTabl" (ejecutarFuncionAsincronaEvent)="ejecutarFuncionAsincronaDesdeOtroComponente($event)"
        [editarFunc]="editar"
        [nombreEncabezadoUno]="'Beneficios'"
        [mostrarBotonUno]="true"
        [etiquetaBotonUno]="'Ver Beneficios'"
        (accionBotonUno)="manejarAccionUno($event)"
        [nombreEncabezadoDos]="'Deducciones'"
        [mostrarBotonDos]="true"
        [etiquetaBotonDos]="'Ver Deducciones'"
        (accionBotonDos)="manejarAccionDos($event)"
        >
        </app-dynamic-table>
      </div>
      <button mat-raised-button class="assign-button">Asignar a la planilla</button>
    </div>
  </div>
</div>
