.custom-input-field {
  background-color: white;
}

.mat-mdc-form-field {
  flex-direction: row;
}
.search-container {
  justify-content: flex-end !important;
}

.white-background-input {
  background-color: white;
}

.custom-row:nth-child(even) {
  background-color: #f2f2f2; /* Color para filas pares */
  text-align: center; /* Color para filas pares */
}

.custom-row:nth-child(odd) {
  background-color: #ffffff; /* Color para filas impares */
  text-align: center; /* Color para filas impares */
}


.custom-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0 10px; /* Añade espacio entre filas */
  margin-bottom: 20px;
}

.custom-header {
  background-color: #229e92;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

.custom-row {
  border-bottom: 1px solid #ddd;
  border-radius: 0; /* Restablece cualquier radio de borde que se haya aplicado anteriormente */
}

.custom-cell {
  text-align: center;
  padding: 10px;
  border: none;
}

.custom-actions {
  text-align: right;
}

.btn {
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 5px;
}

.btn-primary {
  background-color: #229e92;
  color: #ffffff;
}

.btn-success {
  background-color: #5cb85c;
  color: #ffffff;
}

.btn-danger {
  background-color: #d9534f;
  color: #ffffff;
}


.boton-estetico {
  background-color: #26a69a; /* Color de fondo especificado en tus estilos */
  color: white; /* Texto blanco para un contraste óptimo */
  margin-right: 10px; /* Espaciado a la derecha para separación entre botones */

  &:hover {
    background-color: darken(#26a69a, 5%); /* Efecto al pasar el ratón por encima */
  }

  &:last-child {
    margin-right: 0; /* Elimina el margen derecho en el último botón */
  }
}

/* Para el botón de editar específicamente, puedes querer un estilo ligeramente diferente */
.boton-editar {
  margin: 0; /* Sin márgenes adicionales */
  padding: 8px; /* Padding reducido para un botón más compacto */
  background-color: #628780; /* Ajusta al color que prefieras */
}

.boton-editar mat-icon {
  color: white; /* Asegura que el ícono dentro del botón también sea blanco */
}

.boton-eliminar {
  mat-icon {
    font-size: 25px;
  }

  background-color: #26a69a;
  color: white;
  margin-right: 10px;

  &:hover {
    background-color: darken(#26a69a, 5%);
  }

  &:last-child {
    margin-right: 0;
  }
}

.boton-editar {
  mat-icon {
    font-size: 20px;
  }

  background-color: #ffa726;
  color: white;
  margin-right: 10px;

  &:hover {
    background-color: darken(#ffa726, 5%);
  }

  &:last-child {
    margin-right: 0;
  }
}
