<!-- <div class="input-group">
  <input type="search" class="form-control rounded" placeholder="Buscar Afiliado/Beneficiario" aria-label="Search"
      aria-describedby="search-addon" [formControl]="formsearch">
</div> -->
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr class="text-center">
      <th *ngFor="let col of columns">{{ col.header }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of searchResults">
      <td *ngFor="let col of columns">
        <ng-container *ngIf="col.isButton">
          <button mat-raised-button class="btn btn-danger pull-right" *ngIf="col.isButton" (click)="ejecutarAccionBoton(col, row)" style="background-color: #628780; color: #ffffff; border-radius: 5px; padding: 10px 20px;">
            {{ col.buttonText }}
          </button>
        </ng-container>
        <ng-container *ngIf="!col.isButton">
          {{ getCellValue(row, col) }}
        </ng-container>
      </td>
    </tr>
  </tbody>
</table>

<mat-paginator [length]="filas.length" [pageSize]="itemsPerPage" [pageSizeOptions]="[itemsPerPage]"
    (page)="onPageChange($event)"></mat-paginator>
