.container {
  padding: 20px;
  max-width: 600px;
  margin: auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  flex-direction: column;
}

button {
  margin-bottom: 10px;
}

button.mat-primary {
  background-color: #1976d2;
}

button.mat-accent {
  background-color: #ff4081;
}

button.mat-warn {
  background-color: #f44336;
}
