.container {
  padding: 20px;
  max-width: 600px;
  margin: auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.form-fields {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.mat-form-field {
  width: 45%;
}

.field:not(:last-child) {
  margin-right: 20px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.button-group button {
  flex: 1;
  margin-right: 10px;
}

.button-group button:last-child {
  margin-right: 0;
}

button.selected {
  background-color: #1976d2; /* Cambia el color de fondo cuando está seleccionado */
  color: white; /* Cambia el color del texto cuando está seleccionado */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Agrega una sombra para resaltar */
  border: 2px solid #004ba0; /* Agrega un borde más oscuro para el botón seleccionado */
}

.button-group-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-group-column button {
  margin-bottom: 10px;
  width: 80%;
}
