<br><br><br>
<mat-nav-list>
  <ng-container *ngFor="let section of menuConfig">
    <span class="section-name">{{ section.name }}</span>
    <mat-accordion [multi]="false">
      <ng-container *ngFor="let item of section.items">
        <mat-expansion-panel [expanded]="expandedPanel === item" (opened)="setExpandedPanel(item)">
          <mat-expansion-panel-header (click)="togglePanel(item)">
            <mat-panel-title>
              <mat-icon class="panel-icon">{{ item.icon }}</mat-icon>
              <span class="item-title">{{ item.title }}</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-container *ngIf="item.children">
            <mat-nav-list>
              <ng-container *ngFor="let child of item.children">
                <a mat-list-item [routerLink]="child.route" (click)="selectChild(item)">
                  <mat-icon class="list-icon">{{ child.icon }}</mat-icon>
                  <span mat-line class="child-title">{{ child.title }}</span>
                </a>
              </ng-container>
            </mat-nav-list>
          </ng-container>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>
  </ng-container>
</mat-nav-list>
