<div>
  <app-perfil-header (personaEncontrada)="onPersonaEncontrada($event)" [persona]="persona"></app-perfil-header>
</div>

<div class="table-container" *ngIf="persona">
  <form [formGroup]="movimientoForm" (ngSubmit)="onSubmitMovimiento()" class="movimiento-form-inline">
    <mat-form-field appearance="fill">
      <mat-label>Tipo de Cuenta</mat-label>
      <mat-select formControlName="tipoCuenta">
        <mat-option value="APORTACION">APORTACION</mat-option>
        <mat-option value="COTIZACION">COTIZACION</mat-option>
        <mat-option value="CAP">CAP</mat-option>
      </mat-select>
      <mat-error *ngIf="movimientoForm.controls['tipoCuenta'].invalid">Tipo de Cuenta es requerido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Año</mat-label>
      <input matInput type="number" formControlName="ano" min="2000" max="2100">
      <mat-error *ngIf="movimientoForm.controls['ano'].invalid">Año es requerido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Mes</mat-label>
      <mat-select formControlName="mes">
        <mat-option *ngFor="let m of meses" [value]="m.value">{{ m.viewValue }}</mat-option>
      </mat-select>
      <mat-error *ngIf="movimientoForm.controls['mes'].invalid">Mes es requerido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Monto</mat-label>
      <input matInput type="number" formControlName="monto">
      <mat-error *ngIf="movimientoForm.controls['monto'].invalid">Monto es requerido y debe ser positivo</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Descripción</mat-label>
      <input matInput formControlName="descripcion" maxlength="30">
      <mat-error *ngIf="movimientoForm.controls['descripcion'].invalid">Descripción requerida y max 30 caracteres</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Tipo de Movimiento</mat-label>
      <mat-select formControlName="tipo">
        <mat-option value="CREDITO PLANILLA">CREDITO PLANILLA</mat-option>
      </mat-select>
      <mat-error *ngIf="movimientoForm.controls['tipo'].invalid">Tipo es requerido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Número de Cuenta</mat-label>
      <input matInput formControlName="numeroCuenta">
      <mat-error *ngIf="movimientoForm.controls['numeroCuenta'].invalid">Número de Cuenta es requerido</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!movimientoForm.valid">
      Guardar
    </button>
  </form>


  <app-dynamic-table
  style="width: 100%; margin-top: 20px;"
  titulo="Listado de Movimientos"
  subtitulo="Detalles de los movimientos registrados"
  [columns]="columns"
  [data]="movimientosData"
  [getData]="getFilas"
  [mostrarBotonEliminar]="true"
  (ejecutarFuncionAsincronaEvent)="ejecutarFuncionAsincronaDesdeOtroComponente($event)"
  (eliminar)="eliminarMovimiento($event)">
</app-dynamic-table>


  <button mat-raised-button color="accent" (click)="descargarMovimientosPdf()" [disabled]="!movimientosData.length" style="margin-top: 15px;">
    Descargar PDF
  </button>
</div>
