<br>
<br>
<div>
  <app-perfil-header (personaEncontrada)="onPersonaEncontrada($event)" [persona]="persona"></app-perfil-header>
</div>
<div class="table-container" *ngIf="persona">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="ano">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Año</th>
      <td mat-cell *matCellDef="let element">{{ element.ANO }}</td>
    </ng-container>
    <ng-container matColumnDef="mes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mes</th>
      <td mat-cell *matCellDef="let element">{{ element.MES }}</td>
    </ng-container>
    <ng-container matColumnDef="monto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Monto</th>
      <td mat-cell *matCellDef="let element">{{ element.MONTO | currency }}</td>
    </ng-container>
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef>Descripción</th>
      <td mat-cell *matCellDef="let element">{{ element.DESCRIPCION }}</td>
    </ng-container>
    <ng-container matColumnDef="fechaMovimiento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Movimiento</th>
      <td mat-cell *matCellDef="let element">{{ element.FECHA_MOVIMIENTO | date }}</td>
    </ng-container>
    <ng-container matColumnDef="numeroCuenta">
      <th mat-header-cell *matHeaderCellDef>Número Cuenta</th>
      <td mat-cell *matCellDef="let element">{{ element.NUMERO_CUENTA }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

  <!-- Botón para descargar PDF -->
  <button mat-raised-button color="accent" (click)="descargarMovimientosPdf()" [disabled]="!dataSource.data.length">
    Descargar PDF
  </button>

  <!-- Botón para agregar movimiento -->
  <button mat-raised-button color="primary" (click)="openAgregarMovimientoDialog()">
    Agregar Movimiento
  </button>
</div>
