<div
  *ngIf="!loading"
  style="
    text-align: center;
    background-color: white;
    margin: 1% 0% 1% 0%;
    padding: 0% 0% 1% 0%;
  "
>
  <app-dynamic-form
    [fields]="myFormFields"
    titulo="Nuevo Tipo De Deducción"
    subtitulo="Completa la información correspondiente"
    (newDatBenChange)="obtenerDatos($event)"
  ></app-dynamic-form>

  <button
    mat-raised-button
    (click)="guardarTipoDeduccion()"
    [disabled]="form.invalid"
    color="primary"
    style="margin: 2% 0; color: #ffffff; border-radius: 5px; padding: 10px 20px"
  >
    Crear Tipo Deducción
  </button>
</div>
