<h2 mat-dialog-title>Editar</h2>

<div *ngIf="form as formGroup" mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="guardar()" class="edit-form">
    <div class="form-grid" fxLayout="column">
      <div *ngFor="let campo of data.campos" fxFlex class="form-cell" [class.non-editable-field]="!campo.editable">
        <ng-container *ngIf="!campo.dependeDe || form.get(campo.dependeDe)?.value === campo.valorDependiente">
          <mat-form-field appearance="fill" fxFlex class="full-width-input" floatLabel="always"
                  [class.disabled-field]="formGroup.get(campo.nombre)?.disabled">
          <mat-label>{{ campo.etiqueta }}</mat-label>
          <input *ngIf="campo.tipo === 'text'" matInput [formControlName]="campo.nombre">
          <input *ngIf="campo.tipo === 'number'" matInput type="number" [formControlName]="campo.nombre">
          <mat-select *ngIf="campo.tipo === 'list'" [formControlName]="campo.nombre" >
            <mat-option *ngFor="let opcion of campo.opciones" [value]="opcion.valor">
              {{ opcion.etiqueta }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formGroup.get(campo.nombre)?.errors?.['required']">
            Este campo es requerido.
          </mat-error>
        </mat-form-field>
      </ng-container>
      </div>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="cerrar()">Cancelar</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="!formGroup.valid">Guardar</button>
    </div>
  </form>
</div>
