<div class="card dados-generales-centro-card">
  <div class="card-header card-header-danger title" style="background: #229e92; color: white">
    <h4 class="card-title">{{ titulo }}</h4>
    <p class="card-category">{{ subtitulo }}</p>
  </div>
  <div class="card-body">
    <form [formGroup]="form" (change)="onDatosBenChange()">
      <div class="container">
        <div class="row">
          <div *ngFor="let field of fields" [ngClass]="'col-md-' + field.col" [ngStyle]="{ 'grid-row': field.row }">
            <!-- Campo de Texto Normal -->
            <div *ngIf="field.display">
              <ng-container
                *ngIf="field.type !== 'dropdown' && field.type !== 'date' && field.type !== 'daterange' && field.type !== 'checkboxGroup' && field.type !== 'radio'; else customField">
                <mat-form-field appearance="outline" style="width: 100%">
                  <mat-label>{{ field.label }}</mat-label>
                  <input matInput [type]="field.type" [formControlName]="field.name" [readonly]="field.readOnly" />
                  <mat-icon *ngIf="field.icon" matSuffix>{{ field.icon }}</mat-icon>
                  <mat-error
                    *ngIf="form.get(field.name)?.invalid && (form.get(field.name)?.dirty || form.get(field.name)?.touched)">
                    <ng-container *ngIf="form.get(field.name)?.errors?.['required']">Este campo es
                      requerido</ng-container>
                    <ng-container *ngIf="form.get(field.name)?.errors?.['maxlength']">Ha excedido el número máximo de
                      caracteres</ng-container>
                    <ng-container *ngIf="form.get(field.name)?.errors?.['email']">Correo electrónico
                      inválido</ng-container>
                    <ng-container *ngIf="form.get(field.name)?.errors?.['min']">El valor debe ser mayor o igual a {{
                      form.get(field.name)?.errors?.['min']?.min }}</ng-container>
                    <ng-container *ngIf="form.get(field.name)?.errors?.['pattern']">Formato incorrecto</ng-container>
                  </mat-error>
                </mat-form-field>
              </ng-container>
            </div>

            <!-- Campos Personalizados (Dropdown, Fecha, Rango de Fecha, Checkbox Group, Radio Buttons) -->
            <ng-template #customField>
              <!-- Dropdown -->
              <ng-container *ngIf="field.type === 'dropdown'; else dateField">
                <mat-form-field appearance="outline" style="width: 100%">
                  <mat-label>{{ field.label }}</mat-label>
                  <mat-select [formControlName]="field.name" (selectionChange)="onSelectChange(field.name, $event)"
                    [attr.readonly]="field.readOnly">
                    <mat-option *ngFor="let option of field.options" [value]="option.value">
                      {{ option.label }}
                    </mat-option>
                  </mat-select>
                  <mat-icon *ngIf="field.icon" matSuffix>{{ field.icon }}</mat-icon>
                </mat-form-field>
              </ng-container>

              <!-- Fecha -->
              <ng-template #dateField>
                <ng-container *ngIf="field.type === 'date'; else daterangeField">
                  <mat-form-field appearance="outline" style="width: 100%">
                    <mat-label>{{ field.label }}</mat-label>
                    <input (dateChange)="onDatosBenChange()" [readonly]="field.readOnly" matInput
                      [matDatepicker]="picker" [formControlName]="field.name" />
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </ng-container>
              </ng-template>

              <!-- Rango de Fecha -->
              <ng-template #daterangeField>
                <ng-container *ngIf="field.type === 'daterange'">
                  <mat-form-field appearance="outline" style="width: 100%" class="full-width">
                    <mat-label>{{ field.label }}</mat-label>
                    <mat-date-range-input [rangePicker]="picker" [formGroup]="getRangeFormGroup(field.name)">
                      <input (dateChange)="onDatosBenChange()" [readonly]="field.readOnly" matInput matStartDate
                        placeholder="Inicio" formControlName="start" />
                      <input (dateChange)="onDatosBenChange()" [readonly]="field.readOnly" matInput matEndDate
                        placeholder="Fin" formControlName="end" />
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                  </mat-form-field>
                </ng-container>
              </ng-template>

              <!-- Checkbox Group -->
              <ng-container *ngIf="field.type === 'checkboxGroup'">
                <label>{{ field.label }}</label>
                <div [formArrayName]="field.name" *ngFor="let option of field.options; let i = index">
                  <mat-checkbox name="{{field.name}}" color="primary" [formControlName]="i"
                    (change)="onDatosBenChange1($event)">
                    {{ option.label }}
                  </mat-checkbox>
                </div>
              </ng-container>

              <!-- Radio Buttons -->
              <ng-container *ngIf="field.type === 'radio'">
                <label>{{ field.label }}</label>
                <div [formGroup]="form">
                  <mat-radio-group [formControlName]="field.name" (change)="onDatosBenChange()">
                    <mat-radio-button *ngFor="let option of field.options" [value]="option.value">
                      {{ option.label }}
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
              </ng-container>
            </ng-template>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>