<div class="card">
  <div class="card-header card-header-danger tittle">
    <h4 class="card-title">{{titulo}}</h4>
    <p class="card-category">{{subtitulo}}</p>
  </div>
  <div class="card-body">
    <form [formGroup]="form" (change)="onDatosBenChange()">
      <div class="container">
        <div class="row">
          <div *ngFor="let field of fields" class="col-md-4">
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>{{field.label}}</mat-label>
              <input matInput [type]="field.type" [formControlName]="field.name">
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>