<div>
  <app-progressbar (newDatBenChange)="setEstadoDatGen($event)" (newEstCentrTrab)="setEstadoDatCentTrab($event)"
    (newdatosHS)="setDatosHS($event)" (newdatosRP)="setDatosReferenc($event)" (newdatosB)="setDatosBenef($event)"
    (newdatosF)="setDatosF($event)" (newdatosA)="setDatosA($event)" (newdatosColegiosMag)="setDatosAColegiosMag($event)"
    (newDatosFa)="setEstadoDatFam($event)"></app-progressbar>
</div>

<div class="main-content">
  <div class="col-md-12">
    <app-dat-generales-afiliado [useCamera]="true" (imageCaptured)="handleImageCaptured($event)" *ngIf="DatosGenerales"
      (newDatosGenerales)="setDatosGenerales($event)" [datos]="formDatosGenerales"></app-dat-generales-afiliado>

    <app-col-magisteriales *ngIf="ColegiosMagisteriales" [datos]="formColegiosMagisteriales"
      (newDataColegioMagisterial)="setDatosColegiosMag($event)"></app-col-magisteriales>

    <app-new-familiares *ngIf="datosFamiliares" [datos]="formDatosFamiliares"
      (newDatosFamiliares)="setDatosFamiliares($event)">
    </app-new-familiares>

    <app-dat-puesto-trab *ngIf="DatosPuestoTrab" [datos]="formPuestTrab"
      (newDatDatosPuestTrab)="setDatosPuetTrab1($event)">
    </app-dat-puesto-trab>

    <app-historial-salario *ngIf="DatosHS" [datos]="formHistPag"
      (newDatHistSal)="setHistSal($event)"></app-historial-salario>

    <app-ref-pers *ngIf="referenc" [datos]="formReferencias"
      (newDatRefPerChange)="setDatosRefPer($event)"></app-ref-pers>

    <app-benef *ngIf="datosBeneficiario" [datos]="formBeneficiarios"
      (newDatBenChange)="setDatosBen($event)"></app-benef>


    <div class="card" *ngIf="datosF">
      <div class="card-header card-header-danger tittle">
        <h4 class="card-title">Envío De Formulario</h4>
        <p class="card-category">
          Presione el botón enviar para continuar con el proceso.
        </p>
      </div>

      <div class="card-body" style="text-align: center;">
        <!-- <button mat-button color="primary" (click)="enviar()"
          [disabled]="formDatosGenerales.controls.refpers.invalid || formColegiosMagisteriales.controls.ColMags.invalid || formDatosFamiliares.controls.familiar.invalid || formHistPag.controls.banco.invalid || formPuestTrab.controls.trabajo.invalid || formReferencias.controls.refpers.invalid || formBeneficiarios.controls.beneficiario.invalid">
          Enviar Formulario
        </button> -->
        <button mat-button color="primary" (click)="enviar()"
         >
          Enviar Formulario
        </button>
      </div>
    </div>
  </div>
</div>
