<form class="example-form" [formGroup]="formGroup" (ngSubmit)="alertFormValues(formGroup)" ngNativeValidate>
  <mat-slide-toggle color="primary" formControlName="acceptTerms">¿Desea ingresar deducciones de terceros?</mat-slide-toggle>
</form>

<div *ngIf="formGroup.invalid">
<h2>{{nameAfil}}</h2>
<app-dynamic-form [fields]="myFormFields" titulo="Detalles de deducciones" subtitulo="Completa la informacion correspondiente"
(newDatBenChange)="obtenerDatos($event)"></app-dynamic-form>
</div>


<div *ngIf="!formGroup.invalid">
  <h1>CARGA DE DEDUCCION POR BASE EXCEL</h1>
  <hr>

  <div class="upload-container">
    <input type="file" #fileInput (change)="onFileSelected($event)" hidden>

    <!-- Botón personalizado para agregar archivos -->
    <button class="btn btn-primary" (click)="fileInput.click()">
      <i class="fa fa-plus"></i> Agregar Archivos
    </button>

    <!-- Botón para limpiar el archivo seleccionado -->
    <button class="btn btn-warning" (click)="clearFile()">
      <i class="fa fa-trash"></i> Limpiar Archivo
    </button>

    <!-- Botón para iniciar la subida del archivo -->
    <button class="btn btn-success" (click)="startUpload()">
      <i class="fa fa-upload"></i> Iniciar Subida
    </button>

    <!-- Botón para cancelar la subida del archivo -->
    <button class="btn btn-danger" (click)="cancelUpload()">
      <i class="fa fa-ban"></i> Cancelar Subida
    </button>

    <div *ngIf="file" class="file-name-container">
      <div class="file-name-background">{{ file.name }}</div>
      <div class="file-name-progress" [style.width]="progressValue + '%'">{{ file.name }}</div>
    </div>
</div>

</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<!-- <input type="file" (change)="onFileSelect($event)">
<button mat-raised-button color="primary" style="color: white;" [disabled]="data.invalid" (click)="guardarDetalleDeduccion()">Guardar</button> -->
