<mat-tab-group>
  <mat-tab label="Centros De Trabajo">
    <div class=" card">
      <div class="card-header card-header-danger tittle" style="background: #229e92">
        <h4 class="card-title">Centros De Trabajo</h4>
        <p class="card-category">Completa la información correspondiente</p>
      </div>

      <form [formGroup]="formParent" style="margin: 1%;" (change)="onDatosDatosPuestTrab()">
        <div formArrayName="trabajo">
          <div *ngFor="let skill of getCtrl('trabajo', formParent).controls; index as formChild; let i = index">
            <h4 class="card-title">Centro De Trabajo Número: {{i+1}}</h4>
            <div class="row" [formGroupName]="formChild">

              <div class="col-lg-6 col-md-12">
                <mat-form-field style="flex-direction: column-reverse;" class="example-full-width inputs"
                  appearance="outline">
                  <mat-label>Centro De Trabajo</mat-label>
                  <mat-icon matPrefix>business</mat-icon>
                  <mat-select (selectionChange)="onDatosDatosPuestTrab()" formControlName="idCentroTrabajo">
                    <mat-option *ngFor="let p of centrosTrabajo" [value]="p.value">
                      {{p.label}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-error *ngFor="let error of getErrors(i, 'idCentroTrabajo')">
                  {{ error }}
                </mat-error>
              </div>

              <div class="col-lg-6 col-md-12">
                <mat-form-field style="flex-direction: column-reverse;" class="example-full-width inputs"
                  appearance="outline">
                  <mat-label>Sector Económico</mat-label>
                  <mat-icon matPrefix>domain</mat-icon>
                  <input matInput formControlName="sectorEconomico" readonly>
                </mat-form-field>
                <mat-error *ngFor="let error of getErrors(i, 'sectorEconomico')">
                  {{ error }}
                </mat-error>
              </div>

            </div>

            <div class="row" [formGroupName]="formChild">

              <div class="col-lg-4 col-md-12">
                <mat-form-field style="flex-direction: column-reverse;" class="example-full-width inputs"
                  appearance="outline">
                  <mat-label>Salario</mat-label>
                  <mat-icon matPrefix>attach_money</mat-icon>
                  <input matInput formControlName="salarioBase">
                </mat-form-field>
                <mat-error *ngFor="let error of getErrors(i, 'salarioBase')">
                  {{ error }}
                </mat-error>
              </div>

              <div class="col-lg-4 col-md-12">
                <mat-form-field style="flex-direction: column-reverse;" class="example-full-width inputs"
                  appearance="outline">
                  <mat-label>Fecha de Ingreso</mat-label>
                  <mat-icon matPrefix>calendar_today</mat-icon>
                  <input matInput formControlName="fechaIngreso" [matDatepicker]="pickerIngreso" placeholder="d/m/aaaa"
                    [max]="minDate">
                  <mat-datepicker-toggle matSuffix [for]="pickerIngreso"></mat-datepicker-toggle>
                  <mat-datepicker #pickerIngreso></mat-datepicker>
                </mat-form-field>
                <mat-error *ngFor="let error of getErrors(i, 'fechaIngreso')">
                  {{ error }}
                </mat-error>
              </div>

              <div class="col-lg-4 col-md-12">
                <mat-form-field style="flex-direction: column-reverse;" class="example-full-width inputs"
                  appearance="outline">
                  <mat-label>Fecha de Egreso</mat-label>
                  <input matInput formControlName="fechaEgreso" [matDatepicker]="pickerEgreso" placeholder="d/m/aaaa"
                    [max]="minDate">
                  <mat-datepicker-toggle matSuffix [for]="pickerEgreso"></mat-datepicker-toggle>
                  <mat-datepicker #pickerEgreso></mat-datepicker>
                </mat-form-field>
                <mat-error *ngFor="let error of getErrors(i, 'fechaEgreso')">
                  {{ error }}
                </mat-error>
              </div>

            </div>

            <div class="row" [formGroupName]="formChild">
              <div class="col-lg-6 col-md-12">
                <mat-form-field style="flex-direction: column-reverse;" class="example-full-width inputs"
                  appearance="outline">
                  <mat-label>Cargo</mat-label>
                  <mat-icon matPrefix>work</mat-icon>
                  <input matInput formControlName="cargo">
                </mat-form-field>
                <mat-error *ngFor="let error of getErrors(i, 'cargo')">
                  {{ error }}
                </mat-error>
              </div>

              <div class="col-lg-6 col-md-12"
                *ngIf="getCtrl('trabajo', formParent).controls[i].get('showNumeroAcuerdo').value">
                <mat-form-field style="flex-direction: column-reverse;" class="example-full-width inputs"
                  appearance="outline">
                  <mat-label>Número De Acuerdo</mat-label>
                  <mat-icon matPrefix>assignment</mat-icon>
                  <input matInput formControlName="numeroAcuerdo">
                </mat-form-field>
                <mat-error *ngFor="let error of getErrors(i, 'numeroAcuerdo')">
                  {{ error }}
                </mat-error>
              </div>
            </div>

          </div>
        </div>
      </form>

      <div class="row" style="text-align: center; margin: 1%;">
        <div class="col-lg-6 col-md-12">
          <button mat-button color="primary" (click)="agregarTrabajo()"><mat-icon
              matSuffix>exposure_plus_1</mat-icon>Agregar
            Puesto Trabajo</button>
        </div>
        <div class="col-lg-6 col-md-12">
          <button mat-button color="warn" (click)="eliminarTrabajo()"><mat-icon
              matSuffix>exposure_neg_1</mat-icon>Eliminar
            Puesto Trabajo</button>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Otras Fuentes De Ingreso">
    <h1>OTRAS FUENTES DE INGRESO</h1>
  </mat-tab>
</mat-tab-group>