<div class="card">
  <div class="card-header">
    <h4 class="card-title">Centros De Trabajo</h4>
    <p class="card-category">Completa la información correspondiente</p>
  </div>

  <div class="card-body">
    <form [formGroup]="formGroup" class="form-container">
      <div formArrayName="trabajo">
        <div *ngFor="let trabajo of trabajosArray.controls; let i = index" [formGroupName]="i" class="reference-group">
          <h4 class="reference-title">Centro De Trabajo Número: {{ i + 1 }}</h4>

          <div class="form-row">
            <!-- Código del Centro de Trabajo -->
            <mat-form-field class="half-width" appearance="outline">
              <mat-label>Código del Centro de Trabajo</mat-label>
              <mat-icon matPrefix>business</mat-icon>
              <input
                type="text"
                matInput
                formControlName="id_centro_trabajo"
                [matAutocomplete]="autoCodigo"
                placeholder="Buscar código del centro"
              />
              <mat-autocomplete #autoCodigo="matAutocomplete" [displayWith]="displayCodigo">
                <mat-option
                  *ngFor="let centro of getFilteredCodigosTrabajo(i)"
                  [value]="centro"
                >
                  {{ centro.label }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngFor="let error of getErrors(i, 'id_centro_trabajo')">
                <mat-icon>error</mat-icon> {{ error }}
              </mat-error>
            </mat-form-field>
            
            
            
            
            <mat-form-field class="half-width" appearance="outline">
              <mat-label>Nombre del Centro de Trabajo</mat-label>
              <mat-icon matPrefix>business</mat-icon>
              <input
                type="text"
                matInput
                formControlName="nombre_centro_trabajo"
                [matAutocomplete]="autoNombre"
                placeholder="Buscar centro de trabajo"
              />
              <mat-autocomplete #autoNombre="matAutocomplete" [displayWith]="displayNombre">
                <mat-option
                  *ngFor="let centro of getFilteredCentrosTrabajo(i)"
                  [value]="centro"
                >
                  {{ centro.nombreCentro }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngFor="let error of getErrors(i, 'nombre_centro_trabajo')">
                <mat-icon>error</mat-icon> {{ error }}
              </mat-error>
            </mat-form-field>
            
          </div>
          <div class="form-row">
            <!-- Departamento -->
            <mat-form-field class="half-width" appearance="outline">
              <mat-label>Departamento</mat-label>
              <mat-icon matPrefix>location_on</mat-icon>
              <mat-select formControlName="id_departamento" (selectionChange)="onDepartamentoChange($event, i)">
                <mat-option *ngFor="let departamento of departamentos" [value]="departamento.value">
                  {{ departamento.label }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="trabajo.get('id_departamento')?.invalid">
                <mat-icon>error</mat-icon> Departamento es requerido
              </mat-error>
            </mat-form-field>

            <!-- Municipio -->
            <mat-form-field class="half-width" appearance="outline">
              <mat-label>Municipio</mat-label>
              <mat-icon matPrefix>location_city</mat-icon>
              <mat-select formControlName="id_municipio">
                <mat-option *ngFor="let municipio of trabajo.get('listaMunicipios')?.value || []" [value]="municipio.value">
                  {{ municipio.label }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="trabajo.get('id_municipio')?.invalid">
                <mat-icon>error</mat-icon> Municipio es requerido
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-row">
            <mat-form-field class="half-width" appearance="outline">
              <mat-label>Telefono</mat-label>
              <mat-icon matPrefix>home</mat-icon>
              <input matInput formControlName="telefono_1" readonly>
            </mat-form-field>
            <!-- Dirección del Centro -->
            <mat-form-field class="half-width" appearance="outline">
              <mat-label>Dirección del Centro</mat-label>
              <mat-icon matPrefix>home</mat-icon>
              <input matInput formControlName="direccionCentro">
            </mat-form-field>
            <mat-form-field class="half-width" appearance="outline">
              <mat-label>Sector Económico</mat-label>
              <mat-icon matPrefix>domain</mat-icon>
              <input matInput formControlName="sectorEconomico" readonly>
            </mat-form-field>
          </div>

          <div class="form-row">
            <mat-form-field class="half-width" appearance="outline">
              <mat-label>Salario</mat-label>
              <mat-icon matPrefix>money</mat-icon>
              <input matInput formControlName="salario_base">
              <mat-error *ngFor="let error of getErrors(i, 'salario_base')">
                <mat-icon>error</mat-icon> {{ error }}
              </mat-error>
            </mat-form-field>
            <mat-form-field class="half-width" appearance="outline">
              <mat-label>Día de Pago</mat-label>
              <mat-icon matPrefix>calendar_today</mat-icon>
              <mat-select formControlName="fecha_pago">
                <mat-option *ngFor="let dia of [].constructor(31); let i = index" [value]="i + 1">
                  {{ i + 1 }}
                </mat-option>
              </mat-select>
              <mat-error *ngFor="let error of getErrors(i, 'fecha_pago')">
                <mat-icon>error</mat-icon> {{ error }}
              </mat-error>
            </mat-form-field>
            <mat-form-field class="half-width" appearance="outline">
              <mat-label>Fecha de Ingreso</mat-label>
              <mat-icon matPrefix>calendar_today</mat-icon>
              <input 
                matInput 
                formControlName="fecha_ingreso" 
                [matDatepicker]="pickerIngreso" 
                placeholder="d/m/aaaa" 
                readonly
              >
              <mat-datepicker-toggle matSuffix [for]="pickerIngreso"></mat-datepicker-toggle>
              <mat-datepicker #pickerIngreso></mat-datepicker>
              <mat-error *ngFor="let error of getErrors(i, 'fecha_ingreso')">
                <mat-icon>error</mat-icon> {{ error }}
              </mat-error>
            </mat-form-field>
            <mat-form-field class="half-width" appearance="outline">
              <mat-label>Fecha de Egreso</mat-label>
              <mat-icon matPrefix>calendar_today</mat-icon>
              <input 
                matInput 
                formControlName="fecha_egreso" 
                [matDatepicker]="pickerEgreso" 
                placeholder="d/m/aaaa" 
                readonly
              >
              <mat-datepicker-toggle matSuffix [for]="pickerEgreso"></mat-datepicker-toggle>
              <mat-datepicker #pickerEgreso></mat-datepicker>
              <mat-error *ngFor="let error of getErrors(i, 'fecha_egreso')">
                <mat-icon>error</mat-icon> {{ error }}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-row">
            <mat-form-field class="half-width" appearance="outline">
              <mat-label>Cargo</mat-label>
              <mat-icon matPrefix>work</mat-icon>
              <input matInput formControlName="cargo">
              <mat-error *ngFor="let error of getErrors(i, 'cargo')">
                <mat-icon>error</mat-icon> {{ error }}
              </mat-error>
            </mat-form-field>
            <mat-form-field class="half-width" appearance="outline" *ngIf="trabajo.get('showNumeroAcuerdo')?.value">
              <mat-label>Número De Acuerdo</mat-label>
              <mat-icon matPrefix>assignment</mat-icon>
              <input matInput formControlName="numero_acuerdo">
              <mat-error *ngFor="let error of getErrors(i, 'numero_acuerdo')">
                <mat-icon>error</mat-icon> {{ error }}
              </mat-error>
            </mat-form-field>            
            <mat-form-field class="half-width" appearance="outline">
              <mat-label>Jornada</mat-label>
              <mat-icon matPrefix>schedule</mat-icon>
              <mat-select formControlName="jornada">
                <mat-option *ngFor="let option of jornadas" [value]="option.value">{{ option.label }}</mat-option>
              </mat-select>
              <mat-error *ngFor="let error of getErrors(i, 'jornada')">
                <mat-icon>error</mat-icon> {{ error }}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-row">
            <mat-form-field class="half-width" appearance="outline">
              <mat-label>Tipo de Jornada</mat-label>
              <mat-icon matPrefix>assignment_turned_in</mat-icon>
              <mat-select formControlName="tipo_jornada">
                <mat-option *ngFor="let option of tiposJornada" [value]="option.value">{{ option.label }}</mat-option>
              </mat-select>
              <mat-error *ngFor="let error of getErrors(i, 'tipo_jornada')">
                <mat-icon>error</mat-icon> {{ error }}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="action-buttons">
            <button mat-button color="warn" (click)="eliminarTrabajo(i)">
              <mat-icon>remove</mat-icon> Eliminar Centro De Trabajo
            </button>
          </div>
        </div>
      </div>

      <div class="action-buttons">
        <button mat-button color="primary" (click)="agregarTrabajo()">
          <mat-icon>add</mat-icon> Agregar Centro De Trabajo
        </button>
      </div>
    </form>
  </div>
</div>
