<mat-toolbar color="primary" class="header-toolbar">
  <a [routerLink]="['/menu/dashboard']">
    <img src="../../../assets/images/LOGO INPRENET.png" alt="Logo" class="logo-header">
  </a>
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>
  <button mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>more_vert</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="userMenu" class="user-icon-container">
    <img *ngIf="userPhotoUrl" [src]="userPhotoUrl" alt="User" class="user-icon">
  </button>
  <mat-menu #userMenu="matMenu">
    <app-user-menu [sections]="sections"></app-user-menu>
  </mat-menu>
</mat-toolbar>
