<div class="register-wrapper">
  <div class="register-container mat-elevation-z8">
    <div class="logo-container">
      <img src="../../../../../assets/images/LOGO INPRENET D.svg" alt="Logo de la Aplicación">
    </div>
    <h2>Completa tu Registro</h2>
    <form [formGroup]="form" (ngSubmit)="enviarInformacionDeSeguridad()">
      <div class="form-grid">
        <div class="form-row">
          <mat-form-field appearance="fill" class="form-field col-12">
            <mat-label>Correo Electrónico</mat-label>
            <input matInput type="email" formControlName="correo" readonly>
            <mat-error *ngIf="form.controls['correo'].invalid && form.controls['correo'].touched">
              Correo es requerido y debe ser válido
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field appearance="fill" class="form-field col-6">
            <mat-label>Teléfono</mat-label>
            <input matInput type="text" formControlName="telefonoEmpleado">
          </mat-form-field>
          <mat-form-field appearance="fill" class="form-field col-6">
            <mat-label>Teléfono Secundario</mat-label>
            <input matInput type="text" formControlName="telefonoEmpleado2">
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field appearance="fill" class="form-field col-6">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" formControlName="contrasena">
          </mat-form-field>
          <mat-form-field appearance="fill" class="form-field col-6">
            <mat-label>Confirmar Contraseña</mat-label>
            <input matInput type="password" formControlName="confirmarContrasenia">
            <mat-error *ngIf="form.controls['confirmarContrasenia'].hasError('confirmarContrasena')">
              Las contraseñas no coinciden
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field appearance="fill" class="form-field col-12">
            <mat-label>Número de Identificación</mat-label>
            <input matInput type="text" formControlName="numero_identificacion">
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field appearance="fill" class="form-field col-6">
            <mat-label>Pregunta de Seguridad 1</mat-label>
            <mat-select formControlName="preguntaseguridad1">
              <mat-option *ngFor="let opcion of getAvailableQuestions(0)" [value]="opcion">
                {{ opcion }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="form-field col-6">
            <mat-label>Respuesta</mat-label>
            <input matInput formControlName="respuestaSeguridad1" type="text">
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field appearance="fill" class="form-field col-6">
            <mat-label>Pregunta de Seguridad 2</mat-label>
            <mat-select formControlName="preguntaseguridad2">
              <mat-option *ngFor="let opcion of getAvailableQuestions(1)" [value]="opcion">
                {{ opcion }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="form-field col-6">
            <mat-label>Respuesta</mat-label>
            <input matInput formControlName="respuestaSeguridad2" type="text">
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field appearance="fill" class="form-field col-6">
            <mat-label>Pregunta de Seguridad 3</mat-label>
            <mat-select formControlName="preguntaseguridad3">
              <mat-option *ngFor="let opcion of getAvailableQuestions(2)" [value]="opcion">
                {{ opcion }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="form-field col-6">
            <mat-label>Respuesta</mat-label>
            <input matInput formControlName="respuestaSeguridad3" type="text">
          </mat-form-field>
        </div>

        <div class="form-row">
          <div class="form-group col-6">
            <label for="archivo">Sube tu identificación</label>
            <input id="archivo" type="file" (change)="onFileChange($event, 'archivo')" accept="image/*" class="form-control-file" />
          </div>

          <div class="form-group col-6">
            <label for="fotografia">Sube tu fotografía</label>
            <input id="fotografia" type="file" (change)="onFileChange($event, 'fotografia')" accept="image/*" class="form-control-file" />
          </div>
        </div>

        <div class="form-row">
          <div class="button-container col-12">
            <button mat-raised-button color="primary" type="submit" [disabled]="!isFormComplete()">Completar Registro</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
