<div class="register-wrapper">
  <div class="register-container mat-elevation-z8">
    <div class="logo-container">
      <img src="../../../../../assets/images/LOGO INPRENET D.svg" alt="Logo de la Aplicación">
    </div>
    <h2>Completa tu Registro</h2>
    <form [formGroup]="form" (ngSubmit)="enviarInformacionDeSeguridad()">
      <div class="form-grid">
        <div class="form-row">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Correo Electrónico</mat-label>
            <input matInput type="email" formControlName="correo" readonly>
            <mat-error *ngIf="form.controls['correo'].invalid && form.controls['correo'].touched">
              Correo es requerido y debe ser válido
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Teléfono</mat-label>
            <input matInput type="text" formControlName="telefonoEmpleado">
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" formControlName="contrasena">
          </mat-form-field>
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Confirmar Contraseña</mat-label>
            <input matInput type="password" formControlName="confirmarContrasenia">
            <mat-error *ngIf="form.controls['confirmarContrasenia'].hasError('confirmarContrasena')">
              Las contraseñas no coinciden
            </mat-error>
          </mat-form-field>
        </div>

        <mat-form-field appearance="fill" class="form-field full-width">
          <mat-label>Número de Identificación</mat-label>
          <input matInput type="text" formControlName="numero_identificacion">
        </mat-form-field>

        <div class="security-questions">
          <div class="form-row">
            <mat-form-field appearance="fill" class="form-field question-field">
              <mat-label>Pregunta de Seguridad 1</mat-label>
              <mat-select formControlName="preguntaseguridad1" (selectionChange)="validateQuestions()">
                <mat-option *ngFor="let opcion of availableQuestions" [value]="opcion">
                  {{ opcion }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field answer-field">
              <mat-label>Respuesta</mat-label>
              <input matInput formControlName="respuestaSeguridad1" type="text">
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field appearance="fill" class="form-field question-field">
              <mat-label>Pregunta de Seguridad 2</mat-label>
              <mat-select formControlName="preguntaseguridad2" (selectionChange)="validateQuestions()">
                <mat-option *ngFor="let opcion of availableQuestions" [value]="opcion">
                  {{ opcion }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field answer-field">
              <mat-label>Respuesta</mat-label>
              <input matInput formControlName="respuestaSeguridad2" type="text">
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field appearance="fill" class="form-field question-field">
              <mat-label>Pregunta de Seguridad 3</mat-label>
              <mat-select formControlName="preguntaseguridad3" (selectionChange)="validateQuestions()">
                <mat-option *ngFor="let opcion of availableQuestions" [value]="opcion">
                  {{ opcion }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field answer-field">
              <mat-label>Respuesta</mat-label>
              <input matInput formControlName="respuestaSeguridad3" type="text">
            </mat-form-field>
          </div>
        </div>

        <div class="form-group full-width">
          <label for="archivo">Sube tu identificación</label>
          <input id="archivo" type="file" (change)="onFileChange($event)" class="form-control-file" />
        </div>
      </div>

      <button mat-raised-button color="primary" type="submit" class="full-width">Completar Registro</button>
    </form>
  </div>
</div>
