.landing-page {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  color: #333;
  padding: 3rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient(120deg, #13776B, #33E4DC);
  color: white;
  padding: 3rem 1.5rem; /* Reducido de 5rem a 3rem y de 2rem a 1.5rem */
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  margin-bottom: 2rem; /* Reducido el margen inferior */
  max-width: 1500px; /* Limitar el ancho del cuadro */
  margin-left: auto;
  margin-right: auto;
}

.hero h1 {
  font-size: 3rem; /* Reducido el tamaño de fuente */
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.hero p {
  font-size: 1.1rem; /* Reducido de 1.3rem a 1.1rem */
  max-width: 600px;
  margin-bottom: 1.5rem;
}

.hero button {
  font-size: 1rem; /* Reducido el tamaño de fuente */
  padding: 0.6rem 2rem; /* Ajustado el padding */
  border-radius: 25px;
  background-color: #1C9588;
  color: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.hero button:hover {
  background-color: #33E4DC;
  transform: translateY(-3px);
}

.hero-image img {
  max-width: 80%; /* Reducir el ancho de la imagen */
  height: auto;
  margin-top: 2rem;
  border-radius: 10px;
}


.features {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.feature {
  width: 300px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  padding: 1.5rem;
}

.feature:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.feature img {
  max-width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-bottom: 1rem;
}

.feature mat-card-header {
  text-align: center;
  padding: 1rem 0;
}

.feature mat-card-title {
  font-size: 1.4rem;
  color: #1C9588;
  font-weight: 600;
}

.feature mat-card-content {
  padding: 0.5rem 1rem 1.5rem;
  font-size: 1rem;
  color: #555;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from { transform: translateY(20px); }
  to { transform: translateY(0); }
}
