<!-- pre-register.component.html -->
<div class="container">
  <div class="form-container">
    <div class="form-header">
      <img src="../../../../../assets/images/LOGO INPRENET D.svg" alt="Logo" class="logo">
      <h2>Pre-Registro</h2>
    </div>
    <form [formGroup]="form" (ngSubmit)="crearCuenta()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Correo</mat-label>
        <input matInput formControlName="correo" placeholder="Ingrese su correo">
        <mat-error *ngIf="form.get('correo')?.invalid && form.get('correo')?.touched">
          Correo es requerido y debe ser válido
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Rol</mat-label>
        <mat-select formControlName="rol" placeholder="Seleccione un rol">
          <mat-option *ngFor="let rol of tipoRol" [value]="rol.label">{{ rol.label }}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('rol')?.invalid && form.get('rol')?.touched">
          Rol es requerido
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Tipo de Identificación</mat-label>
        <mat-select formControlName="tipoIdent" placeholder="Seleccione un tipo de identificación">
          <mat-option *ngFor="let tipo of tipoIdent" [value]="tipo.tipo_identificacion">{{ tipo.tipo_identificacion }}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('tipoIdent')?.invalid && form.get('tipoIdent')?.touched">
          Tipo de identificación es requerido
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Número de Identificación</mat-label>
        <input matInput formControlName="numeroIden" placeholder="Ingrese su número de identificación">
        <mat-error *ngIf="form.get('numeroIden')?.invalid && form.get('numeroIden')?.touched">
          Número de identificación es requerido
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Nombre Completo</mat-label>
        <input matInput formControlName="nombrecomp" placeholder="Ingrese su nombre completo">
        <mat-error *ngIf="form.get('nombrecomp')?.invalid && form.get('nombrecomp')?.touched">
          Nombre completo es requerido
        </mat-error>
      </mat-form-field>

      <div class="file-upload">
        <label for="file">Subir Identificación:</label>
        <input type="file" id="file" (change)="obt($event)">
      </div>

      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Crear Cuenta</button>
    </form>
  </div>
</div>
