<div class="main-content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-danger tittle">
        <h4 class="card-title">Datos De Centro De Trabajo</h4>
        <p class="card-category">Completa la información correspondiente</p>
      </div>
      <div class="card-body">
        <form [formGroup]="formulario">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="example-full-width" style="width: 100%" appearance="outline">
                <mat-label>Nombre del centro de trabajo</mat-label>
                <input matInput placeholder="Centro de trabajo" formControlName="nombre">
                <mat-icon matSuffix>home</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="example-full-width" style="width: 100%" appearance="outline">
                <mat-label>Ciudad del centro de trabajo</mat-label>
                <input matInput placeholder="Ciudad" formControlName="ciudad">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <mat-form-field class="example-full-width" style="width: 100%" appearance="outline">
                <mat-label>Correo 1</mat-label>
                <input matInput placeholder="Correo" formControlName="correo_1">
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="example-full-width" style="width: 100%" appearance="outline">
                <mat-label>Correo 2</mat-label>
                <input matInput placeholder="Correo" formControlName="correo_2">
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="example-full-width" style="width: 100%" appearance="outline">
                <mat-label>Teléfono 1</mat-label>
                <input matInput placeholder="Teléfono" formControlName="telefono_1">
                <mat-icon matSuffix>contacts</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="example-full-width" style="width: 100%" appearance="outline">
                <mat-label>Teléfono 2</mat-label>
                <input matInput placeholder="Teléfono" formControlName="telefono_2">
                <mat-icon matSuffix>contacts</mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="example-full-width" style="width: 100%" appearance="outline">
                <input matInput placeholder="Apoderado Legal" type="text" formControlName="apoderado_legal">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="example-full-width" style="width: 100%" appearance="outline">
                <input matInput placeholder="Representante Legal" type="text" formControlName="representante_legal">
              </mat-form-field>
            </div>
          </div>
          <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="agregarCentroTrabajo()">Actualizar</button>
          <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="limpiarCentroTrabajo()">Limpiar</button>
        </form>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header card-header-danger tittle">
      <div class="row">
        <div class="col-6">
          <h4 class="card-title">Centros de trabajo</h4>
        </div>
        <div class="col-6">
          <mat-form-field  style="width: 40%" appearance="outline">
          <input matInput placeholder="Buscar por nombre" [(ngModel)]="nombreBusqueda" class="custom-input"/>
        </mat-form-field>
          <button mat-raised-button color="primary" (click)="buscarPorNombre()"><mat-icon>search</mat-icon></button>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div style="overflow-x: auto;">


        <table mat-table class="mat-elevation-z8" [dataSource]="dataSource" >

          <ng-container matColumnDef="indice">
            <th mat-header-cell *matHeaderCellDef>Índice</th>
            <td mat-cell *matCellDef="let centroTrabajo; let i = index" [ngClass]="{'fila-impar': i % 2 !== 0, 'fila-par': i % 2 === 0}">
              {{ i+1 }}</td>
          </ng-container>


          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let centroTrabajo; let i = index" [ngClass]="{'fila-impar': i % 2 !== 0, 'fila-par': i % 2 === 0}">
              {{ centroTrabajo[2] }}</td>
          </ng-container>

          <ng-container matColumnDef="telefono_1">
            <th mat-header-cell *matHeaderCellDef>Teléfono 1</th>
            <td mat-cell *matCellDef="let centroTrabajo; let i = index" [ngClass]="{'fila-impar': i % 2 !== 0, 'fila-par': i % 2 === 0}">
              {{ centroTrabajo[3] }}</td>
          </ng-container>

          <ng-container matColumnDef="telefono_2">
            <th mat-header-cell *matHeaderCellDef>Teléfono 2</th>
            <td mat-cell *matCellDef="let centroTrabajo; let i = index" [ngClass]="{'fila-impar': i % 2 !== 0, 'fila-par': i % 2 === 0}">
              {{ centroTrabajo[4] }}</td>
          </ng-container>

          <ng-container matColumnDef="correo_1">
            <th mat-header-cell *matHeaderCellDef>Correo 1</th>
            <td mat-cell *matCellDef="let centroTrabajo; let i = index" [ngClass]="{'fila-impar': i % 2 !== 0, 'fila-par': i % 2 === 0}">
              {{ centroTrabajo[5] }}</td>
          </ng-container>

          <ng-container matColumnDef="correo_2">
            <th mat-header-cell *matHeaderCellDef>Correo 2</th>
            <td mat-cell *matCellDef="let centroTrabajo; let i = index" [ngClass]="{'fila-impar': i % 2 !== 0, 'fila-par': i % 2 === 0}">
              {{ centroTrabajo[6] }}</td>
          </ng-container>

          <ng-container matColumnDef="apoderado_legal">
            <th mat-header-cell *matHeaderCellDef>Apoderado Legal</th>
            <td mat-cell *matCellDef="let centroTrabajo; let i = index" [ngClass]="{'fila-impar': i % 2 !== 0, 'fila-par': i % 2 === 0}">
              {{ centroTrabajo[7] }}</td>
          </ng-container>

          <ng-container matColumnDef="representante_legal">
            <th mat-header-cell *matHeaderCellDef>Representante Legal</th>
            <td mat-cell *matCellDef="let centroTrabajo; let i = index" [ngClass]="{'fila-impar': i % 2 !== 0, 'fila-par': i % 2 === 0}">
              {{ centroTrabajo[8] }}</td>
          </ng-container>

          <ng-container matColumnDef="rtn">
            <th mat-header-cell *matHeaderCellDef>RTN</th>
            <td mat-cell *matCellDef="let centroTrabajo; let i = index" [ngClass]="{'fila-impar': i % 2 !== 0, 'fila-par': i % 2 === 0}">
              {{ centroTrabajo[9] }}</td>
          </ng-container>

          <ng-container matColumnDef="logo">
            <th mat-header-cell *matHeaderCellDef>Logo</th>
            <td mat-cell *matCellDef="let centroTrabajo; let i = index" [ngClass]="{'fila-impar': i % 2 !== 0, 'fila-par': i % 2 === 0}">
              {{ centroTrabajo[10] }}</td>
          </ng-container>

          <ng-container matColumnDef="editar">
            <th mat-header-cell *matHeaderCellDef>Editar</th>
            <td mat-cell *matCellDef="let centroTrabajo; let i = index" [ngClass]="{'fila-impar': i % 2 !== 0, 'fila-par': i % 2 === 0}">

              <button mat-icon-button (click)="editarCentroTrabajo(centroTrabajo)">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
      </div>

      <mat-paginator #matPaginator [length]="informacion.length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25]"
      (page)="onPageChange($event)" aria-label="Select page">
    </mat-paginator>

    </div>
  </div>
</div>
