<div class="card-container">
  <app-perfil-header (personaEncontrada)="handlePersonaEncontrada($event)"></app-perfil-header>

  <div *ngIf="persona" class="table-container" style="background-color: white; border-radius: 10px; padding: 20px">
    <app-dynamic-table style="width: 100%"
      titulo="Otorgamiento del Beneficio de Suma Adicional Anticipada de las Sesenta (60) Rentas Mensuales"
      subtitulo="Estatus de Beneficiarios" [columns]="myColumns" [data]="estatus60Rentas" [getData]="getFilas"
      (ejecutarFuncionAsincronaEvent)="ejecutarFuncionAsincronaDesdeOtroComponente($event)">
    </app-dynamic-table>
  </div>
</div>