
body {
    margin: 0;
  }

  .basic-container {
    padding: 30px;
  }

  .version-info {
    font-size: 8pt;
    float: right;
  }

  .inputs {
    width: 100%
  }

  .tittle {
    color:white;
    background: #628780;
  }

  .error-text-small {
    font-size: 0.75rem;
  }

  .error-icon-small {
    font-size: 1rem;
    vertical-align: middle;
    margin-right: 4px;
  }
