<div class="card">
  <div class="card-header tittle" style="background: #229e92;">
    <h4 class="card-title">Colegio Magisterial</h4>
    <p class="card-category">Completa la información correspondiente</p>
  </div>
  <div [formGroup]="formGroup">
    <div formArrayName="ColMags">
      <div *ngFor="let colMag of colMags.controls; let i = index" [formGroupName]="i" class="row">
        <h4 class="card-title">Colegio Magisterial Número: {{i + 1}}</h4>
        <div class="col-md-12">
          <mat-form-field appearance="outline" style="flex-direction: column-reverse;" class="example-full-width inputs">
            <mat-label>Colegio Magisterial</mat-label>
            <mat-icon matPrefix>school</mat-icon>
            <mat-select formControlName="id_colegio">
              <mat-option *ngFor="let item of getAvailableColegios(i)" [value]="item.value">
                {{ item.label }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="colMag.get('id_colegio')?.invalid && colMag.get('id_colegio')?.touched">
              <mat-icon aria-hidden="true" class="error-icon-small">error_outline</mat-icon>
              El colegio es requerido.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="row" style="text-align: center; margin: 1%;">
      <div class="col-md-6">
        <button mat-button color="primary" (click)="agregarColMag()">
          <mat-icon matSuffix>exposure_plus_1</mat-icon> Agregar Colegio Magisterial
        </button>
      </div>
      <div class="col-md-6">
        <button mat-button color="warn" (click)="eliminarColMag(colMags.length - 1)">
          <mat-icon matSuffix>exposure_neg_1</mat-icon> Eliminar Colegio Magisterial
        </button>
      </div>
    </div>
  </div>
</div>
