<div class="buscar-persona-container" *ngIf="!afiliado">
  <h1>Buscar Afiliado</h1>
  <mat-form-field appearance="outline">
    <mat-label>DNI del Afiliado</mat-label>
    <input matInput type="text" [(ngModel)]="dniAfiliado" placeholder="Ingrese el DNI" />
  </mat-form-field>
  <button mat-raised-button color="primary" style="color: white;" (click)="buscarAfiliado()">Buscar</button>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</div>

<div *ngIf="afiliado">
  <app-edit-datos-bancarios [Afiliado]="afiliado" [mostrarResetBusqueda]="true" (resetBusqueda)="resetBusqueda()"></app-edit-datos-bancarios>
</div>
