<div class="card">
  <div class="card-header card-header-danger tittle">
    <h4 class="card-title">Datos Generales</h4>
    <p class="card-category">Completa la información correspondiente</p>
  </div>
  <div class="card-body">
    <app-camara *ngIf="useCamera" (imageCaptured)="handleImageCaptured($event)">
    </app-camara>

    <!-- Mensaje de error si no se ha capturado la foto -->
    <div *ngIf="isPhotoInvalid" class="error-message">
      Por favor, capture su fotografía.
    </div>

    <form [formGroup]="formGroup" style="margin: 1%;" (change)="onDatosGeneralesChange()">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <label>¿Es Voluntario?</label>
          <mat-radio-group formControlName="voluntario">
            <mat-radio-button [value]="true">Sí</mat-radio-button>
            <mat-radio-button [value]="false">No</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-12">
          <mat-form-field appearance="outline" class="example-full-width inputs" class="w-100">
            <mat-label>Tipo de Identificación</mat-label>
            <mat-icon matPrefix>badge</mat-icon>
            <mat-select (selectionChange)="onDatosGeneralesChange()" formControlName="id_tipo_identificacion">
              <mat-option *ngFor="let tipo of tipoIdent" [value]="tipo.value">
                {{ tipo.label }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.get('id_tipo_identificacion')?.invalid && formGroup.get('id_tipo_identificacion')?.touched">
              <mat-icon aria-hidden="true" class="error-icon-small">error_outline</mat-icon>
              Tipo de Identificación es requerido.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-12">
          <mat-form-field appearance="outline" class="example-full-width inputs" class="w-100">
            <mat-label>Número de Identificación</mat-label>
            <mat-icon matPrefix>credit_card</mat-icon>
            <input matInput formControlName="n_identificacion" (blur)="formGroup.get('n_identificacion')?.markAsTouched()">
            <mat-error *ngIf="formGroup.get('n_identificacion')?.hasError('required') && formGroup.get('n_identificacion')?.touched">
              Número de Identificación es requerido.
            </mat-error>
            <mat-error *ngIf="formGroup.get('n_identificacion')?.hasError('minlength') && formGroup.get('n_identificacion')?.touched">
              El número de identificación debe tener al menos {{ formGroup.get('id_tipo_identificacion')?.value === 2 ? 9 : 13 }} caracteres.
            </mat-error>
            <mat-error *ngIf="formGroup.get('n_identificacion')?.hasError('maxlength') && formGroup.get('n_identificacion')?.touched">
              El número de identificación no puede tener más de 15 caracteres.
            </mat-error>
            <mat-error *ngIf="formGroup.get('n_identificacion')?.hasError('pattern') && formGroup.get('n_identificacion')?.touched">
              El número de identificación {{ formGroup.get('id_tipo_identificacion')?.value === 3 ? 'puede contener números y letras' : 'solo puede contener números' }}.
            </mat-error>
          </mat-form-field>

        </div>
        <div class="col-lg-4 col-md-12">
          <mat-form-field appearance="outline" class="example-full-width inputs" class="w-100">
            <mat-label>Fecha de Vencimiento de Identificación</mat-label>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <input matInput formControlName="fecha_vencimiento_ident" [matDatepicker]="picker2">
            <mat-error *ngIf="formGroup.get('fecha_vencimiento_ident')?.invalid && formGroup.get('fecha_vencimiento_ident')?.touched">
              <mat-icon aria-hidden="true" class="error-icon-small">error_outline</mat-icon>
              Fecha de Vencimiento es requerida.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-12">
          <mat-form-field appearance="outline" class="example-full-width inputs" class="w-100">
            <mat-label>Número de RTN</mat-label>
            <mat-icon matPrefix>credit_card</mat-icon>
            <input matInput formControlName="rtn">
            <mat-error *ngIf="formGroup.get('rtn')?.invalid && formGroup.get('rtn')?.touched">
              <mat-icon aria-hidden="true" class="error-icon-small">error_outline</mat-icon>
              Debes ingresar un RTN válido de 14 dígitos.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-12">
          <mat-form-field appearance="outline" class="example-full-width inputs w-100">
            <mat-label>Fecha de Nacimiento</mat-label>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <input matInput formControlName="fecha_nacimiento" [matDatepicker]="picker1" [max]="minDate">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-error *ngIf="formGroup.get('fecha_nacimiento')?.invalid && formGroup.get('fecha_nacimiento')?.touched">
              <mat-icon aria-hidden="true" class="error-icon-small">error_outline</mat-icon>
              Fecha de Nacimiento es requerida.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-lg-4 col-md-12">
          <mat-form-field appearance="outline" class="example-full-width inputs" class="w-100">
            <mat-label>Género</mat-label>
            <mat-icon matPrefix>wc</mat-icon>
            <mat-select (selectionChange)="onDatosGeneralesChange()" formControlName="genero">
              <mat-option *ngFor="let item of genero" [value]="item.value">
                {{ item.label }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.get('genero')?.invalid && formGroup.get('genero')?.touched">
              <mat-icon aria-hidden="true" class="error-icon-small">error_outline</mat-icon>
              Género es requerido.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-12">
          <mat-form-field appearance="outline" class="example-full-width inputs" class="w-100">
            <mat-label>Primer Nombre</mat-label>
            <mat-icon matPrefix>person</mat-icon>
            <input matInput formControlName="primer_nombre">
            <mat-error *ngIf="formGroup.get('primer_nombre')?.invalid && formGroup.get('primer_nombre')?.touched">
              <mat-icon aria-hidden="true" class="error-icon-small">error_outline</mat-icon>
              Primer Nombre es requerido y debe tener entre 1 y 40 caracteres sin espacios.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-12">
          <mat-form-field appearance="outline" class="example-full-width inputs" class="w-100">
            <mat-label>Segundo Nombre</mat-label>
            <mat-icon matPrefix>person_outline</mat-icon>
            <input matInput formControlName="segundo_nombre">
            <mat-error *ngIf="formGroup.get('segundo_nombre')?.invalid && formGroup.get('segundo_nombre')?.touched">
              <mat-icon aria-hidden="true" class="error-icon-small">error_outline</mat-icon>
              Segundo Nombre no puede tener más de 40 caracteres.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-12">
          <mat-form-field appearance="outline" class="example-full-width inputs" class="w-100">
            <mat-label>Tercer Nombre</mat-label>
            <mat-icon matPrefix>person_outline</mat-icon>
            <input matInput formControlName="tercer_nombre">
            <mat-error *ngIf="formGroup.get('tercer_nombre')?.invalid && formGroup.get('tercer_nombre')?.touched">
              <mat-icon aria-hidden="true" class="error-icon-small">error_outline</mat-icon>
              Tercer Nombre no puede tener más de 40 caracteres.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-12">
          <mat-form-field appearance="outline" class="example-full-width inputs" class="w-100">
            <mat-label>Primer Apellido</mat-label>
            <mat-icon matPrefix>person</mat-icon>
            <input matInput formControlName="primer_apellido">
            <mat-error *ngIf="formGroup.get('primer_apellido')?.invalid && formGroup.get('primer_apellido')?.touched">
              <mat-icon aria-hidden="true" class="error-icon-small">error_outline</mat-icon>
              Primer Apellido es requerido y debe tener entre 1 y 40 caracteres sin espacios.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6 col-md-12">
          <mat-form-field appearance="outline" class="example-full-width inputs" class="w-100">
            <mat-label>Segundo Apellido</mat-label>
            <mat-icon matPrefix>person_outline</mat-icon>
            <input matInput formControlName="segundo_apellido">
            <mat-error *ngIf="formGroup.get('segundo_apellido')?.invalid && formGroup.get('segundo_apellido')?.touched">
              <mat-icon aria-hidden="true" class="error-icon-small">error_outline</mat-icon>
              Segundo Apellido no puede tener más de 40 caracteres.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <!-- Teléfono Principal -->
      <div class="col-lg-3 col-md-12">
        <mat-form-field appearance="outline" class="example-full-width inputs" class="w-100">
          <mat-label>Teléfono Principal</mat-label>
          <mat-icon matPrefix>phone</mat-icon>
          <input matInput formControlName="telefono_1">
          <mat-error *ngIf="formGroup.get('telefono_1')?.hasError('required') && formGroup.get('telefono_1')?.touched">
            Teléfono 1 es requerido.
          </mat-error>
          <mat-error *ngIf="formGroup.get('telefono_1')?.hasError('minlength') && formGroup.get('telefono_1')?.touched">
            El teléfono debe tener al menos 8 caracteres.
          </mat-error>
          <mat-error *ngIf="formGroup.get('telefono_1')?.hasError('maxlength') && formGroup.get('telefono_1')?.touched">
            El teléfono no puede tener más de 12 caracteres.
          </mat-error>
          <mat-error *ngIf="formGroup.get('telefono_1')?.hasError('pattern') && formGroup.get('telefono_1')?.touched">
            El formato del teléfono no es válido.
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Teléfono Secundario -->
      <div class="col-lg-3 col-md-12">
        <mat-form-field appearance="outline" class="example-full-width inputs" class="w-100">
          <mat-label>Teléfono Secundario</mat-label>
          <mat-icon matPrefix>phone</mat-icon>
          <input matInput formControlName="telefono_2">
          <mat-error *ngIf="formGroup.get('telefono_2')?.hasError('minlength') && formGroup.get('telefono_2')?.touched">
            El teléfono debe tener al menos 8 caracteres.
          </mat-error>
          <mat-error *ngIf="formGroup.get('telefono_2')?.hasError('maxlength') && formGroup.get('telefono_2')?.touched">
            El teléfono no puede tener más de 12 caracteres.
          </mat-error>
          <mat-error *ngIf="formGroup.get('telefono_2')?.hasError('pattern') && formGroup.get('telefono_2')?.touched">
            El formato del teléfono no es válido.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-lg-3 col-md-12">
        <mat-form-field appearance="outline" class="example-full-width inputs" class="w-100">
          <mat-label>Correo Principal</mat-label>
          <mat-icon matPrefix>email</mat-icon>
          <input matInput formControlName="correo_1" type="email">
          <mat-error *ngIf="formGroup.get('correo_1')?.invalid && formGroup.get('correo_1')?.touched">
            <mat-icon aria-hidden="true" class="error-icon-small">error_outline</mat-icon>
            Debes ingresar un correo válido.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-lg-3 col-md-12">
        <mat-form-field appearance="outline" class="example-full-width inputs" class="w-100">
          <mat-label>Correo Secundario</mat-label>
          <mat-icon matPrefix>email</mat-icon>
          <input matInput formControlName="correo_2" type="email">
          <mat-error *ngIf="formGroup.get('correo_2')?.invalid && formGroup.get('correo_2')?.touched">
            <mat-icon aria-hidden="true" class="error-icon-small">error_outline</mat-icon>
            Debes ingresar un correo válido.
          </mat-error>
        </mat-form-field>
      </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-12">
          <mat-form-field appearance="outline" class="example-full-width inputs" class="w-100">
            <mat-label>Estado Civil</mat-label>
            <mat-icon matPrefix>favorite</mat-icon>
            <mat-select (selectionChange)="onDatosGeneralesChange()" formControlName="estado_civil">
              <mat-option *ngFor="let estado of estadoCivil" [value]="estado.label">
                {{ estado.label }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.get('estado_civil')?.invalid && formGroup.get('estado_civil')?.touched">
              <mat-icon aria-hidden="true" class="error-icon-small">error_outline</mat-icon>
              Estado Civil es requerido.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-12">
          <mat-form-field appearance="outline" class="example-full-width inputs" class="w-100">
            <mat-label>Cantidad de Hijos</mat-label>
            <mat-icon matPrefix>child_care</mat-icon>
            <input matInput formControlName="cantidad_hijos" type="number">
            <mat-error *ngIf="formGroup.get('cantidad_hijos')?.invalid && formGroup.get('cantidad_hijos')?.touched">
              <mat-icon aria-hidden="true" class="error-icon-small">error_outline</mat-icon>
              Cantidad de Hijos es requerida.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-12">
          <mat-form-field appearance="outline" class="example-full-width inputs" class="w-100">
            <mat-label>Cantidad de Dependientes</mat-label>
            <mat-icon matPrefix>people</mat-icon>
            <input matInput formControlName="cantidad_dependientes" type="number">
            <mat-error *ngIf="formGroup.get('cantidad_dependientes')?.invalid && formGroup.get('cantidad_dependientes')?.touched">
              <mat-icon aria-hidden="true" class="error-icon-small">error_outline</mat-icon>
              Debes ingresar un número válido.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-12">
          <mat-form-field appearance="outline" class="example-full-width inputs" class="w-100">
            <mat-label>Grado Académico</mat-label>
            <mat-icon matPrefix>school</mat-icon>
            <mat-select (selectionChange)="onDatosGeneralesChange()" formControlName="grado_academico">
              <mat-option *ngFor="let grado of grado_academico" [value]="grado.value">
                {{ grado.label }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.get('grado_academico')?.invalid && formGroup.get('grado_academico')?.touched">
              <mat-icon aria-hidden="true" class="error-icon-small">error_outline</mat-icon>
              Grado Académico es requerido.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-12">
          <mat-form-field appearance="outline" class="example-full-width inputs" class="w-100">
            <mat-label>Profesión</mat-label>
            <mat-icon matPrefix>work</mat-icon>
            <mat-select (selectionChange)="onDatosGeneralesChange()" formControlName="id_profesion">
              <mat-option *ngFor="let profesion of profesiones" [value]="profesion.value">
                {{ profesion.label }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.get('id_profesion')?.invalid && formGroup.get('id_profesion')?.touched">
              <mat-icon aria-hidden="true" class="error-icon-small">error_outline</mat-icon>
              Profesión es requerida.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-12">
          <mat-form-field appearance="outline" class="example-full-width inputs" class="w-100">
            <mat-label>Representación</mat-label>
            <mat-icon matPrefix>account_balance</mat-icon>
            <mat-select (selectionChange)="onDatosGeneralesChange()" formControlName="representacion">
              <mat-option *ngFor="let item of representacion" [value]="item.value">
                {{ item.label }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.get('representacion')?.invalid && formGroup.get('representacion')?.touched">
              <mat-icon aria-hidden="true" class="error-icon-small">error_outline</mat-icon>
              Representación es requerida.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-12">
          <mat-form-field appearance="outline" class="example-full-width inputs" class="w-100">
            <mat-label>Nacionalidad</mat-label>
            <mat-icon matPrefix>public</mat-icon>
            <mat-select (selectionChange)="onDatosGeneralesChange()" formControlName="id_pais">
              <mat-option *ngFor="let pais of nacionalidades" [value]="pais.value">
                {{ pais.label }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.get('id_pais')?.invalid && formGroup.get('id_pais')?.touched">
              <mat-icon aria-hidden="true" class="error-icon-small">error_outline</mat-icon>
              Nacionalidad es requerida.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-12">
          <mat-form-field appearance="outline" class="example-full-width inputs" class="w-100">
            <mat-label>Departamento de Nacimiento</mat-label>
            <mat-icon matPrefix>location_on</mat-icon>
            <mat-select (selectionChange)="onDatosGeneralesChange()" formControlName="id_departamento_nacimiento" (selectionChange)="onDepartamentoNacimientoChange($event)">
              <mat-option *ngFor="let departamento of departamentosNacimiento" [value]="departamento.value">
                {{ departamento.label }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.get('id_departamento_nacimiento')?.invalid && formGroup.get('id_departamento_nacimiento')?.touched">
              <mat-icon aria-hidden="true" class="error-icon-small">error_outline</mat-icon>
              Departamento de Nacimiento es requerido.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-12">
          <mat-form-field appearance="outline" class="example-full-width inputs" class="w-100">
            <mat-label>Municipio de Nacimiento</mat-label>
            <mat-icon matPrefix>location_city</mat-icon>
            <mat-select (selectionChange)="onDatosGeneralesChange()" formControlName="id_municipio_nacimiento">
              <mat-option *ngFor="let municipio of municipiosNacimiento" [value]="municipio.value">
                {{ municipio.label }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.get('id_municipio_nacimiento')?.invalid && formGroup.get('id_municipio_nacimiento')?.touched">
              <mat-icon aria-hidden="true" class="error-icon-small">error_outline</mat-icon>
              Municipio de Nacimiento es requerido.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-12">
          <mat-form-field appearance="outline" class="example-full-width inputs" class="w-100">
            <mat-label>Departamento de Residencia</mat-label>
            <mat-icon matPrefix>place</mat-icon>
            <mat-select (selectionChange)="onDatosGeneralesChange()" formControlName="id_departamento_residencia" (selectionChange)="onDepartamentoChange($event)">
              <mat-option *ngFor="let departamento of departamentos" [value]="departamento.value">
                {{ departamento.label }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.get('id_departamento_residencia')?.invalid && formGroup.get('id_departamento_residencia')?.touched">
              <mat-icon aria-hidden="true" class="error-icon-small">error_outline</mat-icon>
              Departamento de Residencia es requerido.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-12">
          <mat-form-field appearance="outline" class="example-full-width inputs" class="w-100">
            <mat-label>Municipio de Residencia</mat-label>
            <mat-icon matPrefix>place</mat-icon>
            <mat-select (selectionChange)="onDatosGeneralesChange()" formControlName="id_municipio_residencia">
              <mat-option *ngFor="let municipio of municipios" [value]="municipio.value">
                {{ municipio.label }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.get('id_municipio_residencia')?.invalid && formGroup.get('id_municipio_residencia')?.touched">
              <mat-icon aria-hidden="true" class="error-icon-small">error_outline</mat-icon>
              Municipio de Residencia es requerido.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-12">
          <mat-form-field appearance="outline" class="example-full-width inputs" class="w-100">
            <mat-label>Grupo Étnico</mat-label>
            <mat-icon matPrefix>group</mat-icon>
            <mat-select (selectionChange)="onDatosGeneralesChange()" formControlName="grupo_etnico">
              <mat-option *ngFor="let grupo of grupo_etnico" [value]="grupo.value">
                {{ grupo.label }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.get('grupo_etnico')?.invalid && formGroup.get('grupo_etnico')?.touched">
              <mat-icon aria-hidden="true" class="error-icon-small">error_outline</mat-icon>
              Grupo Étnico es requerido.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-12">
          <mat-form-field appearance="outline" class="example-full-width inputs" class="w-100">
            <mat-label>Barrio/Colonia</mat-label>
            <mat-icon matPrefix>home</mat-icon>
            <input matInput formControlName="barrio_colonia">
            <mat-error *ngIf="formGroup.get('barrio_colonia')?.hasError('pattern') && formGroup.get('barrio_colonia')?.touched">
              Solo puede contener letras, números, espacios y puntos.
            </mat-error>
            <!-- <mat-error *ngIf="formGroup.get('barrio_colonia')?.invalid && formGroup.get('barrio_colonia')?.touched">
              <mat-icon aria-hidden="true" class="error-icon-small">error_outline</mat-icon>
              Barrio/Colonia no puede tener más de 75 caracteres.
            </mat-error> -->
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-12">
          <mat-form-field appearance="outline" class="example-full-width inputs" class="w-100">
            <mat-label>Avenida</mat-label>
            <mat-icon matPrefix>location_on</mat-icon>
            <input matInput formControlName="avenida">
            <mat-error *ngIf="formGroup.get('avenida')?.hasError('pattern') && formGroup.get('avenida')?.touched">
              Solo puede contener letras, números, espacios y puntos.
            </mat-error>
            <!-- <mat-error *ngIf="formGroup.get('avenida')?.invalid && formGroup.get('avenida')?.touched">
              <mat-icon aria-hidden="true" class="error-icon-small">error_outline</mat-icon>
              Avenida no puede tener más de 75 caracteres.
            </mat-error> -->
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-12">
          <mat-form-field appearance="outline" class="example-full-width inputs" class="w-100">
            <mat-label>Calle</mat-label>
            <mat-icon matPrefix>location_on</mat-icon>
            <input matInput formControlName="calle">
            <mat-error *ngIf="formGroup.get('calle')?.hasError('pattern') && formGroup.get('calle')?.touched">
              Solo puede contener letras, números, espacios y puntos.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-12">
          <mat-form-field appearance="outline" class="example-full-width inputs" class="w-100">
            <mat-label>Sector</mat-label>
            <mat-icon matPrefix>domain</mat-icon>
            <input matInput formControlName="sector">
            <mat-error *ngIf="formGroup.get('sector')?.hasError('pattern') && formGroup.get('sector')?.touched">
              Solo puede contener letras, números, espacios y puntos.
            </mat-error>
           <!--  <mat-error *ngIf="formGroup.get('sector')?.invalid && formGroup.get('sector')?.touched">
              <mat-icon aria-hidden="true" class="error-icon-small">error_outline</mat-icon>
              Sector no puede tener más de 75 caracteres.
            </mat-error> -->
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-12">
          <mat-form-field appearance="outline" class="example-full-width inputs" class="w-100">
            <mat-label>Bloque</mat-label>
            <mat-icon matPrefix>home_work</mat-icon>
            <input matInput formControlName="bloque">
            <mat-error *ngIf="formGroup.get('bloque')?.hasError('pattern') && formGroup.get('bloque')?.touched">
              Solo puede contener letras, números, espacios y puntos.
            </mat-error>
            <!-- <mat-error *ngIf="formGroup.get('bloque')?.invalid && formGroup.get('bloque')?.touched">
              <mat-icon aria-hidden="true" class="error-icon-small">error_outline</mat-icon>
              Bloque no puede tener más de 25 caracteres.
            </mat-error> -->
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-12">
          <mat-form-field appearance="outline" class="example-full-width inputs" class="w-100">
            <mat-label>Número de Casa</mat-label>
            <mat-icon matPrefix>home</mat-icon>
            <input matInput formControlName="numero_casa">
            <mat-error *ngIf="formGroup.get('numero_casa')?.hasError('pattern') && formGroup.get('numero_casa')?.touched">
              Solo puede contener letras, números, espacios y puntos.
            </mat-error>
           <!--  <mat-error *ngIf="formGroup.get('numero_casa')?.invalid && formGroup.get('numero_casa')?.touched">
              <mat-icon aria-hidden="true" class="error-icon-small">error_outline</mat-icon>
              Número de Casa no puede tener más de 25 caracteres.
            </mat-error> -->
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-12">
          <mat-form-field appearance="outline" class="example-full-width inputs" class="w-100">
            <mat-label>Color de Casa</mat-label>
            <mat-icon matPrefix>palette</mat-icon>
            <input matInput formControlName="color_casa">
            <mat-error *ngIf="formGroup.get('color_casa')?.hasError('pattern') && formGroup.get('color_casa')?.touched">
              Solo puede contener letras, números, espacios y puntos.
            </mat-error>
           <!--  <mat-error *ngIf="formGroup.get('color_casa')?.invalid && formGroup.get('color_casa')?.touched">
              <mat-icon aria-hidden="true" class="error-icon-small">error_outline</mat-icon>
              Color de Casa no puede tener más de 40 caracteres.
            </mat-error> -->
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-12">
          <mat-form-field appearance="outline" class="example-full-width inputs" class="w-100">
            <mat-label>Aldea</mat-label>
            <mat-icon matPrefix>map</mat-icon>
            <input matInput formControlName="aldea">
            <mat-error *ngIf="formGroup.get('aldea')?.hasError('pattern') && formGroup.get('aldea')?.touched">
              Solo puede contener letras, números, espacios y puntos.
            </mat-error>
            <!-- <mat-error *ngIf="formGroup.get('aldea')?.invalid && formGroup.get('aldea')?.touched">
              <mat-icon aria-hidden="true" class="error-icon-small">error_outline</mat-icon>
              Aldea no puede tener más de 75 caracteres.
            </mat-error> -->
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-12">
          <mat-form-field appearance="outline" class="example-full-width inputs" class="w-100">
            <mat-label>Caserío</mat-label>
            <mat-icon matPrefix>map</mat-icon>
            <input matInput formControlName="caserio">
            <mat-error *ngIf="formGroup.get('caserio')?.hasError('pattern') && formGroup.get('caserio')?.touched">
              Solo puede contener letras, números, espacios y puntos.
            </mat-error>
           <!--  <mat-error *ngIf="formGroup.get('caserio')?.invalid && formGroup.get('caserio')?.touched">
              <mat-icon aria-hidden="true" class="error-icon-small">error_outline</mat-icon>
              Caserío no puede tener más de 75 caracteres.
            </mat-error> -->
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12">
          <label>¿Posee alguna discapacidad?</label>
          <mat-radio-group formControlName="discapacidad" (change)="onDiscapacidadChange($event)">
            <mat-radio-button [value]="true">Sí</mat-radio-button>
            <mat-radio-button [value]="false">No</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="col-lg-12 col-md-12" *ngIf="discapacidadSeleccionada">
          <div formGroupName="discapacidades">
            <div *ngFor="let tipo of discapacidades; let i = index">
              <mat-checkbox [formControlName]="tipo.label">{{ tipo.label }}</mat-checkbox>
            </div>
          </div>
        </div>
      </div>

      <app-botonarchivos labelBoton="Archivo de Identificación"  (setArchivo)="getArchivo($event)"></app-botonarchivos>

      <!-- <div class="col-md-12">
        <app-peps [parentForm]="formGroup"></app-peps>
      </div> -->
    </form>
  </div>
</div>
