body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.inputs {
  width: 100%;
}

.tittle {
  color: white;
  background: #229e92;
}

.example-full-width {
  width: 100%;
}

.mat-error {
  font-size: 8px; /* Reduce el tamaño del texto de error */
  display: flex;
  align-items: center;
}

.error-icon-small {
  font-size: 10px; /* Ajusta el tamaño del ícono de error */
  margin-right: 4px; /* Espacio entre el ícono y el texto */
}


.error-message {
  color: #f44336; /* Color rojo típico para mensajes de error */
  font-size: 12px; /* Tamaño del texto */
  margin-top: 10px; /* Espacio superior */
  display: flex;
  align-items: center; /* Alinea verticalmente el texto e íconos */
  background-color: #fdecea; /* Fondo rojo claro para resaltar el mensaje */
  padding: 8px; /* Añade un poco de padding alrededor del texto */
  border-radius: 4px; /* Bordes redondeados */
  border: 1px solid #f44336; /* Borde rojo para resaltar aún más */
}

.error-message mat-icon {
  font-size: 16px; /* Tamaño del ícono */
  margin-right: 8px; /* Espacio entre el ícono y el texto */
}

.error-message mat-icon.error-icon-small {
  font-size: 14px; /* Ajusta el tamaño del ícono para ser más pequeño */
  margin-right: 6px; /* Ajusta el espacio */
}

.discapacidad-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  gap: 10px; /* Espaciado entre elementos */
  padding: 15px;
  border: 1px solid #ccc; /* Marco */
  border-radius: 8px; /* Bordes redondeados */
  background-color: #f9f9f9; /* Fondo suave */
}

.discapacidad-item {
  display: flex;
  align-items: center;
}

.custom-error {
  display: flex;
  align-items: center;
  background-color: #fdecea;
  border: 1px solid #f5c2c7;
  color: #d9534f;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
}

.error-icon {
  font-size: 20px;
  margin-right: 8px;
  color: #d9534f;
}

/* Estilo para el botón de eliminar archivo */
.delete-file-btn {
  background-color: #e53935; /* Rojo intenso */
  color: white; /* Texto en blanco */
  border-radius: 8px; /* Bordes redondeados */
  padding: 10px 15px; /* Espaciado interno */
  display: flex; /* Flex para alinear ícono y texto */
  align-items: center;
  gap: 8px; /* Espacio entre el ícono y el texto */
  font-weight: bold; /* Texto en negrita */
  transition: background-color 0.3s ease; /* Transición suave para el hover */

  mat-icon {
    font-size: 20px;
  }

  &:hover {
    background-color: #b71c1c; /* Rojo más oscuro al pasar el cursor */
  }

  &:active {
    background-color: #d32f2f; /* Rojo intermedio al hacer clic */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
  }
}
