<div class="card">
  <div class="card-header">
    <h4 class="card-title">Beneficiarios</h4>
    <p class="card-category">Llene los campos para continuar con el proceso.</p>
  </div>

  <div class="card-body">
    <form [formGroup]="formGroup" class="form-container">
      <div formArrayName="beneficiario">
        <div *ngFor="let group of beneficiarios.controls; let i = index" [formGroupName]="i" class="reference-group">
          <h4 class="reference-title">Beneficiario Número: {{ i + 1 }}</h4>

          <div class="form-row">
            <mat-form-field class="half-width" appearance="outline">
              <mat-label>Número De Identificación</mat-label>
              <mat-icon matPrefix>badge</mat-icon>
              <input matInput formControlName="n_identificacion" (blur)="verificarAfiliadoBeneficiario(group.get('n_identificacion')?.value, getGroup(group))">
              <mat-error *ngIf="group.get('n_identificacion')?.hasError('identificacionDuplicada') && group.get('n_identificacion')?.touched">
                <mat-icon>error</mat-icon> No puede ser igual al del Afiliado.
              </mat-error>
              <mat-error *ngIf="group.get('n_identificacion')?.hasError('identidadDuplicada')">
                <mat-icon>error</mat-icon> Este número de identificación ya ha sido registrado.
              </mat-error>
              <mat-error *ngIf="group.get('n_identificacion')?.hasError('pattern')">
                <mat-icon>error</mat-icon> Solo puede contener números.
              </mat-error>
              <mat-error *ngFor="let error of getErrors(i, 'n_identificacion')">
                <mat-icon>error</mat-icon> {{ error }}
              </mat-error>
            </mat-form-field>

            <mat-form-field class="half-width" appearance="outline">
              <mat-label>Parentesco</mat-label>
              <mat-icon matPrefix>people</mat-icon>
              <mat-select formControlName="parentesco">
                <mat-option *ngFor="let item of parentesco" [value]="item.value">{{ item.label }}</mat-option>
              </mat-select>
              <mat-error *ngFor="let error of getErrors(i, 'parentesco')">
                <mat-icon>error</mat-icon> {{ error }}
              </mat-error>
            </mat-form-field>

            <mat-form-field class="half-width" appearance="outline">
              <mat-label>Nacionalidad</mat-label>
              <mat-icon matPrefix>public</mat-icon>
              <mat-select formControlName="id_pais_nacionalidad">
                <mat-option *ngFor="let pais of nacionalidades" [value]="pais.value">
                  {{ pais.label }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="group.get('id_pais_nacionalidad')?.hasError('required') && group.get('id_pais_nacionalidad')?.touched">
                <mat-icon>error</mat-icon> La nacionalidad es requerida.
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Datos de Nacimiento -->
          <div class="form-row">
            <mat-form-field *ngIf="group.get('id_pais_nacionalidad')?.value === 1 || group.get('id_pais_nacionalidad')?.value === null" class="half-width" appearance="outline">
              <mat-label>Departamento De Nacimiento</mat-label>
              <mat-icon matPrefix>location_city</mat-icon>
              <mat-select formControlName="id_departamento_nacimiento" (selectionChange)="onDepartamentoNacimientoChange($event)">
                <mat-option *ngFor="let departamento of departamentosNacimiento" [value]="departamento.value">
                  {{ departamento.label }}
                </mat-option>
              </mat-select>
              <mat-error *ngFor="let error of getErrors(i, 'id_departamento_nacimiento')">
                <mat-icon>error</mat-icon> {{ error }}
              </mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="group.get('id_pais_nacionalidad')?.value === 1 || group.get('id_pais_nacionalidad')?.value === null" class="half-width" appearance="outline">
              <mat-label>Municipio De Nacimiento</mat-label>
              <mat-icon matPrefix>location_city</mat-icon>
              <mat-select formControlName="id_municipio_nacimiento">
                <mat-option *ngFor="let municipio of municipiosNacimiento" [value]="municipio.value">
                  {{ municipio.label }}
                </mat-option>
              </mat-select>
              <mat-error *ngFor="let error of getErrors(i, 'id_municipio_nacimiento')">
                <mat-icon>error</mat-icon> {{ error }}
              </mat-error>
            </mat-form-field>
            <mat-form-field class="half-width" appearance="outline">
              <mat-label>Fecha De Nacimiento</mat-label>
              <mat-datepicker-toggle matSuffix [for]="fechaNac"></mat-datepicker-toggle>
              <mat-datepicker #fechaNac></mat-datepicker>
              <input
                matInput
                formControlName="fecha_nacimiento"
                [matDatepicker]="fechaNac"
                [max]="minDate"
                readonly
              >
              <mat-hint>DD/MM/YYYY</mat-hint>
              <mat-error *ngFor="let error of getErrors(i, 'fecha_nacimiento')">
                <mat-icon>error</mat-icon> {{ error }}
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Nombres -->
          <div class="form-row">
            <mat-form-field class="half-width" appearance="outline">
              <mat-label>Primer Nombre</mat-label>
              <mat-icon matPrefix>person</mat-icon>
              <input matInput formControlName="primer_nombre" required>
              <mat-error *ngFor="let error of getErrors(i, 'primer_nombre')">
                <mat-icon>error</mat-icon> {{ error }}
              </mat-error>
            </mat-form-field>

            <mat-form-field class="half-width" appearance="outline">
              <mat-label>Segundo Nombre</mat-label>
              <mat-icon matPrefix>person</mat-icon>
              <input matInput formControlName="segundo_nombre">
              <mat-error *ngFor="let error of getErrors(i, 'segundo_nombre')">
                <mat-icon>error</mat-icon> {{ error }}
              </mat-error>
            </mat-form-field>

            <mat-form-field class="half-width" appearance="outline">
              <mat-label>Tercer Nombre</mat-label>
              <mat-icon matPrefix>person</mat-icon>
              <input matInput formControlName="tercer_nombre">
              <mat-error *ngFor="let error of getErrors(i, 'tercer_nombre')">
                <mat-icon>error</mat-icon> {{ error }}
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Apellidos -->
          <div class="form-row">
            <mat-form-field class="half-width" appearance="outline">
              <mat-label>Primer Apellido</mat-label>
              <mat-icon matPrefix>person</mat-icon>
              <input matInput formControlName="primer_apellido" required>
              <mat-error *ngFor="let error of getErrors(i, 'primer_apellido')">
                <mat-icon>error</mat-icon> {{ error }}
              </mat-error>
            </mat-form-field>

            <mat-form-field class="half-width" appearance="outline">
              <mat-label>Segundo Apellido</mat-label>
              <mat-icon matPrefix>person</mat-icon>
              <input matInput formControlName="segundo_apellido">
              <mat-error *ngFor="let error of getErrors(i, 'segundo_apellido')">
                <mat-icon>error</mat-icon> {{ error }}
              </mat-error>
            </mat-form-field>

            <mat-form-field class="half-width" appearance="outline">
              <mat-label>Género</mat-label>
              <mat-icon matPrefix>person</mat-icon>
              <mat-select formControlName="genero">
                <mat-option *ngFor="let item of genero" [value]="item.value">{{ item.label }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- Datos de Residencia -->
          <div class="form-row">
            <mat-form-field class="half-width" appearance="outline">
              <mat-label>Departamento de Residencia</mat-label>
              <mat-icon matPrefix>location_city</mat-icon>
              <mat-select formControlName="id_departamento_residencia" (selectionChange)="onDepartamentoChange($event)">
                <mat-option *ngFor="let departamento of departamentos" [value]="departamento.value">
                  {{ departamento.label }}
                </mat-option>
              </mat-select>
              <mat-error *ngFor="let error of getErrors(i, 'id_departamento_residencia')">
                <mat-icon>error</mat-icon> {{ error }}
              </mat-error>
            </mat-form-field>

            <mat-form-field class="half-width" appearance="outline">
              <mat-label>Municipio De Residencia</mat-label>
              <mat-icon matPrefix>location_city</mat-icon>
              <mat-select formControlName="id_municipio_residencia">
                <mat-option *ngFor="let municipio of municipios" [value]="municipio.value">
                  {{ municipio.label }}
                </mat-option>
              </mat-select>
              <mat-error *ngFor="let error of getErrors(i, 'id_municipio_residencia')">
                <mat-icon>error</mat-icon> {{ error }}
              </mat-error>
            </mat-form-field>

            <mat-form-field class="half-width" appearance="outline">
              <mat-label>Dirección De Residencia</mat-label>
              <mat-icon matPrefix>home</mat-icon>
              <input matInput formControlName="direccion_residencia">
              <mat-error *ngFor="let error of getErrors(i, 'direccion_residencia')">
                <mat-icon>error</mat-icon> {{ error }}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-row">
            <mat-form-field class="half-width" appearance="outline">
              <mat-label>Teléfono</mat-label>
              <mat-icon matPrefix>phone</mat-icon>
              <input matInput formControlName="telefono_1" type="text" maxlength="12" minlength="8">
              <mat-error *ngFor="let error of getErrors(i, 'telefono_1')">
                <mat-icon>error</mat-icon> {{ error }}
              </mat-error>
            </mat-form-field>

            <mat-form-field class="half-width" appearance="outline">
              <mat-label>Porcentaje De Beneficio</mat-label>
              <mat-icon matPrefix>percent</mat-icon>
              <input 
                matInput 
                formControlName="porcentaje" 
                type="number" 
                step="0.01" 
                (input)="validarPorcentaje(i)"
              >
            
              <!-- ✅ Siempre mostrar el porcentaje disponible -->
              <mat-hint align="end">
                <mat-icon>info</mat-icon> Disponible: {{ porcentajeDisponible | number:'1.2-2' }}%
              </mat-hint>
            
              <!-- 🚨 Muestra errores según el problema específico -->
              <mat-error *ngIf="beneficiarios.at(i).get('porcentaje')?.hasError('excedeTotal')">
                <mat-icon>error</mat-icon> No puede superar el {{ porcentajeDisponible | number:'1.2-2' }}% disponible.
              </mat-error>
            
              <mat-error *ngIf="beneficiarios.at(i).get('porcentaje')?.hasError('minimoInvalido')">
                <mat-icon>error</mat-icon> El porcentaje mínimo permitido es 0.01%.
              </mat-error>
            </mat-form-field>
            
            
              
          </div>

          <!-- Botón para eliminar beneficiario -->
          <div class="action-buttons">
            <button mat-button color="warn" (click)="eliminarBeneficiario(i)" *ngIf="beneficiarios.length > 1">
              <mat-icon>remove</mat-icon> Eliminar Beneficiario
            </button>
          </div>
        </div>
      </div>
    </form>

    <!-- Botón para agregar beneficiario -->
    <div class="action-buttons">
      <button mat-button color="primary" (click)="agregarBeneficiario()">
        <mat-icon>add</mat-icon> Agregar Beneficiario
      </button>
    </div>
  </div>
</div>
