<div class="container">
    <h1 class="title">Gestión de Facturas</h1>
    <div class="card-container">
      <mat-card
        class="card"
        *ngFor="let option of menuOptions"
        [routerLink]="option.route"
      >
        <mat-card-header>
          <div mat-card-avatar class="card-icon">
            <mat-icon>{{ option.icon }}</mat-icon>
          </div>
          <mat-card-title>{{ option.label }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ option.description }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  