.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #1c9588;
  }
  
  .card-container {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .card {
    width: 300px;
    cursor: pointer;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-icon {
    background-color: #1c9588;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 10px 0;
  }
  
  mat-card-title {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  mat-card-content p {
    font-size: 14px;
    color: #757575;
    text-align: center;
  }
  