<div class="card">
  <div class="card-header card-header-danger tittle" style="background: #229e92">
    <h4 class="card-title">Cuenta en Bancos</h4>
    <p class="card-category">Completa la información correspondiente</p>
  </div>

  <form [formGroup]="formParent" (change)="onDatosHistSal()">
    <div formArrayName="refpers">
      <div *ngFor="let skill of getCtrl('refpers', formParent).controls; index as formChild; let i = index">
        <h4 class="card-title">Banco número: {{i+1}}</h4>
        <div [formGroupName]="formChild" class="row">
          <div class="col-md-6">
            <mat-form-field class="example-full-width; inputs" appearance="outline">
              <mat-label>Nombre del Banco</mat-label>
              <select matNativeControl formControlName="nombre_banco">
                <option *ngFor="let p of Bancos" [value]="p.value">
                  {{p.label}}
                </option>
              </select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width; inputs" appearance="outline">
              <mat-label>Número de cuenta:</mat-label>
              <input matInput type="text" formControlName="numero_cuenta">
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="row" style="text-align: center; margin: 1%;">
    <div class="col-md-6">
      <button mat-button color="primary" (click)="agregarRefPer()"><mat-icon matSuffix>exposure_plus_1</mat-icon>Agregar cuenta de Banco</button>
    </div>
    <div class="col-md-6">
      <button mat-button color="warn" (click)="eliminarRefPer()"><mat-icon matSuffix>exposure_neg_1</mat-icon>Eliminar Cuenta de banco</button>
    </div>
  </div>
</div>