<!-- ESTE NO SE ESTA OCUPANDO -->

<app-dat-generales-afiliado (newDatosGenerales)="setDatosGenerales($event)"></app-dat-generales-afiliado>

<div class="card">
  <div class="card-header card-header-danger tittle">
    <h4 class="card-title">Datos De Afiliados</h4>
  </div>

  <div class="card-body">
    <div style="overflow-x: auto;">

      <table class="table table-striped table-responsive table-borderless">
        <thead>
          <tr>
            <th class="encabezado col-xs-1" scope="col">ID</th>
            <th class="encabezado col-xs-1" scope="col">NOMBRE COMPLETO</th>
            <th class="encabezado col-xs-1" scope="col">NÚMERO DE IDENTIFICACIÓN</th>
            <th class="encabezado col-xs-1" scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center" *ngFor="let afiliado of informacion">
            <td class="info">{{afiliado.ID_AFILIADO}}</td>
            <td class="info">{{afiliado.PRIMER_NOMBRE + ' ' + afiliado.SEGUNDO_NOMBRE + ' ' + afiliado.TERCER_NOMBRE + '
              ' + afiliado.PRIMER_APELLIDO + ' ' + afiliado.SEGUNDO_APELLIDO}}</td>
            <td class="info">{{afiliado.DNI}}</td>

            <td class="info"><button mat-icon-button (click)="editarCentroTrabajo(afiliado)">
                <mat-icon>edit</mat-icon>
              </button></td>
          </tr>

        </tbody>
      </table>
    </div>

    <mat-paginator #matPaginator [length]="informacion.length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25]"
      (page)="onPageChange($event)" aria-label="Select page">
    </mat-paginator>
  </div>
</div>