<ng-template #datosGeneralesTemplate>
  <app-datos-generales
    [formGroup]="steps[0].formGroup"
    (imageCaptured)="handleImageCaptured($event)">
  </app-datos-generales>
  <app-peps [parentForm]="steps[0].formGroup"></app-peps>
</ng-template>

<ng-template #referenciasPersonalesTemplate>
  <app-ref-pers [formGroup]="steps[1].formGroup"></app-ref-pers>
</ng-template>

<ng-template #colegiosMagisterialesTemplate>
  <app-col-magisteriales [formGroup]="steps[2].formGroup"></app-col-magisteriales>
</ng-template>

<ng-template #bancosTemplate>
  <app-bancos [formGroup]="steps[3].formGroup"></app-bancos>
</ng-template>

<ng-template #centrosTrabajoTemplate>
  <mat-tab-group>
    <mat-tab label="Puestos de Trabajo">
      <app-dat-puesto-trab [formGroup]="steps[4].formGroup"></app-dat-puesto-trab>
    </mat-tab>
    <mat-tab label="Otras Fuentes de Ingreso">
      <app-otras-fuentes-ingreso [formGroup]="steps[4].formGroup"></app-otras-fuentes-ingreso>
    </mat-tab>
  </mat-tab-group>
</ng-template>

<ng-template #beneficiariosTemplate>
  <app-benef [formGroup]="steps[5].formGroup"></app-benef>
</ng-template>

<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step>
    <ng-template matStepLabel>
      <div class="step-label">
        <ng-container *ngIf="isStepInvalid(steps[0].formGroup); else validLabel1">
          <mat-icon class="error-icon" color="warn">error_outline</mat-icon>
          <div class="error-text">
            <strong>Información inválida</strong>
          </div>
        </ng-container>
        <ng-template #validLabel1>Datos Generales</ng-template>
      </div>
    </ng-template>
    <ng-container *ngTemplateOutlet="datosGeneralesTemplate"></ng-container>
    <div>
      <button mat-button (click)="markAllAsTouched(steps[0].formGroup); stepper.next()">Siguiente</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>
      <div class="step-label">
        <ng-container *ngIf="isStepInvalid(steps[1].formGroup); else validLabel2">
          <mat-icon class="error-icon" color="warn">error_outline</mat-icon>
          <div class="error-text">
            <strong>Información inválida</strong>
          </div>
        </ng-container>
        <ng-template #validLabel2>Referencias Personales</ng-template>
      </div>
    </ng-template>
    <ng-container *ngTemplateOutlet="referenciasPersonalesTemplate"></ng-container>
    <div>
      <button mat-button (click)="stepper.previous()">Anterior</button>
      <button mat-button (click)="markAllAsTouched(steps[1].formGroup); stepper.next()">Siguiente</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>
      <div class="step-label">
        <ng-container *ngIf="isStepInvalid(steps[2].formGroup); else validLabel3">
          <mat-icon class="error-icon" color="warn">error_outline</mat-icon>
          <div class="error-text">
            <strong>Información inválida</strong>
          </div>
        </ng-container>
        <ng-template #validLabel3>Colegios Magisteriales</ng-template>
      </div>
    </ng-template>
    <ng-container *ngTemplateOutlet="colegiosMagisterialesTemplate"></ng-container>
    <div>
      <button mat-button (click)="stepper.previous()">Anterior</button>
      <button mat-button (click)="markAllAsTouched(steps[2].formGroup); stepper.next()">Siguiente</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>
      <div class="step-label">
        <ng-container *ngIf="isStepInvalid(steps[3].formGroup); else validLabel4">
          <mat-icon class="error-icon" color="warn">error_outline</mat-icon>
          <div class="error-text">
            <strong>Información inválida</strong>
          </div>
        </ng-container>
        <ng-template #validLabel4>Cuentas Bancarias</ng-template>
      </div>
    </ng-template>
    <ng-container *ngTemplateOutlet="bancosTemplate"></ng-container>
    <div>
      <button mat-button (click)="stepper.previous()">Anterior</button>
      <button mat-button (click)="markAllAsTouched(steps[3].formGroup); stepper.next()">Siguiente</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>
      <div class="step-label">
        <ng-container *ngIf="isStepInvalid(steps[4].formGroup); else validLabel5">
          <mat-icon class="error-icon" color="warn">error_outline</mat-icon>
          <div class="error-text">
            <strong>Información inválida</strong>
          </div>
        </ng-container>
        <ng-template #validLabel5>Centros de Trabajo y Otras Fuentes de Ingreso</ng-template>
      </div>
    </ng-template>
    <ng-container *ngTemplateOutlet="centrosTrabajoTemplate"></ng-container>
    <div>
      <button mat-button (click)="stepper.previous()">Anterior</button>
      <button mat-button (click)="markAllAsTouched(steps[4].formGroup); stepper.next()">Siguiente</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>
      <div class="step-label">
        <ng-container *ngIf="isStepInvalid(steps[5].formGroup); else validLabel6">
          <mat-icon class="error-icon" color="warn">error_outline</mat-icon>
          <div class="error-text">
            <strong>Información inválida</strong>
          </div>
        </ng-container>
        <ng-template #validLabel6>Beneficiarios</ng-template>
      </div>
    </ng-template>
    <ng-container *ngTemplateOutlet="beneficiariosTemplate"></ng-container>
    <div>
      <button mat-button (click)="stepper.previous()">Anterior</button>
      <button mat-button color="primary" (click)="onSubmit()">Enviar</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
