<!-- <button
  (click)="cargarBeneficiosRecient()"
  mat-raised-button
  style="
    margin: 2% 0;
    background-color: #628780;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 20px;
  "
>
  Cargar Beneficios Recientes
</button> -->

<div style="background-color: white; margin-bottom: 1%">
  <app-dynamic-form [fields]="myFormFields" titulo="Detalles De Planilla"
    subtitulo="Completa la información correspondiente" (newDatBenChange)="obtenerDatosForm($event)"></app-dynamic-form>
  <div style="text-align: center">
    <button color="primary" (click)="getPlanilla()" [disabled]="datosFormateados.invalid" mat-raised-button style="
        margin: 2% 0;
        color: #ffffff;
        border-radius: 5px;
        padding: 10px 20px;
      ">
      Previsualizar Datos Planilla
    </button>
  </div>
</div>
<div>
  <div class="card-header card-header-danger title" *ngIf="detallePlanilla">
    <div class="card-body" style="padding: 1%">
      <h4 class="card-title">Datos Generales De La Planilla</h4>
      <table>
        <tr class="detalles-planilla-table">
          <th>Nombre Planilla</th>
          <td>{{ detallePlanilla?.tipoPlanilla.nombre_planilla }}</td>
          <th>Fecha Apertura</th>
          <td>{{ convertirFecha(detallePlanilla?.fecha_apertura, true) }}</td>
        </tr>
        <tr>
          <th>Secuencia</th>
          <td>{{ detallePlanilla?.secuencia }}</td>
          <th>Estado</th>
          <td>{{ detallePlanilla?.estado }}</td>
        </tr>
        <tr style="background-color: #f2f2f2">
          <th>Período Inicio</th>
          <td>{{ detallePlanilla?.periodoInicio }}</td>
          <th>Período Finalización</th>
          <td>{{ detallePlanilla?.periodoFinalizacion }}</td>
        </tr>
      </table>

      <h4 class="card-title">
        Asignación De Beneficios Y Deducciones A La Planilla
      </h4>

      <div>
        <app-dynamic-table [verOpcEditar]="false" [columns]="myColumnsDed" [data]="datosTabl"
          (ejecutarFuncionAsincronaEvent)="
            ejecutarFuncionAsincronaDesdeOtroComponente($event)
          " [editarFunc]="editar" [nombreEncabezadoUno]="'Detalle Ingresos'" [mostrarBotonUno]="true"
          [etiquetaBotonUno]="'Detalle Ingresos'" (accionBotonUno)="manejarAccionUno($event)"
          [nombreEncabezadoDos]="'Detalle Deducciones'" [mostrarBotonDos]="true"
          [etiquetaBotonDos]="'Detalle Deducciones'" (accionBotonDos)="manejarAccionDos($event)">
        </app-dynamic-table>
      </div>
      <div style="text-align: center">
        <button (click)="actualizarPlanilla()" mat-raised-button style="
            margin: 2% 0;
            background-color: #628780;
            color: #ffffff;
            border-radius: 5px;
            padding: 10px 20px;
          ">
          Enviar a preliminar
        </button>
      </div>
    </div>
  </div>
</div>

<!--

  [nombreEncabezadoUno]="'Detalle Ingresos'"
          [mostrarBotonUno]="true"
          [etiquetaBotonUno]="'Detalle Ingresos'"
          (accionBotonUno)="manejarAccionUno($event)"
          [nombreEncabezadoDos]="'Detalle Deducciones'"
          [mostrarBotonDos]="true"
          [etiquetaBotonDos]="'Detalle Deducciones'"
          (accionBotonDos)="manejarAccionDos($event)"
 -->