<div class="main-content">
  <div class="col-md-12">

    <form [formGroup]="form" #myForm="ngForm">
      <app-dat-generales-afiliado groupName="DatosGenerales" (change)="setDatosGen()" ></app-dat-generales-afiliado>
      <app-dat-banc groupName="DatosBacAfil"></app-dat-banc>
      <app-botonarchivos groupName="Archivos" labelBoton="Descarga el archivo de identificación (Afiliado)"></app-botonarchivos>
      
      
    </form>
    
    <app-dat-puesto-trab (newDatDatosPuestTrab)="setDatosPuetTrab1($event)"></app-dat-puesto-trab>
    <app-historial-salario  (newDatHistSal)="setHistSal($event)"></app-historial-salario>

    <app-ref-pers  (newDatRefPerChange)="setDatosRefPer($event)"></app-ref-pers> 
    <app-benef (newDatBenChange)="setDatosBen($event)"></app-benef> 
    
    <!--     <strong>Datos Generales</strong>
    {{ form.controls.DatosGenerales.value | json }}
    <strong>Status:</strong> {{ form.controls.DatosGenerales.status }}
    <br>
    <strong>Datos del puesto de trabajo (Afiliado)</strong>
      {{ form.controls.DatosPuestoTrab.value | json }}
      <strong>Status:</strong> {{ form.controls.DatosPuestoTrab.status }}
      <br>
      <strong>Datos Bancarios</strong>
      {{ form.controls.DatosBacAfil.value | json }}
      <strong>Status:</strong> {{ form.controls.DatosBacAfil.status }}
      <br>
      <strong>Archivos:</strong>
      {{ form.controls.Archivos.value | json }}
      <strong>Status:</strong> {{ form.controls.Archivos.status }}
      <br>
      <strong>Datos Referencias:</strong>
    {{ formReferencias.controls.refpers.value | json }}
    <strong>Status:</strong> {{ formReferencias.controls.refpers.status }}
    <strong>Datos Beneficiario:</strong>
    {{ formBeneficiarios.controls.refpers.value | json }}
    <strong>Status:</strong> {{ formBeneficiarios.controls.refpers.status }} -->
    
    <div class="card">
      <div class="card-header card-header-danger tittle">
        <h4 class="card-title">Envio de formulario</h4>
        <p class="card-category">Presione el botón enviar para continuar con el proceso.</p>
      </div>

      <div class="card-body">
        <!-- [disabled]="form.controls.DatosGenerales.invalid || form.controls.DatosPuestoTrab.invalid || form.controls.DatosBacAfil.invalid || form.controls.Archivos.invalid || formReferencias.controls.refpers.invalid || formBeneficiarios.controls.refpers.invalid" -->
        <button mat-button color="primary"  (click)="enviar()">Enviar Formulario</button>
      </div>

    </div>
  </div>
</div>