<div class="main-content">
  <div class="col-md-12">

    <form [formGroup]="form">
      <app-dat-generales-afiliado groupName="DatosGenerales" (change)="setDatosGen()"></app-dat-generales-afiliado>
      <app-dat-puesto-trab groupName="DatosPuestoTrab" (change)="setDatosPuetTrab()"></app-dat-puesto-trab>

      <app-dat-banc groupName="DatosBacAfil" (newDatBancChange)="setDatosBanc($event)"></app-dat-banc>
      
      <app-ref-pers (newDatRefPerChange)="setDatosRefPer($event)"></app-ref-pers> 
      <app-benef (newDatBenChange)="setDatosBen($event)"></app-benef> 
    </form>

    <div class="card">
      <div class="card-header card-header-danger tittle">
        <h4 class="card-title">Envio de formulario</h4>
        <p class="card-category">Presione el botón enviar para continuar con el proceso.</p>
      </div>

      <div class="card-body">
        <button mat-button color="primary" (click)="enviar()">Enviar Formulario</button>
      </div>

    </div>
  </div>
</div>