<div class="card">
  <div class="card-header card-header-danger title">
    <h4 class="card-title">PEPS</h4>
    <p class="card-category">Completa la información correspondiente</p>
  </div>
  <div class="card-body">

    <form *ngIf="peps" [formGroup]="parentForm" style="margin: 1%;">
      <div formArrayName="peps">
        <div *ngFor="let pep of peps.controls; let i = index" [formGroupName]="i" class="row">
          <h4 class="card-title">Cargo {{ i + 1 }}</h4>
          <app-shared-form-fields [parentForm]="asFormGroup(pep)" [fields]="fields">
          </app-shared-form-fields>
        </div>
      </div>
      <div class="row" style="text-align: center; margin: 1%;">
        <div class="col-md-6">
          <button mat-button color="primary" type="button" (click)="addReferencia()">
            <mat-icon matSuffix>exposure_plus_1</mat-icon> Agregar Cargo
          </button>
        </div>
        <div class="col-md-6" *ngIf="peps.length > 0">
          <button mat-button color="warn" type="button" (click)="removeReferencia(peps.length - 1)">
            <mat-icon matSuffix>exposure_neg_1</mat-icon> Eliminar Cargo
          </button>
        </div>
      </div>
    </form>

    <!-- Sección de Familiares -->
    <div *ngIf="peps.length > 0">
      <div class="card-header card-header-info title mt-3">
        <h4 class="card-title">Familiares</h4>
        <p class="card-category">EN CASO AFIRMATIVO: INDIQUE EL NOMBRE DE SUS FAMILIARES HASTA EL SEGUNDO GRADO DE CONSANGUINIDAD Y SEGUNDO DE AFINIDAD COMO SER: (PADRES, CÓNYUGE, HIJOS, ABUELOS, HERMANOS, NIETOS, SUEGROS, CUÑADOS, YERNOS, NUERAS).</p>
      </div>
      <form *ngIf="familiares" [formGroup]="parentForm" style="margin: 1%;">
        <div formArrayName="familiares">
          <div *ngFor="let familiar of familiares.controls; let j = index" [formGroupName]="j" class="row">
            <h4 class="card-title">Familiar {{ j + 1 }}</h4>
            <app-shared-form-fields [parentForm]="asFormGroup(familiar)" [fields]="familiaresFields">
            </app-shared-form-fields>
          </div>
        </div>
        <div class="row" style="text-align: center; margin: 1%;">
          <div class="col-md-6">
            <button mat-button color="primary" type="button" (click)="addFamiliar()">
              <mat-icon matSuffix>exposure_plus_1</mat-icon> Agregar Familiar
            </button>
          </div>
          <div class="col-md-6" *ngIf="familiares.length > 0">
            <button mat-button color="warn" type="button" (click)="removeFamiliar(familiares.length - 1)">
              <mat-icon matSuffix>exposure_neg_1</mat-icon> Eliminar Familiar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
