<app-camara (imageCaptured)="handleImageCaptured($event)"></app-camara>
<app-dynamic-form (selectChange)="handleSelectChange($event)" (newDatBenChange)="onDatosBenChange($event)"
  [titulo]="'Datos Generales del Afiliado'" [subtitulo]="'Completa la información correspondiente'" [fields]="fields"
  [incomingForm]="parentForm">
</app-dynamic-form>

<!-- Mostrar la imagen capturada -->
<div class="col-md-6" style="text-align: center;" *ngIf="parentForm.get('FotoPerfil')?.value">
  <img [src]="parentForm.get('FotoPerfil')?.value" alt="Foto de perfil" style="width: 200px; height: auto;">
</div>
