/* Estilo para el encabezado de la tarjeta */
.card-header-primary {
  background-color: #229e92; /* El color que prefieras */
  color: #fff;
  text-align: center;
  padding: 16px;
}

/* Estilo para los títulos de sección */
.section-title {
  margin: 16px 0;
  color: #444;
  font-weight: bold;
}

/* Ajustar el ancho de los campos de formulario */
.full-width-field {
  width: 100%;
}

form {
  padding: 16px;
}

/* Añadir un margen adicional para separar los campos */
.full-width-field {
  margin-bottom: 0px;
}

/* Estilo para el contenedor de los campos */
.fieldset-container {
  margin-top: 16px;
  padding: 8px;
}
