<div class="card">
  <div class="card-header card-header-danger title">
    <h4 class="card-title">Agregar PEPs</h4>
    <p class="card-category">Complete la información de las Personas Expuestas Políticamente (PEPs)</p>
  </div>
  <div class="card-body">
    <form [formGroup]="formPeps">
      <div formArrayName="peps">
        <div *ngFor="let pep of peps.controls; let i = index" [formGroupName]="i" class="row">
          <h4 class="card-title">PEP {{ i + 1 }}</h4>
          <app-shared-form-fields [parentForm]="asFormGroup(pep)" [fields]="fields"></app-shared-form-fields>
        </div>
      </div>
      <div class="row" style="text-align: center; margin: 1%;">
        <div class="col-md-6">
          <button mat-button color="primary" type="button" (click)="addReferencia()">
            <mat-icon matSuffix>exposure_plus_1</mat-icon> Agregar PEP
          </button>
        </div>
        <div class="col-md-6" *ngIf="peps.length > 0">
          <button mat-button color="warn" type="button" (click)="removeReferencia(peps.length - 1)">
            <mat-icon matSuffix>exposure_neg_1</mat-icon> Eliminar PEP
          </button>
        </div>
      </div>

      <!-- Botón para guardar, solo si el formulario es válido -->
      <div class="row" style="text-align: center; margin-top: 2%;" *ngIf="formPeps.valid && peps.length > 0">
        <button mat-button color="primary" type="button" (click)="savePeps()">
          <mat-icon matSuffix>save</mat-icon> Guardar PEPs
        </button>
      </div>
    </form>
  </div>
</div>
