<app-ver-planillas-activas (getElemSeleccionados)="getElemSeleccionados($event)"></app-ver-planillas-activas>

<!-- <div style="background-color: white; margin-bottom: 1%">
  <app-dynamic-form [fields]="myFormFields" titulo="Detalles De Planilla Preliminar"
    subtitulo="Completa la información correspondiente" (newDatBenChange)="obtenerDatosForm($event)">
  </app-dynamic-form>
  <div style="text-align: center">
    <button mat-raised-button color="primary" (click)="getPlanilla()" [disabled]="datosFormateados?.invalid"
      style="margin: 2% 0; color: white; border-radius: 5px; padding: 10px 20px">
      Ver Planilla preliminar
    </button>
  </div>
</div> -->

<div class="card-header card-header-danger title" *ngIf="detallePlanilla">
  <div class="card-body" style="padding: 1%">
    <h4 class="card-title">Datos Generales De La Planilla</h4>
    <table>
      <tr style="background-color: #f2f2f2">
        <th>Nombre Planilla</th>
        <td>{{ detallePlanilla?.tipoPlanilla?.nombre_planilla }}</td>
        <th>Fecha Apertura</th>
        <td>{{ convertirFecha(detallePlanilla?.fecha_apertura, true) }}</td>
      </tr>
      <tr>
        <th>Secuencia</th>
        <td>{{ detallePlanilla?.secuencia }}</td>
        <th>Estado</th>
        <td>{{ detallePlanilla?.estado }}</td>
      </tr>
      <tr style="background-color: #f2f2f2">
        <th>Período Inicio</th>
        <td>{{ detallePlanilla?.periodoInicio }}</td>
        <th>Período Finalización</th>
        <td>{{ detallePlanilla?.periodoFinalizacion }}</td>
      </tr>
      <tr>
        <th>Total Beneficios</th>
        <td>{{ detallePlanilla?.totalBeneficios | currency: "L" }}</td>
        <th>Deducciones INPREMA</th>
        <td>{{ detallePlanilla?.deduccionesI | currency: "L" }}</td>

      </tr>
      <tr style="background-color: #f2f2f2">
        <th>Total Neto</th>
        <td>{{ detallePlanilla?.totalNeto | currency: "L" }}</td>
        <th>Deducciones Terceros</th>
        <td>{{ detallePlanilla?.deduccionesT | currency: "L" }}</td>
        <td></td>
      </tr>
    </table>
  </div>
</div>

<div style="background-color: white;margin-bottom: 1%; padding-top: 1%;margin-top: 1%; " *ngIf="verDat">
  <h4 class="card-title" style="text-align: center">
    Personas en la Planilla
  </h4>

  <div style="padding: 1% 1% 1% 1%">
    <app-dynamic-table
      titulo="Datos de personas en planilla"
      subtitulo="Completa la información correspondiente"
      style="width: 100%"
      [nombreEncabezadoUno]="'Desglose'"
      [verOpcEditar]="false"

      [mostrarBotonUno]="true"
      [etiquetaBotonUno]="'Ingresos'"
      [nombreEncabezadoUno]="'Detalle Ingresos'"
      (ejecutarFuncionAsincronaEvent)="ejecutarFuncionAsincronaDesdeOtroComponente($event)"
      (accionBotonUno)="manejarAccionUno($event)"

      [nombreEncabezadoDos]="'Detalle Deducciones'"
      [etiquetaBotonDos]="'Deducciones'"
      [mostrarBotonDos]="true"
      (ejecutarFuncionAsincronaEvent)="ejecutarFuncionAsincronaDesdeOtroComponente($event)"
      (accionBotonDos)="manejarAccionDos($event)"

      [columns]="myColumnsDed"
      [data]="datosTabl"
      [getData]="getFilas">

    </app-dynamic-table>

    <div style="background-color: white; margin-bottom: 1%; text-align: center">
      <button  mat-raised-button color="primary"
      [disabled]="detallePlanilla.beneficios_cargados == 'NO' " (click)="actualizarFechaCierrePlanilla()"
      style="
        margin: 2% 2%;
        padding: 2% 1% 1% 1%;
        color: #ffffff;
        border-radius: 5px;
        padding: 10px 20px;"
        >
        Cerrar planilla
      </button>
    </div>
  </div>
</div>


<!-- || detallePlanilla.deducc_inprema_cargadas == 'NO' || detallePlanilla.deducc_terceros_cargadas == 'NO' -->
