:host {
  .legend {
    small {
      font-size: x-small;
    }
  }
}


#map {
  height: 500px;
}

canvas {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}

.centered-icon {
  width: 70px !important;
  height: 70px !important;
  color: #000 !important;
}

.fs-2 {
  font-size: 2rem;
}

.fs-5 {
  font-size: 1.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

