<div class="main-content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-danger tittle">
        <h4 class="card-title">Datos De Centro De Trabajo</h4>
        <p class="card-category">Completa la información correspondiente</p>
      </div>
      <div class="card-body">
        <form [formGroup]="formulario">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="example-full-width" style="width: 100%" appearance="outline">
                <mat-label>Nombre del centro de trabajo</mat-label>
                <input matInput placeholder="Centro de trabajo" formControlName="nombre">
                <mat-icon matSuffix>home</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="example-full-width" style="width: 100%" appearance="outline">
                <mat-label>Ciudad del centro de trabajo</mat-label>
                <input matInput placeholder="Ciudad" formControlName="ciudad">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <mat-form-field class="example-full-width" style="width: 100%" appearance="outline">
                <mat-label>Correo 1</mat-label>
                <input matInput placeholder="Correo" formControlName="correo_1">
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="example-full-width" style="width: 100%" appearance="outline">
                <mat-label>Correo 2</mat-label>
                <input matInput placeholder="Correo" formControlName="correo_2">
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="example-full-width" style="width: 100%" appearance="outline">
                <mat-label>Teléfono 1</mat-label>
                <input matInput placeholder="Teléfono" formControlName="telefono_1">
                <mat-icon matSuffix>contacts</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="example-full-width" style="width: 100%" appearance="outline">
                <mat-label>Teléfono 2</mat-label>
                <input matInput placeholder="Teléfono" formControlName="telefono_2">
                <mat-icon matSuffix>contacts</mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="example-full-width" style="width: 100%" appearance="outline">
                <input matInput placeholder="Apoderado Legal" type="text" formControlName="apoderado_legal">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="example-full-width" style="width: 100%" appearance="outline">
                <input matInput placeholder="Representante Legal" type="text" formControlName="representante_legal">
              </mat-form-field>
            </div>
          </div>
          <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="agregarCentroTrabajo()" style="background-color: #229e92; color: #ffffff; border-radius: 5px; padding: 10px 20px;">Agregar</button>
          <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="limpiarCentroTrabajo()" style="background-color: #229e92; color: #ffffff; border-radius: 5px; padding: 10px 20px;">Limpiar</button>
        </form>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header card-header-danger tittle">
      <div class="row">
        <div class="col-6">
          <h4 class="card-title">Centros de trabajo</h4>
        </div>
        <!-- <div class="col-6">
          <mat-form-field  style="width: 40%" appearance="outline">
          <input matInput placeholder="Buscar por nombre" [(ngModel)]="nombreBusqueda" class="custom-input"/>
        </mat-form-field>
          <button mat-raised-button color="primary" (click)="buscarPorNombre()"><mat-icon>search</mat-icon></button>
        </div> -->
      </div>
    </div>

    <div class="card-body">
      <div style="overflow-x: auto;">
        <table class="table table-striped table-responsive table-borderless">
          <thead>
            <tr>
              <th class="encabezado col-xs-1" scope="col">ID</th>
              <th class="encabezado col-xs-1" scope="col">Nombre</th>
              <th class="encabezado col-xs-1" scope="col">Ciudad</th>
              <th class="encabezado col-xs-1" scope="col">Correo 1</th>
              <th class="encabezado col-xs-1" scope="col">Correo 2</th>
              <th class="encabezado col-xs-1" scope="col">Telefono 1</th>
              <th class="encabezado col-xs-1" scope="col">Telefono 2</th>
              <th class="encabezado col-xs-4" scope="col">Apoderado Legal</th>
              <th class="encabezado col-xs-4" scope="col">Representante legal</th>
              <th class="encabezado col-xs-4" scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center" *ngFor="let centroTrabajo of informacion">
              <td class="info">{{centroTrabajo.ID_CENTRO_TRABAJO}}</td>
              <td class="info">{{centroTrabajo.NOMBRE}}</td>
              <td class="info">{{centroTrabajo.CIUDAD_ID_CIUDAD}}</td>
              <td class="info">{{centroTrabajo.CORREO_1}}</td>
              <td class="info">{{centroTrabajo.CORREO_2}}</td>
              <td class="info">{{centroTrabajo.TELEFONO_1}}</td>
              <td class="info">{{centroTrabajo.TELEFONO_2              }}</td>
              <td class="info">{{centroTrabajo.APODERADO_LEGAL}}</td>
              <td class="info">{{centroTrabajo.REPRESENTANTE_LEGAL}}</td>
              <td class="info"><button mat-icon-button (click)="editarCentroTrabajo(centroTrabajo)">
                <mat-icon>edit</mat-icon>
              </button></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
