

.full-width {
  width: 100%;
}

.separator-container {
  text-align: center; /* Centra el contenido horizontalmente */
}

.custom-hr {
  width: 90%;
  border-style: solid;
  border-width: 0 0 1px 0; /* Solo el borde inferior */
  display: inline-block; /* Permite establecer un ancho */
}

.tittle {
  color:white;
  background: #229e92;
}

/* datos-gen-afil.component.scss */
.fila-impar {
  background-color: #f0f0f0; /* Estilo para filas impares */
}

.fila-par {
  background-color: #ffffff; /* Estilo para filas pares */
}
