<div class="container">
  <app-dynamic-form [fields]="myFormFields" titulo="Detalles De Planilla Preliminar" subtitulo="Completa la información correspondiente" (newDatBenChange)="obtenerDatosForm($event)"></app-dynamic-form>

  <button (click)="getPlanilla()" [disabled]="datosFormateados.invalid" mat-raised-button style="margin: 2% 0;
  background-color: #628780;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px 20px;">Ver Planilla preliminar</button>
</div>

<div class="card-header card-header-danger title" *ngIf="detallePlanilla">
  <div class="card-body" style="padding: 1%">
    <h4 class="card-title">Datos Generales De La Planilla</h4>
    <table>
      <tr>
        <th>Nombre Planilla</th>
        <td>{{detallePlanilla?.nombre_planilla}}</td>
        <th>Fecha Apertura</th>
        <td>{{convertirFecha(detallePlanilla?.fecha_apertura)}}</td>
      </tr>
      <tr>
        <th>Secuencia</th>
        <td>{{detallePlanilla?.secuencia}}</td>
        <th>Estado</th>
        <td>{{detallePlanilla?.estado}}</td>
      </tr>
      <tr>
        <th>Periodo Inicio</th>
        <td>{{detallePlanilla?.periodoInicio}}</td>
        <th>Periodo Finalización</th>
        <td>{{detallePlanilla?.periodoFinalizacion}}</td>
      </tr>
    </table>

    <h4 class="card-title">Afiliados en la Planilla</h4>


    <div>
      <app-dynamic-table
        [verOpcEditar]="false"
        [columns]="myColumnsDed"
        [data]="datosTabl" (ejecutarFuncionAsincronaEvent)="ejecutarFuncionAsincronaDesdeOtroComponente($event)"
        [nombreEncabezadoUno]="'Detalle Ingresos'"
        [mostrarBotonUno]="true"
        [etiquetaBotonUno]="'Detalle Ingresos'"
        (accionBotonUno)="manejarAccionUno($event)"
        [nombreEncabezadoDos]="'Detalle Deducciones'"
        [mostrarBotonDos]="true"
        [etiquetaBotonDos]="'Detalle Deducciones'"
        (accionBotonDos)="manejarAccionDos($event)"
      >
      </app-dynamic-table>
    </div>
    <button (click)="actualizarFechaCierrePlanilla()" mat-raised-button style="
      margin: 2% 0;
      background-color: #628780;
      color: #ffffff;
      border-radius: 5px;
      padding: 10px 20px;"
    >Cerrar planilla</button>
    <button  mat-raised-button style="
      margin: 2% 0;
      background-color: #628780;
      color: #ffffff;
      border-radius: 5px;
      padding: 10px 20px;"
    >Generar reporte</button>
    <button (click)="mostrarTotales()" mat-raised-button style="margin: 2% 0; background-color: #628780; color: #ffffff; border-radius: 5px; padding: 10px 20px;">
      Mostrar totales de ingresos
    </button>
</div>
